.activity-item{
    &.ng-move{
        background: rgba(255, 255, 10, 0.3);
        opacity:0;
        @include transition(all 1.5s ease);

        &.ng-move-active{
            opacity:1;
            background: #fff;
        }
    }
}

.fade {
    &.ng-enter, &.ng-leave{
        @include transition(all 2s linear);
    }

    &.ng-enter {
        max-height:0px;
        opacity:0;

        &.ng-enter-active {
            max-height:999px;
            opacity:1;
        }
    }

    &.ng-leave{
        max-height:999px;
        opacity:1;

        &.ng-leave-active{
            max-height:0;
            opacity:0;
        }
    }
}
