.activity-item{
    &.ng-move{
        background: rgba(255, 255, 10, 0.3);
        opacity:0;
        @include transition(all 1.5s ease);

        &.ng-move-active{
            opacity:1;
            background: #fff;
        }
    }
}