@import "compass/css3/images";
@import "compass/css3/transform";

/* Annotator Plugin Styling
--------------------------------*/
.glyphicon{
	font-family: 'Glyphicons Halflings' !important;

	&.selected{
		color:blue;
	}

	&.logged-in{
		cursor:pointer;
	}

	.action-count:before{
		content: '(';
	}

	.action-count:after{
		content: ')';
	}
}

.comment-toggle{
	cursor: pointer;
}

.caret-right{
	@include rotate(-90deg);
}

.annotation-action > span{
	margin:0 5px;
}

.annotation-comments{
	input[type="text"]{
		padding-left:10px;
	}

	.btn{
		margin-top:5px;
		padding:0px 10px;
		@include background-image(linear-gradient(#428bca, #3071a9));
		color:white;

		&:hover{
			@include background-image(linear-gradient(scale-lightness(#428bca, 20%), scale-lightness(#3071a9, 20%)));
		}
	}
}

.comment-author:before, .annotation-author:before{
	content:'-';
	margin-right:5px;
}

.sidebar-annotation{
	cursor:pointer;

	background:gray;
	color:lightgray;

	&:hover{
		background: scale-lightness(gray, 20%);
		color: scale-darkness(lightgray, 20%);
	}
}