/* Annotator Plugin Styling
--------------------------------*/
.glyphicon{
	font-family: 'Glyphicons Halflings' !important;
	cursor:pointer;

	&.selected{
		color:blue;
	}
}

.annotation-action > span{
	margin:0 5px;
}