/* Annotator Plugin Styling
--------------------------------*/
.glyphicon{
	font-family: 'Glyphicons Halflings' !important;

	&.selected{
		color:blue;
	}

	&.logged-in{
		cursor:pointer;
	}

	.action-count:before{
		content: '(';
	}

	.action-count:after{
		content: ')';
	}
}

.annotation-action > span{
	margin:0 5px;
}