.doc_content{
	/* max-height:700px;
	overflow-y:scroll; */
	ol{
		list-style:none;
	}
	margin-bottom: 165px;
}

.how-to-annotate{
	@include bg($light-gray);
	border-radius:10px;
	position: relative;
	margin-bottom:20px;
	padding: 10px 15px;

	h2{
		text-align:center;
	}

	ol{
		margin-top:15px;
	}

	.how-to-annotate-close{
		position:absolute;
		top:10px;
		right:10px;
		cursor:pointer;
	}
}

.annotator-widget{
	padding: 6px 10px 10px 10px !important;
	.annotator-item{
		p{
			font-style: normal;
			color: #333;
			line-height: 130%;
		}
	}
	.existing-comment{
		padding-left: 0px;
		blockquote{
			font-size: 12px;
			padding-left: 10px;
		}
	}
	.annotation-link, .annotation-action, .annotation-toggle, .comment-toggle, .current-comments, .annotation-comments{
		padding-left: 0px;
		padding-right: 0px;
	}
	.annotat-user{
		padding-top: 0px;
	}
}

.annotator-viewer div{
	border-top: none !important;
}

.doc-info{
	padding-left: 0px;
	margin-bottom: 25px;
	h1{
		text-align: left;
		font-size: 28px;
		color: #333;
	}
	div{
		color: #666;
	}

	.doc-support, .doc-oppose{
		background:#fff;
		color:#555;

		&:hover{
			background:fff;
			color:#111;
		}
	}
}

.how-to-annotate{
	.how-to-annotate-img{
		border: 1px solid #ccc;
	}
	h2{
		font-size: 24px;
		text-align: left;
	}
	h2,h3{
		margin-top: 0px;
	}
	ol{
		padding-left: 22px;
	}
}

.doc-sponsor{
	padding-bottom: 5px;
}
