.doc_content{
	/* max-height:700px;
	overflow-y:scroll; */
	ol{
		list-style:none;
	}
	margin-bottom: 165px;
}

.doc-info{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 0px;
	margin-bottom: 25px;
	h1{
		text-align: left;
		font-size: 28px;
	}
	div{
		color: #666;
	}
}