.intro {
  background-color: $mx-white;
  padding: 35px 0 45px;

  h1 {
    text-align: left;
  }
}

.home-docs {
  .home-docs-filters {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .home-docs-list {
    margin-bottom: 50px;
  }

  .docs-list {
    > li {
      background-color: $mx-lighter-gray;

      &:nth-child(even) {
        background-color: darken($mx-lighter-gray, 10%);
      }

      .list-item {
        display: block;
        padding: 20px;

        &:hover {
          padding-left: 30px;
        }
      }
    }

    .list-doc-info {
      color: $mx-gray;
    }

    .doc-categories {
      vertical-align: 2px;

      .category {
        background-color: #548dca;
        margin-left: 5px;
        font-size: 10px;
        color: $mx-white;
        padding: 1px 3px;
      }
    }

    .doc-title {
      color: #545554;
      display: inline;
      margin: 0;
      color: $mx-black;
    }
  }
}