@mixin grad-bg($start, $end){
	background: $start; /* Old browsers */
	background: -moz-linear-gradient(top, $start 0%, $end 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $end)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $start 0%, $end 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $start 0%, $end 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $start 0%, $end 100%); /* IE10+ */
	background: linear-gradient(to bottom, $start 0%, $end 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); /* IE6-9 */
}

@mixin bg($hex){
	background-color:$hex;
}

// from http://sachagreif.com/useful-sass-mixins/ 
@mixin vert-navigation-list {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        display:block;
        float:left;
        &:last-child{
            margin-right:0px;
        }
    }
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}