.rightbar{
    @include border-radius(10px);
    @include bg($light-gray);
    padding:0 25px;

    > .row:last-child{
        border-bottom:none;
        margin-bottom:20px;
    }

    h3{
        padding-bottom:10px;
        border-bottom: 1px solid lightgrey;
    }

    .rounded-bottom{
        text-align:center;
        background:#c70102;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
        padding:20px 0;
        color:white;

        a{
            color:white;
            font-size:1.3em;
        }
    }

    .participate-comment{
        border-bottom:1px solid lightgrey;
        padding-bottom:10px;
    }

    .activity-item{
        padding-bottom:10px;
        margin-bottom: 10px;
        border-bottom:1px solid lightgrey;
        .activity-content{
            margin-bottom: 5px;
        }
        .activity-actions, .activity-replies-indicator{
            cursor:pointer;
            opacity:.25;
        }
        &:hover{
            .activity-actions, .activity-replies-indicator{
                opacity:1;
            }
        }
        .glyphicon{
            color: #888;
        }
    }
}