.rightbar{
    @include border-radius(5px);
    padding:5px 30px;
    @include bg($light-gray);
    > .row:last-child{
        border-bottom:none;
        margin-bottom:20px;
    }


    a{
        color: #428bca;
    }

    h3{
        padding-bottom:10px;
        border-bottom: 1px solid lightgrey;
    }

    .rounded-bottom{
        text-align:center;
        background:#c70102;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
        padding:20px 0;
        color:white;

        a{
            color:white;
            font-size:1.3em;
        }
    }

    .participate-comment{
        border-bottom:1px solid lightgrey;
        padding-bottom:10px;
    }

    .activity-thread{
        font-size: 13px;
        color: #444;
    }

    .activity-item{
        padding-bottom:16px;
        margin-bottom: 10px;
        border-bottom:1px solid lightgrey;
        @include transition(opacity, .5s);
        .activity-author{
            font-weight: bold;
        }
        .activity-content{
            margin-bottom: 5px;
            padding-top: 5px;
            word-wrap: break-word;
        }
        .activity-actions, .activity-replies-indicator{
            cursor:pointer;
            span.glyphicon{
                padding-right: 4px;
            }
        }
        .activity-replies-indicator{
            &.activity-replies-indicator-inactive{
                color: #888;
                .glyphicon{
                    color: #888;
                }
            }


            color: $blue-grad-start;

            .glyphicon{
                color:$blue-grad-start;
            }
        }

        &:hover{
            .activity-actions, .activity-replies-indicator {
                opacity:1;
            }
        }
        .glyphicon{
            color: #888;
        }
        .activity-replies{
            .activity-reply{
                margin-top: 12px;
                padding-left: 33px;
                //padding-bottom: 6px;
                //border-bottom: 1px solid #ccc;
                .reply-author{
                    font-weight: bold;
                }
                .reply-text{
                    padding-top: 5px;
                    .col-md-12{
                        
                    }
                }

            }
        }
        .sponsor-seen, .user-seen{
            margin-top:10px;
        }
    }
}