$blue-header: #4196f0;
$red-header: #d60003;

$black-grad-start: #353535;
$black-grad-end: #000000;

$blue-grad-start: #55a7fb;
$blue-grad-end: #2e74bc;

$dark-gray: #4b4b4b;
$light-gray: #fafafa;
$has-notes-gray: rgb(235, 239, 243);
$bg-gray: #f5f5f5;

$black-button-start: #484848;
$black-button-end: #000000;

$comment-color: #fffac1;
$suggestion-color:#ececec;

$facebook: #2b4188;
$twitter: #50aaef;
$linkedin: #0079b7;

// México Abierto's palette

$mx-black: #28292a;
$mx-dark-gray: #393c3e;
$mx-gray: #545454;
$mx-light-gray: #d6d6d6;
$mx-smoke: #ededed;

$mx-red: #d0021b;
$mx-dark-blue: #1122cc;
$mx-blue: #4a90e2;

$mx-green: #00cc99;
$mx-light-green: #009999;
