$blue-header: #4196f0;
$red-header: #d60003;

$black-grad-start: #353535;
$black-grad-end: #000000;

$blue-grad-start: #55a7fb;
$blue-grad-end: #2e74bc;

$dark-gray: #4b4b4b;
$light-gray: #fafafa;
$has-notes-gray: rgb(235, 239, 243);
$bg-gray: #E6E7E8;

$black-button-start: #484848;
$black-button-end: #000000;

$comment-color: #fffac1;
$suggestion-color:#ececec;