/* @override
	http://mymadison.io/css/style.css */

@import "compass/css3/box-shadow";
@import "compass/css3/shared";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "variables";
@import "mixins";
@import "helpers";
@import "dashboard";
@import "rightbar";

@include sticky-footer(100px, "#wrap", "#wrap-footer", "#footer");

body{
	@include bg($bg-gray);
}

h1{
	text-align:center;
}

a{
	@include single-transition(all, .2s, linear);
	color:$light-gray;

	&:hover{
		color:white;
		text-decoration:none;
	}

	&.disabled{
		cursor:default;
		opacity:.5;
	}

	&.gray{
		color:$light-gray;
	}
	&.white{
		color:white;
	}
	&.black{
		color:black;

		&:hover{
			color:$light-gray;

			del, ins{
				color:$light-gray;
			}
		}
	}
	&.underlined{
		text-decoration:underline;
	}
}
p{
	&.gray{
		color:$light-gray;
	}

}
del, ins{
	@include single-transition(all, .2s, linear);
}

del{
	color:red;
}
ins{
	color:green;
}

input{
	&.disabled{
		cursor:default;
		opacity:.5;
	}
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	margin-top:10px;
}

textarea.form-inline{
	width:100%;
	margin-top:0;
	height:150px;
}

.btn-black{
	@include grad-bg($black-grad-start, $black-grad-end);

	color:$light-gray;
}

/* MAIN HEADER
------------------------------ */
.header {
	background: $blue-header;
	padding-bottom: 7px;

	.container{
		padding-right: 0px;
		padding-left: 0px;
		.col-md-4{
			padding-right: 0px;
			padding-left: 0px;
		}
	}

	.logo-madison {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.link-home { display: inline-block; }

	h1, h2 {
		margin: 0;
		// text-align: center;
		color: #459ffe;
	}

	h1 {
		margin: 0 0 5px;
		font-size: 28px;
	}

	h2 {
		font-size: 14px;
	}



	.logo-madison h1{
		color: #FFF;
		font-weight: normal;
		position: relative;
	}

	.level {
		color: #e3f4ff;
		font-size: .33em;
		background: #83c4ff;
		padding: 4px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		@include border-radius(2px);
		top: 8px;
		right: -45px;
		position: absolute;
	}
}

/* NAVIGATION
------------------------------ */
.nav {

	// These are separated because they're global, and should be
	// applied to all navs. Avoids duplicate code.

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

	}

	li {
		margin: 0;
		padding: 0;
	}
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
		background: none;
		text-decoration: none;
	}

.nav-main {

	ul {
		margin-top: 22px; /* TO-DO: Needs to be dynamic */
		float: right;
	}

	li {
		margin-left: 20px;
		float: left;
		font-weight: bold;
		font-size: 12px;
		a{
			color: #FFF;
		}
		ul{
			li{
				margin-left: 0px;
				display: block;
				width: 100%;
				a{
					color: $blue-header;
					padding-left: 5px;

				}
			}
		}
	}



	.dropdown-menu {
		margin-top: 0;
	}
}

.nav-footer {

	padding-top: 30px;
	text-align: center;

	.container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	a {
		display: inline-block;
		box-sizing: border-box;
		margin: 0 5px 0 0;
		padding: 0 10px 0 0;
		font-size: 12px;
		text-transform: uppercase;
		border-right: 1px solid #bcbab9;
	}

	a:last-child {
		margin-right: none;
		padding-right: none;
		border-right: none;
	}
}

/* GLOBAL SEARCH
------------------------------ */
.global-search {

	form {
		width: 100%;
		position: relative;
		top: 14px; /* TO-DO: Needs to be dynamic */
	}

	.input-search {
		margin: 0;
	}

	.input-submit {
		height: 24px;
		width: 24px;
		margin: -12px 0 0;
		border: 0;
		position: absolute;
		right: 5px;
		top: 50%;
		text-indent: -9999px;
		background: transparent url(../img/dark-blue-search.png) center no-repeat;
	}
}

/* CONTENT
------------------------------ */
#main{
	padding-right:0;
	padding-left:0;
	position:relative;
}

.navbar{
	@include grad-bg($blue-grad-start, $blue-grad-end);

	margin-top:20px;
	z-index:1;

	.nav{
		margin-top:0;
	}

	.navbar-form{
		margin-top:0;
		margin-bottom:0;

		button{
			margin-top:10px;
			margin-bottom:10px;
		}
		input[type="text"]{
			margin-bottom:10px;
		}
	}
}
.navbar-default{
	.navbar-nav{
		li{
			a{
				&.black{
					color:black;

					&:hover{
						color:white;
					}
				}
			}
		}
	}
}

.content{
	// @include single-box-shadow(black, 1em, 1em, 1em, -1em);

	

	background:white;
	padding: 30px;
	@include box-sizing(border-box);
	border: 1px solid #f0f0f0;
	@include border-radius(4px);

	a{
		color:black;
	}
	a:hover{
		color:$light-gray;
	}
	ul{
		list-style:none;
	}
}

.content.col-md-12 .row{
	h1{
		margin-bottom: 45px;
	}
	ul{
		list-style: none;
		margin-top: 40px;
		padding: 0px 0px;
		@include box-sizing(border-box);
		li{
			border-top: 1px solid #ccc;
			padding: 12px 10px;
			position: relative;
			@include box-sizing(border-box);
			a{
				font-weight: bold;
				font-size:1.2em;
				color: #444;
				line-height: 140%;
				&:hover{
					color: #111;
					text-decoration: underline;
				}
			}
			.list-doc-info{
				color: #999;
				font-size: .9em;
				margin-top: 4px;
				span{
					//border-right: 2px solid #cccccc;
					padding-right: 10px;
				}
				.doc-created-date{

				}
				.dov-updated-date{

				}
				.doc-action-count{
					background: #999;
					color: #FFF;
					text-align: center;
					font-weight: bold;
					@include border-radius(2px);
					position: absolute;
					right:0;
					top: 12px;
					display: block;
					padding: 3px 8px 4px 8px;
				}
			}
			.doc-categories{
				padding-right: 0px;
				margin-right: 0px;
				position: relative;
				top: -2px;
			}
			.category{
				background: #999;
				color: #FFF;
				@include border-radius(2px);
				text-align: center;
				font-weight: bold;
				padding: 3px 6px 4px 6px;
				font-size: .8em;
				margin-left: 4px;
			}
			.doc-statuses{
				position: relative;
				top: -2px;
				.status{
					background: #489EF9;
					color: #FFF;
					@include border-radius(2px);
					text-align: center;
					font-weight: bold;
					padding: 3px 6px 4px 6px;
					font-size: .8em;
					margin-right: 4px;
				}
			}
			

		}
	}
}

.select2-container{
	width:72%;
	float: left;
}

#s2id_dateSortSelect{
	//margin-left: 8px;
	float: right;
	width: 25%;
}

.user-info h1{
	margin-bottom: 5px !important;
}

.user-gravatar{
	display: inline-block;
	margin-right:10px;
	margin-left: 20px;
	float: left;
}

h1.user-name{
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

.user-verified{
	background: #489EF9;
	color: #FFF;
	@include border-radius(2px);
	text-align: center;
	font-weight: bold;
	padding: 4px 5px 4px 5px;
	font-size: .8em;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	top: -6px;
	margin-left: 5px;
}

.user-created-date{
	color: #999;
	font-size: .9em;
	display: block;
	padding-left: 1px;
}

.content.col-md-12 .row ul.nav-tabs{
	li{
		border-top: none;
		padding: 0px;
		a{	
			color: #999;
			border:none;
			&:hover{
				cursor: pointer;
				text-decoration: none;
				color: inherit;

			}
		}
	}
	li.active{
		a{
			color: #FFFFFF;
			background: #489EF9;
			border: none;
			padding-bottom: 10px;
			&:hover{
				color: #FFF;
			}
		}

	}
}

.content.col-md-12 .row ul.user-sponsored-docs{
	margin-top: 0px;
	li{
		border-top: none;
		border-bottom: 1px solid #ccc;
	}
}

.content.col-md-12 .row ul.user-activity-items{
	margin-top: 0px;
	li{
		border-top: none;
		border-bottom: 1px solid #ccc;
		padding-top: 20px;
		padding-bottom: 20px;
		blockquote{
			margin-bottom: 5px;
			background: #DEEEFF;
			border: none;
			padding: 10px 15px;
			margin-top: 5px;
			@include border-radius(4px);
		}
		a{
			font-size: 1em !important;
			text-decoration: underline !important;
		}
		.user-activity-title{
			font-size: 1em !important;

		}
	}
}



.leftbar{
	position:relative;
	right:-2.12766%;
	@include bg($dark-gray);
	@include border-corner-radius(top, left, 10px);
	@include border-corner-radius(bottom, left, 10px);
	@include box-shadow(rgba(0, 0, 0, .5) 5px 0px 5px -2px);

	border: 2px groove white;
	border-right:none;

	ul{
		@include vert-navigation-list;
		li{
			padding:10px;
		}
	}
}

.getstarted{
	padding:0;

	p{
		margin:10px 20px;
		color:lightgrey;
	}
}

#page{
	margin-left:0;
	padding:10px;
	background:white;
	border:2px groove white;
	border-right:none;
	border-left:none;
}
.footer{
	height:100px;
	margin-top:50px;
	@include grad-bg($black-grad-start, $black-grad-end);
	background: #DEDEDE;
}

//Document Reader
.doc_content{
	/* max-height:700px;
	overflow-y:scroll; */
	ol{
		list-style:none;
	}
}

//Helper Classes
.hidden{
	display:none;
}
.small-header{
	font-size:1em;
}
.blue{
	color:$blue-header;
	span.red{
		color:$red-header;
	}
}
.red{
	color:$red-header;

	&:hover{
		color:$light-gray;
	}
}

.single-shadow{
	@include single-text-shadow(1px, 1px, 5px, false, #000000);
}
input[type="search"].dark-search{
	background:#4b4b4b;
	border:none;
	background-repeat: no-repeat;
	background-position:right;
	background-size:20px;
	color:lightgray;
}

input[type="search"].blue-search{
	background:#83c4ff;
	border:none;
	background-repeat: no-repeat;
	background-position:right;
	background-size:20px;
	color: #FFF !important;
	@include input-placeholder {
        color: #C6E5FF;
	    }
}

.bookmark{
	position:absolute;
	top:0;
	right:0;

	.bookmark-label{
		position:relative;
		top:20px;
		right:40px;
		font-size:.8em;
	}
}

//CSS Graphics
	//Ribbon
	.ribbon{
		width:25px;
		height:40px;
		overflow:hidden;
		position:relative;
		top:-20px;
		right:-15px;

		.ribbon-container{
			position:relative;
			width:25px;
			height:40px;
			overflow:hidden;
			margin:0 auto;
		}

		.ribbon-base{
			height:25px;
			width:25px;
			background:#999;
			position:relative;
			z-index:2;

			&:after{
				content:' ';
				position:absolute;
				top:0;
				width:19px;
				left:3px;
				height:36px;
				border-left:1px dashed #cacaca;
				border-right:1px dashed #cacaca;
			}
		}

		.ribbon-left-corner{
			@include transform(45deg);

			width:25px;
			height:25px;
			background:#999;
			position:absolute;
			bottom:5px;
			left:-13px;
			z-index:1;
		}

		.ribbon-right-corner{
			@include transform(45deg);

			width:25px;
			height:25px;
			background:#999;
			position:absolute;
			bottom:5px;
			right:-13px;
			z-index:1;
		}

	}

/* Login form */
.content .forgot-password {
	color: $blue-header;
	font-weight: bold;
	margin-left: 20px;
	}

/* Annotation Login Styling
--------------------------------*/

.popup{
	background: #fafafa;
	padding: 12px 12px;
	border: 1px solid #ccc;
	@include border-radius(4px);
}

.unauthed-popup{
	.errors{
		ul{
			list-style: none;
			padding: 0;
			li{
				background: #F9F2F4;
				color: #c7254e; 
				@include border-radius(3px);
				padding: 3px 6px;
				margin-bottom: 4px;
			}
		}
	}
	.row{
		min-width: 300px;
		padding-top: 28px;
		padding-bottom: 28px;
		.form-group{
			input{
				margin-top: 0px;
			}
		}
	}
	input{

	}
	#login{
		margin-right: 3px;
		&:hover{
			//background: #306DC4;
		}
	}
	#signup{
		&:hover{
			//background: #306DC4;
		}
	}
}

/* Annotator Plugin Styling
--------------------------------*/
.glyphicon{
	font-family: 'Glyphicons Halflings' !important;

	&.selected{
		color:blue;
	}

	&.logged-in{
		cursor:pointer;
	}

	.action-count:before{
		content: '(';
	}

	.action-count:after{
		content: ')';
	}
}

.activity-replies-indicator{
	cursor: pointer;
}

.caret-right{
	@include rotate(-90deg);
}

.annotation-action > span{
	margin:0 5px;
}

.annotation-comments{
	input[type="text"]{
		padding-left:10px;
	}

	.btn{
		margin-top:5px;
		padding:0px 10px;
		@include background-image(linear-gradient(#428bca, #3071a9));
		color:white;

		&:hover{
			@include background-image(linear-gradient(scale-lightness(#428bca, 20%), scale-lightness(#3071a9, 20%)));
		}
	}
}

.current-comments{
	max-height:200px;
	overflow-y:scroll;
}

/** Sidebar Styling **/

.sidebar-annotation{
	background:#fffac1;
	color:black;

	a{
		color:black;

		&:hover{
			color:lightgray;
		}
	}

	blockquote{
		margin-bottom:0;
		border-bottom:1px dotted darkgray;
		padding:5px 10px;
		border-left:none;
	}
}

.sidebar-annotation-wrapper{
	max-height:300px;
	overflow:scroll;
	border:3px solid $dark-gray;
}
.sidebar-comment-label{
	cursor:pointer;
}

.sidebar-comment-thread{
	margin-left:10px;
}

.participate-comments{
	.comment-thread{
		margin-top:20px;
		border-top:1px dotted lightgray;
		max-height:300px;
		overflow:scroll;

		blockquote{
			margin-bottom:0;
			border-bottom:1px dotted darkgray;
			border-left:none;
		}
	}
}
