<div ng-show="doc.discussion_state === 'open'">
    <div class="comment-field" ng-show="user">
        <form name="add-comment-form" ng-submit="commentSubmit(comment)">
            <textarea ng-model="comment.text" id="doc-comment-field" type="text"
                class="form-control centered" required></textarea>
            <button class="btn btn-primary"
                translate="document.action.addcomment"></button>
        </form>
    </div>
    <div class="comment-field" ng-hide="user">
        <a ng-click="showLoginForm($event)"
            translate="document.action.mustlogin"></a>
    </div>
</div>
<div class="comment-thread" ng-show="doc.comments.length">
    <article id="comment_{{comment.id}}"
        class="comment"
        ng-repeat="comment in doc.comments | orderBy:'id':true">

        <div ng-class="{ highlight: shouldHighlightComment(comment) }" class="comment-body">
            <header class="comment-header">

                <span class="author">{{ comment.user.display_name }}</span>

                <span translate="document.label.date.timeago"
                    translate-values="{datetime: comment.created_at}"></span>
            </header>

            <section class="content" ng-bind-html="comment.text">
                {{ comment.text }}
            </section>
        </div>

        <div ng-if="comment.comments_count > 0" class="toggle-replies">
            <a class="doc-replies-count"
                ng-click="toggleReplies(comment, $event)">
                <span ng-if="!showReplies[comment.id]"
                    translate="form.general.show">j</span>
                <span ng-if="showReplies[comment.id]"
                    translate="form.general.hide"></span>
                <span translate="notes.label.replies"
                    translate-values="{count: comment.comments_count}"
                    translate-interpolation="messageformat"></span>
            </a>
            <span class="loading"
                ng-class="{hidden: !loadingReplies[comment.id]}"></span>
        </div>

        <comment-actions object="comment" root-target="doc"></comment-actions>

        <section class="replies" ng-show="showReplies[comment.id]">
            <article ng-repeat="reply in comment.comments"
                class="comment-reply"
                id="comment_{{comment.id}}-{{reply.id}}">

                <div ng-class="{ highlight: shouldHighlightSubComment(reply) }" class="comment-body">
                    <header class="comment-header">

                        <span class="author">{{ reply.user.display_name }}</span>

                        <span translate="document.label.date.timeago"
                            translate-values="{datetime: reply.created_at}"></span>
                    </header>
                    <section class="content" ng-bind-html="reply.text">
                        {{ reply.text }}
                    </section>
                </div>
                <comment-actions object="reply" root-target="doc"></comment-actions>
            </article>
            <div ng-if="comment.comments_count == 0">
                <span class="doc-replies-count"
                    translate="notes.label.replies.none"></span>
            </div>
        </section>
        <a ng-show="!user" class="login-message"
            ng-click="showLoginForm($event)"
            translate="document.action.mustlogin"></a>
        <section class="reply" ng-show="user && doc.discussion_state === 'open'">
            <form name="add-comment-form"
                ng-submit="subcommentSubmit(comment, commentReply)">
                <input type="hidden" ng-model="commentReply.parent_id"
                    value="{{comment.id}}" />
                <textarea ng-model="commentReply.text" id="doc-comment-field"
                    type="text" class="form-control centered" required></textarea>
                <button class="btn btn-primary"
                    translate="document.action.reply"></button>
            </form>
        </section>
    </article>
</div>
<div class="comment-field" ng-show="user && doc.comments.length > 10">
    <form name="add-comment-form" ng-submit="commentSubmit(comment)">
        <textarea ng-model="comment.text" id="doc-comment-field" type="text"
            class="form-control centered" required></textarea>
        <button class="btn btn-primary"
            translate="document.action.addcomment"></button>
    </form>
</div>
<div class="comment-field" ng-show="!user && doc.comments.length > 10">
    <a ng-click="showLoginForm($event)"
        translate="document.action.mustlogin"></a>
</div>

<div class="comment-thread" ng-hide="doc.comments.length">
    <p translate="notes.label.comments.none"></p>
</div>
