<h2 class="normal-title annotation-title">
  <span translate="document.label.notes"></span>
  <i class="fa fa-question-circle annotation-help" data-toggle="tooltip"
    data-placement="bottom" title="{{ 'notes.label.help' | translate }}"></i>
  <a href="/api/docs/{{ doc.slug }}/feed"
    class="rss-link" target="_self"
    title="{{ 'document.action.rss.title' | translate }}"
    translate="document.action.rss"></a>
</h2>
<div id="participate-activity" class="participate-activity">
  <div class="activity-thread">
    <div ng-hide="annotations.length"
      translate="notes.label.none"></div>

    <div class="annotation-group" ng-style="{top: annotationGroup.top}"
      ng-repeat="annotationGroup in annotationGroups"
      ng-click="showNotes(annotationGroup)">
        <span class="annotation-group-count"
          translate="notes.label.count"
          translate-values="{count: annotationGroup.annotations.length}"></span>

        <div class="annotation-group-statistics">
          <span class="annotation-collaborator-count"
            translate="notes.label.collaborators"
            translate-values="{count: annotationGroup.users.length}"
            translate-interpolation="messageformat"></span>

          <span class="annotation-comment-count"
            translate="notes.label.replies"
            translate-values="{count: annotationGroup.commentCount}"
            translate-interpolation="messageformat"></span>
        </div>
    </div>
  </div>
</div>

<aside class="annotation-pane" ng-class="{'active': annotationsShow}">
  <header class="title-header">
    <h2 translate="document.label.notediscussion"></h2>
    <a class="close-button" ng-click="hideNotes()"
      translate="document.action.closesidebar"></a>
  </header>

  <section class="annotation-list">
    <article ng-repeat="annotation in currentGroup.annotations" class="annotation">

      <blockquote>
        &quot;
          <span ng-repeat="highlight in annotation.highlights">
            {{ highlight.textContent }}
          </span>
        &quot;
      </blockquote>

      <div class="comment-body"
        ng-class="{ highlight: annotation.id === annotationId }">

        <header class="annotation-header">
          <span class="author">{{ annotation.user.display_name }}</span>

          <span translate="document.label.date.timeago"
            translate-values="{ datetime: annotation.created_at }"></span>
        </header>

        <section class="content">
          {{ annotation.text }}
        </section>
      </div>

      <div ng-hide="doc.discussion_state === 'closed'">
        <comment-actions object="annotation" root-target="doc"></comment-actions>
        <footer>
          <div class="reply-action">
            <a ng-click="showCommentForm($event)"
              translate="document.action.addreply"></a>
          </div>
        </footer>
      </div>

      <section class="comments">
        <article ng-repeat="comment in annotation.comments"
          class="comment"
          id="annsubcomment_{{comment.id}}"
          ng-class="{ highlight: subCommentId === comment.id }">

          <header class="comment-header">

            <span class="author">{{ comment.user.display_name }}</span>

            <span translate="document.label.date.timeago"
              translate-values="{ datetime: comment.created_at }"></span>
          </header>
          <section class="content">
            {{ comment.text }}
          </section>
          <div ng-hide="doc.discussion_state === 'closed'">
            <comment-actions object="comment" root-target="doc"></comment-actions>
          </div>
        </article>
      </section>
      <section class="subcomment-form">
        <div ng-hide="doc.discussion_state === 'closed'">
          <form name="add-subcomment-form"
            ng-submit="subcommentSubmit(annotation, subcomment)" ng-if="user">
            <h4 translate="document.action.replynote"></h4>
            <input id="comment-form-field" ng-model="subcomment.text" type="text"
              class="form-control centered" required
              placeholder="{{ document.action.commentplaceholder | translate }}" />
            <button class="comment-button" type="submit"
              translate="document.action.postcomment"></button>
          </form>
        </div>
      </section>
    </article>
  </section>

</aside>
