<div class="home-feature">
  <div class="home-feature-list" ng-if="featured.length">
    <article class="main-feature hentry doc doc-full"
      ng-repeat="(i, doc) in featured">

      <header class="doc-info">
        <div class="doc-thumbnail-container" ng-if="doc.thumbnail">
          <img src="{{ doc.thumbnail }}" alt="" class="doc-thumbnail" />
        </div>
        <h2 class="heading entry-title">
          <a class="" href="/docs/{{ doc.slug }}" rel="bookmark"
            title="{{ 'document.inthreferface.readmoretitle' | translate:{title:doc.title} }}"
            >{{ doc.title }}</a>
        </h2>

        <div class="doc-sponsor" ng-if="doc.sponsors.length">
          <span translate="document.label.sponsoredby"></span>
          <ul>
            <li ng-repeat="sponsor in doc.sponsors" class="author"
            translate="{{ sponsor.display_name }}">
            </li>
          </ul>
        </div>

        <div class="doc-stats">
          <ul>
            <li translate="document.label.commentcount"
            translate-values="{count: doc.comment_count}"
            translate-interpolation="messageformat"></li>
            <li translate="document.label.notecount"
            translate-values="{count: doc.note_count}"
            translate-interpolation="messageformat"></li>
            <li>
            <span ng-hide="doc.updated_at" class="date"
              translate="document.label.created"
              translate-values="{datetime: doc.created_at}"></span>
            <span ng-show="doc.updated_at" class="date"
              translate="document.label.updated"
              translate-values="{datetime: doc.updated_at}"></span>
            </li>
          </ul>
        </div>

        <div ng-if="!doc.introtext || doc.introtext === ''">
          <a class="read-button" href="/docs/{{ doc.slug }}" rel="bookmark"
            role="button"
            title="{{ 'document.interface.readmoretitle' | translate:{title:doc.title} }}"
            translate="{{ 'document.interface.readmore' }}"></a>
        </div>
      </header>


      <div class="doc-content" ng-if="doc.introtext">
        <div class="doc-summary entry-summary markdown"
          data-ng-bind-html="doc.introtext"></div>
        <a class="read-button" href="/docs/{{ doc.slug }}" rel="bookmark"
          role="button"
          title="{{ 'document.interface.readmoretitle' | translate:{title:doc.title} }}"
          translate="{{ 'document.interface.readmore' }}"></a>
      </div>
    </article>
  </div>

  <section class="previous-features">
    <h2 class="heading"
      translate="{{ 'document.title.activelegislation' }}">
    </h2>

    <div class="recent-activity">
      <h3 translate="{{ 'document.title.recentactivity' }}"></h2>

      <article ng-repeat="doc in mostRecent | toArray">
        <a href="/docs/{{ doc.slug }}" class="title"
          title="{{ 'document.interface.readmoretitle' | translate:{title:featured.title} }}"
          translate="{{ 'document.label.quotedtitle' }}"
          translate-values="{title: doc.title}"></a>
        <span class="date"
          translate="document.label.updated.timeago"
          translate-values="{datetime: doc.updated_at}">
        </span>
      </article>
    </div>

    <div class="most-active">
      <h3 translate="{{ 'document.title.mostactive' }}"></h2>

      <article ng-repeat="doc in mostActive | toArray">
        <a href="/docs/{{ doc.slug }}" class="title"
          title="{{ 'document.interface.readmoretitle' | translate:{title:featured.title} }}"
          translate="{{ 'document.label.quotedtitle' }}"
          translate-values="{title: doc.title}"></a>
        <div class="doc-stats">
          <ul>
            <li translate="document.label.commentcount"
            translate-values="{count: doc.comment_count}"
            translate-interpolation="messageformat"></li>
            <li translate="document.label.notecount"
            translate-values="{count: doc.note_count}"
            translate-interpolation="messageformat"></li>
          </ul>
        </div>
      </article>
    </div>
  </section>

</div>
