/*
 * Settings for our app.
 */

$fa-font-path: '/fonts' !default;

// Main colors.
$white: #ffffff !default;
$black: #000000 !default;
$blue: #00cae5 !default;
$green: #8ce500 !default;
$yellow: #f2da00 !default;
$orange: #ff9d00 !default;
$red: #e50b18 !default;

// Secondary colors.
$dark-grey: #4a4f51 !default;
$medium-grey: #929292 !default;
$light-medium-grey: #b3b3b3 !default;
$light-grey: #d7d7d7 !default;
$lighter-grey: #f5f5f5 !default;
$lightest-grey: #f9f9f9 !default;

$modal-background: rgba(0,0,0, 0.5) !default;

// Fonts.
$main-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$accent-font: 'Patua One', Georgia, 'Times New Roman', Times, serif !default;
$fancy-font: 'Libre Baskerville', Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif !default;
$code-font: monospace !default;

// Use this on all text blocks.
$side-padding: 20px !default;
$vertical-padding: 1rem !default;

// Typography.

// Our default baseline font size is 16px with a line height of 32px.  You can
// change that here.
$font-size-base: 1rem !default;

// No units on our line height!
$line-height-base: 1.625 !default;

// Line height with units.
$line-height-computed:    ($font-size-base * $line-height-base) !default;

// Font units.
$font-unit: 1rem !default;

// Our custom transition.
$transition-duration: 0.4s !default;
$transition-easing: cubic-bezier(.62,.28,.23,.99) !default;
