{

  // NOTE: This will be your user account on the system

  "id": "yourname",
  "comment": "Your user on the system",
  "shell": "/bin/bash",

  // TODO: Include instructions on encrypting a password
  "password": "REPLACE ME",

  "ssh_keys": [
    "REPLACE ME"
  ]
}
