@charset "UTF-8";
/* CSS Document */

/* BODY STRUCTURE
=====================================================================*/
#wrap {
	overflow:hidden;
	clear:both;
}
#content-wrapper {

}
#content {
	width:960px;
	margin:auto;
	padding:0px 50px 40px;	
	overflow:hidden;
	clear:both;
}
.fb-like {
	height:25px;
	float:left;
	width:150px;
}

/* HEADER STRUCTURE
=====================================================================*/
#live-stream{
	height:200px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
#live-stream iframe{
	border:none;
	float:left;
}
#live-stream img{
	float:left;
	margin-top:100px;
	margin-left:10px;
}
#live-stream div{
	float:left;
	height:180px;
	margin:10px 0 0 50px;
	width:421px;
	text-align:center;
	color:black;
	background:url("../i/tweet_background.png") no-repeat;
}
#hoc_stream{
	margin:10px 0 0 0;
}
#header-wrapper {
	background:#000;
	color:#FFF;
	height:110px;
	box-shadow: 0 0 10px #111111;
}
#header {
	width:960px;
	margin:auto;
	height:50px;
	color:#d9e0ea;
	padding-top:20px;
}
	#logo {
		background:url(../i/logo.png) no-repeat;
		width:679px;
		height:72px;
		margin:0 auto;
	}
	#nav {
		font-size:.9em;
		margin:auto;
		height: 40px;
		position:relative;
		background: #a90329; /* Old browsers */
		background: -moz-linear-gradient(top, #a90329 0%, #af0306 40%, #770005 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(40%,#af0306), color-stop(100%,#770005)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* IE10+ */
		background: linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#770005',GradientType=0 ); /* IE6-9 */
	}
		#nav a {
			text-decoration:none;	
		}
		#nav-items {
			width:960px;
			margin-left:auto;
			margin-right:auto;
			margin-top:10px;
		}
			.nav-item {
				float:right;
				padding:0px 15px;
				text-shadow: #999 2px 2px 2px;
				margin-top:10px;
			}
			.nav-item:hover {
				color:#b5c4da;
				cursor:pointer;
			}
			.nav-item.login-button{
				width:150px;
				height:26px;
				background:url(../i/loginbutton.png) no-repeat;
				margin-top:0;
				margin-left:15px;
			}
		#subnav-items {
			font-size:1.1em;
			height:100%;
			width:840px; 
			margin-left:auto;
			margin-right:auto;
		}
			.subnav-item {
				display:inline-block;
				padding:0px 15px;
				color:white;
				font-size:1.1em;
				height:100%;
				line-height:40px;
			}
			.subnav-item:hover{
				color:#ec9d9a;
				cursor:pointer;
			}
			.subnav-item a:hover{
				cursor:pointer;
			}
			.subnav_dropdown{
				display:inline-block;
				padding:0px 15px;
				color:white;
				font-size:1.1em;
				cursor:pointer;
				position:relative;
			}
			.subnav_dropdown > a{
				color:white;
			}
			.subnav_dropdown ul{
				list-style:none;
				display:block;
				position:relative;
				max-height:0px;
				overflow:hidden;
				-o-transition: max-height .5s .1s cubic-bezier(0,0,0,0), border-width .5s .1s cubic-bezier(0,0,0,0); 
				-webkit-transition: max-height .5s .2s cubic-bezier(0,0,0,0), border-width .5s .1s cubic-bezier(0,0,0,0); 
				-moz-transition: max-height .5s .2s cubic-bezier(0,0,0,0), border-width .5s .1s cubic-bezier(0,0,0,0); 
				transition: max-height .5s .2s cubic-bezier(0,0,0,0), border-width .5s .1s cubic-bezier(0,0,0,0);
				padding:0;
				z-index:10;
				margin-left:-20px;
				margin-top:0;
				margin-bottom:0;
				max-height:0;
			}
			.subnav_dropdown:hover ul{
				max-height:200px;
			}
			.subnav_dropdown:hover ul li a.multiline-dropdown{
				line-height:100%;
				padding-top:10px;
				height:40px;
			}
			.subnav_dropdown ul li a{
				background: #a90329; /* Old browsers */
				background: -moz-linear-gradient(top, #a90329 0%, #af0306 40%, #770005 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(40%,#af0306), color-stop(100%,#770005)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* IE10+ */
				background: linear-gradient(top, #a90329 0%,#af0306 40%,#770005 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#770005',GradientType=0 ); /* IE6-9 */
				width:79%;
				margin:0;
				text-align:center;
				cursor:pointer;
				/* height:0; */
				line-height:35px;
				float:left;	
				color:white;
				font-size:1.1em;
				display:block;
				border-style:solid;
				border-width:1px;
				overflow:hidden;
				padding:1% 10%;
			}
			.subnav_dropdown ul li a:hover{
				color:#ec9d9a;
				cursor:pointer;
			}
			.subnav_div{
				width:2px;
				height:30px;
				background: #8f0222; /* Old browsers */
				background: -moz-linear-gradient(top, #af0306 0%, #b2615e 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af0306), color-stop(100%,#b2615e)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #af0306 0%,#b2615e 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #af0306 0%,#b2615e 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #af0306 0%,#b2615e 100%); /* IE10+ */
				background: linear-gradient(top, #af0306 0%,#b2615e 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#b2615e',GradientType=0 ); /* IE6-9 */
				display:inline-block;
				vertical-align:top;
				margin-top:10px;
			}
			.subnav_div:first-child{
				display:none;
			}
			.dropdown_arrow{margin-left:5px;}
	
/* VIEW - READER
=====================================================================*/
#reader {
	float:left;
	width:550px;
	border:1px solid #CDCDCD;
	border-radius:2px;
	background:#FFF;
	margin-bottom: 10px;
}
	#reader-nav {
		overflow:hidden;
		margin-bottom:10px;
		padding:0px 15px 0 30px;
	}
	.reader-section-el {
		padding:15px 10px 5px 10px;
		float:left;
		margin-right:3px;
		color:#999;
		font-weight:bold;
		cursor:pointer;
	}
	.reader-section-el-active, .reader-section-el:hover {
		background:#333;
		color:#FFF;
	}
	#reader-content {
		overflow:auto;
		height:400px;
		padding:10px 15px 15px 28px;
		font-size:1em;
		line-height:1.3em;
	}
		.reader-content-loading {
			background:#FFF url(../i/ajax-loader-large.gif) center no-repeat !important;
		}
		#reader-content ol {
			font-weight:bold;	
		}
		#reader-content ol:first-child {
			margin: 0;
    		padding: 0;
		}
		#reader-content ol li span { 
			font-weight:normal;
			cursor:pointer;
			position:relative;
		}
		#reader-content ol li br { 
			margin:10px;
		}
		.selected {
			background:#FF0 !important;
		}
		.has-notes {
			background:#EBEFF3;	
		}
			#view-edits {
				float:left;
				cursor:pointer;
				padding:0 0 0 15px;
				font-weight:bold;
			}
			#reader-legend {
				float:right;
				width:500px;
				padding:5px 5px;
			}
			#has-note-legend, #selected-legend, #user-generated-legend {
				background:#EBEFF3;
				float:left;
				width:10px;
				height:10px;
				border:1px solid #333;
				margin:1px 5px 0 0;
			}
			#user-generated-legend{
				background:#7fafdf;
			}
			#selected-legend {
				background:#FFFF00;
			}
			.note-count {
				border:1px solid #58543A;
				background:#FAF8ED;
				border-radius:2px;
				padding:1px 2px;
				font-size:9px;
				position:absolute;
				right:-15px;
				bottom:-2px;
			}
			
#interact {
	float:right;
	width:360px;
	border-radius:2px;
	background:#EFEFEF;
	border:1px solid #CDCDCD;
	font-size:12px;
	color:#777;
}
	#interact-header {
		background:url(../i/interact-header.jpg) repeat-x;
		height:39px;
		color:#FFF;
		text-shadow: 1px 1px #333;
		font-weight:bold;
		text-align:center;
		padding-top:5px;
		font-size:2em;
	}
	#interact h3, #share-tools .popup h3 {
		border-top:1px solid #CDCDCD;
		border-bottom:1px solid #CDCDCD;
		font-size:1.2em;
		padding:5px;
		color:#777;
		margin:0px;
		background:url(../i/interact-header-bg.jpg) top repeat-x;
	}
	#interact .left {
		width:75%;	
	}
	#interact .right {
		width:20%;
		text-align:right;
	}
	#choose-note-type{
		background:url(../i/interact-tool-bg.jpg) repeat-x;
		height:32px;
		position:relative;
	}
		#share-tools {
			background:none;	
			height:32px;
			position:relative;
		}
		#choose-note-type input, #share-tools input {
			float:left;
			width:170px;
			border:none;
			border-left:1px solid #CDCDCD;
			background:none;
			color:#FFF;
			padding:7px;
		}
		 #share-tools input {
			background:url(../i/interact-tool-bg.jpg) repeat-x;
			width:75px;
			float:right;
			margin-left:15px;
			border-radius:3px;
			text-align:center;
			padding:3px;
			cursor:pointer;
		}
		.share-tools-active, #share-tools input:hover {
			background:url(../i/interact-tool-btn-active.jpg) repeat-x !important;
		}
		#share-tools .popup {
			-moz-box-shadow: 0 7px 14px -7px #333333;
			-webkit-box-shadow: 0 7px 14px -7px #333333;
			box-shadow: 0 7px 14px -7px #333333;
			width:200px;
			border-radius:2px;
			background:#FFF;
			border:1px solid #CDCDCD;
			border-top:none;
			position:absolute;
			height:75px;
			top:27px;
			right:0px;
			display:none;
			z-index: 999;
		}
		.popup div {
			margin:10px;	
		}
	#suggestion-loader, #comment-loader {
		background:url(../i/ajax-loader.gif) no-repeat left;
		height:16px;
		padding:0 0 0 20px;
		font-weight:bold;
		display:none;
	}
	#suggestions, #comments {
		font-size:.8em;
		background:#FFF;
		min-height:50px;
		padding:5px 0;
		overflow:auto;
		max-height:175px;
	}
		.note-tools {
			height:16px;
			clear:both;
			overflow:hidden;
			text-align:right;
			display:none;
		}
			.note-meta-tools {
				float:right !important;
				width:70px !important;
			}
			.comment-tools div, .note-tools div {
				height:16px;
				width:13px;
				cursor:pointer;
				float:right;
				margin-left:5px;
				background-repeat:no-repeat;
			}
			.like-btn {
				background-image:url(../i/note-actions.png) ;
				background-position:-26px -82px;
				margin-left:15px !important;
			}
				.like-btn:hover {
					background-position:-13px -82px;
				}
			.dislike-btn {
				background-image:url(../i/note-actions.png) ;
				background-position:-26px -97px;
			}
				.dislike-btn:hover {
					background-position:-13px -97px;
				}
			.flag-btn {
				width:15px !important;
				background-image:url(../i/note-actions.png) ;
				background-position:-29px -113px;
			}
				.flag-btn:hover {
					background-position:-14px -113px;
				}
			
			.note-tools-large {
				float:right;
				background: url(../i/interact-header-bg.jpg) repeat-x scroll center top transparent;
				border:1px solid #CCC;
				border-radius:2px;
				padding:5px 10px;
				overflow:hidden;
			}
				.note-tools-large div {
					height:27px;
					width:23px;
					cursor:pointer;
					float:right;
					margin-left:10px;
					background-repeat:no-repeat;
				}
				.like-large-btn {
					background-image:url(../i/note-actions.png) ;
					background-position:-46px 0px;
					margin-left:0px !important;
				}
					.like-large-btn:hover {
						background-position:-23px 0px;
					}
				.dislike-large-btn {
					background-image:url(../i/note-actions.png) ;
					background-position:-46px -27px;
				}
					.dislike-large-btn:hover {
						background-position:-23px -27px;
					}
				.flag-large-btn {
					width:26px !important;
					height:26px !important;
					background-image:url(../i/note-actions.png) ;
					background-position:-52px -56px;
				}
					.flag-large-btn:hover {
						background-position:-26px -56px;
					}
			
			
		.suggestion-info, .comment-info {
			margin-top:10px; 	
		}
		.suggestion, .comment {
			overflow:hidden;
			cursor:pointer;
			padding:5px 10px;
		}
			.suggestion:hover, .comment:hover {
				background:#EFEFEF;	
			}
		.suggestion-time, .comment-time {
			font-style:italic;
			font-size:.9em;
		}
		#add-notes {
			padding:10px;
			background:#FFF;
		}
		#frm-select {
			font-size:.9em;	
		}
		#choose-note-type, #suggestion-frm, #comment-frm, #note-submitted {
			display:none;	
		}
		#note-submitted  {
			padding:10px 0;	
		}
		#suggestion-frm textarea, #comment-frm textarea {
			width:334px; 
			height:100px;
			margin-bottom:10px;
		}
		#bookmark-btn, #suggestion-frm input, #comment-frm input {
			background:url(../i/interact-header.jpg) bottom repeat-x;
			padding:5px 0;
			width:170px;
			border-radius:2px;
			border:none;
			color:#FFF;
		}
		#bookmark-btn {
			text-align:center;
			margin:auto;
			cursor:pointer;
			margin-top:10px;
		}
		
#sponsored-notes-title {
	padding:20px 0;	
	font-size:18px;
	float:left;
	clear:left;
}
#sponsored-notes {
	overflow:hidden;
	float:left;
}
	#sponsored-notes img {
		float:left;
		margin-right:10px;
	}

.open_video {
	margin:0px 0px 0px 10px;
	padding:0px 0px 0px 0px;
	text-align:center;
	width:150px;
	float:left;
}

#keep_updated{
	width:250px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#keep_updated span{
	font-size:1.2em;
	margin-top:10px;
	float:left;
	margin-left:80px;
}

#keep_updated form{
	float:left;
	margin-top:5px;
}

#keep_updated label{
	float:left;
	margin-right:10px;
}

#keep_updated input[type=button]{
	float:left;
	margin-left:60px;
}

#update_success{
	display:block;
	float:left;
	background:lightGreen;
	width:360px;
	text-align:center;
	font-weight:bold;
	padding:10px 0 10px 0;
}

a.open_vid_title:link     {text-decoration:underline; color:#333; }
a.open_vid_title:visited  {text-decoration:underline; color:#333; }
a.open_vid_title:active   {text-decoration:underline; color:#333; }
a.open_vid_title:hover    {text-decoration:none; color:#666;  }
	
.sopa_live_button{
	background:url(../i/interact-header.jpg) repeat-x;
	height:39px;
	color:white;
	text-shadow: 1px 1px #333;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	font-size:1.5em;
	float:right;
	text-decoration:none;
	width:360px;
}	
	
/* VIEW - SUPPORTERS
=====================================================================*/	
.open_supporters{
	overflow:auto;
	font-size:115%;
}
.open_supporters > h1{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	font-size:1.1em;
	text-align:center;
}

.support_table{
	font-size:1.1em;
}

.support_table a{
	color:#a1c3e3;
}
	
.supporters_docs{
	list-style:none;
	padding:0;
}	

.supporters_docs h2{
	text-align:center;
	background:whiteSmoke;
	font-size:1.1em;
}
.supporters_docs h2 span{
	background:white;
	padding:0 10px 0 10px;
}

.support_letter{
	float:left;
	width:900px;
	border-bottom:1px dotted gray;
	padding:10px;
}

.support_letter > div{
	float:left;
	margin-left:20px;
	width:700px;
	padding:5px 0 5px 0;
	
}
.support_letter img{
	float:left;
}	
.support_letter > img{
	margin-top:15px;
}
.support_letter > div{
	display:table;
}

.support_letter p{
	width:500px;
	margin-bottom:0;
	float:left;
}
.support_letter h3
{
	width:500px;
	float:left;
}
.support_letter h3 img{
	height:60px;
	margin:0 10px 0 5px;
}
.support_sharing{
	display:table-cell;
	vertical-align:middle;
	width:180px;
}
.support_sharing .fb-like{
	width:50px;
	margin:0 0 50px 35px;
}

.support_sharing > *{
	margin-left:10px;
}
	
/* GENERIC STRUCTURE
=====================================================================*/	
#generic-content {
	border:1px solid #CDCDCD;
	border-radius:2px;
	background:#FFF;
	margin-bottom: 10px;
	padding:20px;
}
	#note-comment-container {
		clear:both; 
		padding:20px 0 20px 20px;
	}
		#note-comment-container textarea {
			width:400px;
			height:75px;
		}
		#note-comment-container input {
			margin-top:10px;
			display:block;
		}
	#note-comments {
		list-style:none;
		width:600px;
		padding:0 0 40px 25px;
	}
		#note-comments li {
			overflow:hidden;
			clear:both;
			border-bottom:1px solid #CCC;
			padding:10px 10px 20px 10px;
		}
		.comment-tools {
			overflow:hidden;
			float:right;
			margin:10px 0 0 0;
		}
	.note-meta {
		padding-top:15px;	
	}
	
#gbt_lightbox {
    position:fixed;
    z-index:500;
    top:0px;
    left:0px;
    background:#000;
    opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=75); /* IE lt 8 */
    -ms-filter: "alpha(opacity=75)"; /* IE 8 */
    -khtml-opacity: .75; /* Safari 1.x */
    width:100%;
    height:100%;
    display:none;
}
#gbt_lightbox_content {
    position:absolute;
    z-index:550;
    top:200px;
    left:50%;
	margin-left:-345px;
    background:#FFF;
    display:none;
    -moz-box-shadow: 5px 5px 5px #222;
    -webkit-box-shadow: 5px 5px 5px #222;
    box-shadow: 5px 5px 5px #222;
}
#gbt_lightbox_close {
    background:url(../i/closelightbox.png) no-repeat;
    height:32px;
    width:32px;
    position:absolute;
    top:-16px;
    right:-16px;
    cursor:pointer;
    float:right;
} 
.lightbox_page {
	padding:20px;
	width:690px;
	background-color:#FFF;
}
	.lightbox_page textarea {
		width:680px;
		margin-bottom:5px;
	}
#suggestion_preview_original, #suggestion_preview_edit {
	margin-bottom:20px;	
}

/* SOPA-MARKUP
=====================================================================*/
#markup_video{
	width:675px;
	margin-left:auto;
	margin-right:auto;
}

#markup_thumbs{
	width:640px;
	overflow:hidden;
	float:left;
	margin-top:30px;
	height:114px;
}
#markup_slider{
	position:relative;
	left:0;
	width:910px;
}

#markup_slider .markup_thumb:first-child{
	margin-left:0;
}

.markup_thumb{
	width:120px;
	text-align:center;
	padding-bottom:10px;
	float:left;
	margin-left:10px;
}
.markup_thumb a{
	text-decoration:none;
}
#slide_left{
	margin-left:88px;
	clear:left;
}

.slide_arrow{
	margin-top:50px;;
	float:left;
	cursor:pointer;
}
.slide_arrow img{
	height:50px;
}
.sopa-markup h2{
	padding-top:20px;
	clear:both;
	font-size:2em;
}

#markup_action{
	width:560px;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}

#markup_action a{
	display:block;
	clear:left;
}

h1.sopa-markup{
	font-size:2em;
	text-align:center;
}

#markup_action h1, h2, h3{
	margin:10px 0 10px 0;
}

#markup_action h1, h2
{
	text-align:center;
}

#markup_action div{
	margin-left:30px;
}

#markup_action div span{
	font-weight:bold;
}
.sopa-markup th{
	text-align:left;
	font-size:1.2em;
	padding-left:90px;
}
.sopa-markup th:first-child{
	padding-left:80px;
}

/* User Submitted Comments Page */
#theComments{
	list-style:none;
}
.user-comments h1{
	text-align:center;
}
.user-comment-intro{
	margin:20px 20px 20px 40px;
}
.user-comment{
	padding-bottom:10px;
	border-bottom:1px dotted gray;
}
.user-comment h2{
	text-align:left;
	float:left;
}
.social_share{
	float:right;
	margin-top:10px;
}
.twitter_share{
	float:left;
	margin-right:10px;
}
.open_section{
	clear:left;
}
.comment_reason{
	margin-top:10px;
}



/* User Submitted Changes Styling */
.user-comment-button{
	float:left;
	margin-left:10px; 
	color:white;
	padding:10px;
	text-shadow:1px -1px #333;
	
	background-image: linear-gradient(bottom, rgb(64,102,148) 30%, rgb(86,137,181) 83%);
	background-image: -o-linear-gradient(bottom, rgb(64,102,148) 30%, rgb(86,137,181) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(64,102,148) 30%, rgb(86,137,181) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(64,102,148) 30%, rgb(86,137,181) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(64,102,148) 30%, rgb(86,137,181) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(64,102,148)),
		color-stop(0.83, rgb(86,137,181))
	);
}
.user-comment-button a{
	color:white;
	text-decoration:none;
}
.user-comment-button:hover{
	background:#406694;
	cursor:pointer;
}
	
/* FOOTER STRUCTURE
=====================================================================*/
#footer {
	margin:auto;
	width:960px;
	font-size:.8em;
	padding:30px 0;
}


/* Admin Content Styling */
#content.admin{margin-top:50px;}
#content.admin input[type="submit"]{ display:block; }
img.admin_info_ico{position:relative; top:5px; cursor:help;}
	
	/* Nav Admin Page */
		ol{list-style-type:none;}
		.sortable li{position:relative;}
		.sortable li div.sort_handle{
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}
		
	.menu_items{
		display:inline-block;
		vertical-align:top;
		margin-left:20px;
	}
		.menu_items li{
			list-style:none;
		}
	.ajax_message{
		text-align:center;
		float:left;
		padding:5px 10px;
		background-color:lightyellow;
		border:1px solid darkgoldenrod;
	}
	.delete_nav_item, .delete_doc_item{
		position:absolute;
		right:0;
		margin:0 10px 0 0;
		text-decoration:underline;
		color:red;
		cursor:pointer;
		z-index:10;
		top:5px;
	}
	.add_doc_item{
		display:inline;
		position:absolute;
		margin:0;
		right:22px;
		border:1px solid black;
		border-radius:10px;
		padding:0 4px;
		top:6px;
		cursor:pointer;
	}
	.add_doc_item:hover{
		background-color:lightgray;
	}

	/* Document Admin Page */
	.edit_doc_info{
		vertical-align:top;
		text-align:center;
		
	}
		.edit_doc_info h2{
			text-align:center;
		}
		.edit_doc_info input[type="submit"]{
			margin:0 auto;
		}
		.edit_info_link{text-decoration:underline; cursor:pointer;}
		
	.edit_doc_content{
		display:block;
		vertical-align:top;
	}
		.edit_doc_info h2{
			text-align:center;
		}
		.doc_item_content{
			max-height:0;
			display:block;
			clear:both;
			margin:0;
			overflow:hidden;
			transition: max-height .5s;
			-moz-transition: max-height .5s; /* Firefox 4 */
			-webkit-transition: max-height .5s; /* Safari and Chrome */
			-o-transition: max-height .5s; /* Opera */
		}
		.doc_item_content.expanded{
			max-height:999px;
		}
		.doc_item_content textarea{
			width:98%;
			resize:both;
		}


/*	CSS Spinner Loading Icon */
	.floatingCirclesG{
		position:relative;
		width:14px;
		height:14px;
		-moz-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-o-transform:scale(0.6);
		transform:scale(0.6);
	}
	.sort_handle .floatingCirclesG{
		position:absolute;
		top:6px;
		right:5px;
	}

	.f_circleG{
		position:absolute;
		background-color:#ffffff;
		height:3px;
		width:3px;
	}
	.f_circleG.animated{
		-moz-border-radius:1px;
		-moz-animation-name:f_fadeG;
		-moz-animation-duration:1.04s;
		-moz-animation-iteration-count:infinite;
		-moz-animation-direction:linear;
		-webkit-border-radius:1px;
		-webkit-animation-name:f_fadeG;
		-webkit-animation-duration:1.04s;
		-webkit-animation-iteration-count:infinite;
		-webkit-animation-direction:linear;
		-ms-border-radius:1px;
		-ms-animation-name:f_fadeG;
		-ms-animation-duration:1.04s;
		-ms-animation-iteration-count:infinite;
		-ms-animation-direction:linear;
		-o-border-radius:1px;
		-o-animation-name:f_fadeG;
		-o-animation-duration:1.04s;
		-o-animation-iteration-count:infinite;
		-o-animation-direction:linear;
		border-radius:1px;
		animation-name:f_fadeG;
		animation-duration:1.04s;
		animation-iteration-count:infinite;
		animation-direction:linear;
	}

	.frotateG_01{
		left:0;
		top:6px;
		-moz-animation-delay:0.39s;
		-webkit-animation-delay:0.39s;
		-ms-animation-delay:0.39s;
		-o-animation-delay:0.39s;
		animation-delay:0.39s;
	}

	.frotateG_02{
		left:2px;
		top:2px;
		-moz-animation-delay:0.52s;
		-webkit-animation-delay:0.52s;
		-ms-animation-delay:0.52s;
		-o-animation-delay:0.52s;
		animation-delay:0.52s;
	}

	.frotateG_03{
		left:6px;
		top:0;
		-moz-animation-delay:0.65s;
		-webkit-animation-delay:0.65s;
		-ms-animation-delay:0.65s;
		-o-animation-delay:0.65s;
		animation-delay:0.65s;
	}

	.frotateG_04{
		right:2px;
		top:2px;
		-moz-animation-delay:0.78s;
		-webkit-animation-delay:0.78s;
		-ms-animation-delay:0.78s;
		-o-animation-delay:0.78s;
		animation-delay:0.78s;
	}

	.frotateG_05{
		right:0;
		top:6px;
		-moz-animation-delay:0.91s;
		-webkit-animation-delay:0.91s;
		-ms-animation-delay:0.91s;
		-o-animation-delay:0.91s;
		animation-delay:0.91s;
	}

	.frotateG_06{
		right:2px;
		bottom:2px;
		-moz-animation-delay:1.04s;
		-webkit-animation-delay:1.04s;
		-ms-animation-delay:1.04s;
		-o-animation-delay:1.04s;
		animation-delay:1.04s;
	}

	.frotateG_07{
		left:6px;
		bottom:0;
		-moz-animation-delay:1.17s;
		-webkit-animation-delay:1.17s;
		-ms-animation-delay:1.17s;
		-o-animation-delay:1.17s;
		animation-delay:1.17s;
	}

	.frotateG_08{
		left:2px;
		bottom:2px;
		-moz-animation-delay:1.3s;
		-webkit-animation-delay:1.3s;
		-ms-animation-delay:1.3s;
		-o-animation-delay:1.3s;
		animation-delay:1.3s;
	}

	@-moz-keyframes f_fadeG{
		0%{
			background-color:#ff0000
		}
		100%{
			background-color:#ffffff
		}
	}

	@-webkit-keyframes f_fadeG{
		0%{
			background-color:#ff0000
		}
		100%{
			background-color:#ffffff
		}
	}

	@-ms-keyframes f_fadeG{
		0%{
			background-color:#ff0000
		}

		100%{
			background-color:#ffffff
		}
	}

	@-o-keyframes f_fadeG{
		0%{
			background-color:#ff0000
		}
		100%{
			background-color:#ffffff
		}
	}

	@keyframes f_fadeG{
		0%{
			background-color:#ff0000
		}

		100%{
			background-color:#ffffff
		}
	}

	/* End Spinner Loading Icon */

#alert_wrapper{
	width:960px;
	margin:0 auto;
}
