/* @override
	http://mymadison.io/css/style.css */
/* line 1, ../sass/_helpers.scss */
.centered {
  margin: 0 auto;
}

/* line 1, ../sass/_dashboard.scss */
.existing-date {
  background: lightgray;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
}

/* line 1, ../sass/_document.scss */
.doc_content {
  /* max-height:700px;
  overflow-y:scroll; */
  margin-bottom: 165px;
}
/* line 4, ../sass/_document.scss */
.doc_content ol {
  list-style: none;
}

/* line 10, ../sass/_document.scss */
.doc-info {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0px;
  margin-bottom: 25px;
}
/* line 15, ../sass/_document.scss */
.doc-info h1 {
  text-align: left;
  font-size: 28px;
}
/* line 19, ../sass/_document.scss */
.doc-info div {
  color: #666;
}

/* line 1, ../sass/_rightbar.scss */
.rightbar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  padding: 5px 30px;
}
/* line 6, ../sass/_rightbar.scss */
.rightbar > .row:last-child {
  border-bottom: none;
  margin-bottom: 20px;
}
/* line 11, ../sass/_rightbar.scss */
.rightbar h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
/* line 16, ../sass/_rightbar.scss */
.rightbar .rounded-bottom {
  text-align: center;
  background: #c70102;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 0;
  color: white;
}
/* line 24, ../sass/_rightbar.scss */
.rightbar .rounded-bottom a {
  color: white;
  font-size: 1.3em;
}
/* line 30, ../sass/_rightbar.scss */
.rightbar .participate-comment {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}
/* line 35, ../sass/_rightbar.scss */
.rightbar .activity-thread {
  font-size: 13px;
  color: #444;
}
/* line 40, ../sass/_rightbar.scss */
.rightbar .activity-item {
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
/* line 44, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-author {
  font-weight: bold;
}
/* line 47, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-content {
  margin-bottom: 5px;
  padding-top: 5px;
}
/* line 51, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-actions, .rightbar .activity-item .activity-replies-indicator {
  cursor: pointer;
  opacity: .25;
}
/* line 54, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-actions span.glyphicon, .rightbar .activity-item .activity-replies-indicator span.glyphicon {
  padding-right: 4px;
}
/* line 59, ../sass/_rightbar.scss */
.rightbar .activity-item:hover .activity-actions, .rightbar .activity-item:hover .activity-replies-indicator {
  opacity: 1;
}
/* line 63, ../sass/_rightbar.scss */
.rightbar .activity-item .glyphicon {
  color: #888;
}
/* line 67, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-replies .activity-reply {
  margin-top: 12px;
  padding-left: 33px;
}
/* line 72, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-replies .activity-reply .reply-author {
  font-weight: bold;
}
/* line 74, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-replies .activity-reply .reply-author .glyphicon {
  margin-left: -18px;
}
/* line 78, ../sass/_rightbar.scss */
.rightbar .activity-item .activity-replies .activity-reply .reply-text {
  padding-top: 5px;
}

/* line 2, ../sass/_animations.scss */
.activity-item.ng-move {
  position: relative;
  top: -20px;
  opacity: 0;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
/* line 8, ../sass/_animations.scss */
.activity-item.ng-move.ng-move-active {
  top: 0;
  opacity: 1;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 28, ../sass/style.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 35, ../sass/style.scss */
html {
  height: 100%;
}

/* line 39, ../sass/style.scss */
body {
  height: 100%;
  background-color: whitesmoke;
}

/* line 44, ../sass/style.scss */
.wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -75px;
}

/* line 50, ../sass/style.scss */
.footer {
  height: 75px;
  margin-top: 100px;
  background: #353535;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353535 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353535 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353535 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353535 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #353535 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
  background: #DEDEDE;
}

/* line 57, ../sass/style.scss */
h1 {
  text-align: center;
}

/* line 61, ../sass/style.scss */
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fafafa;
}
/* line 65, ../sass/style.scss */
a:hover {
  color: white;
  text-decoration: none;
}
/* line 70, ../sass/style.scss */
a.disabled {
  cursor: default;
  opacity: .5;
}
/* line 75, ../sass/style.scss */
a.gray {
  color: #fafafa;
}
/* line 78, ../sass/style.scss */
a.white {
  color: white;
}
/* line 81, ../sass/style.scss */
a.black {
  color: black;
}
/* line 84, ../sass/style.scss */
a.black:hover {
  color: #fafafa;
}
/* line 87, ../sass/style.scss */
a.black:hover del, a.black:hover ins {
  color: #fafafa;
}
/* line 92, ../sass/style.scss */
a.underlined {
  text-decoration: underline;
}

/* line 97, ../sass/style.scss */
p.gray {
  color: #fafafa;
}

/* line 102, ../sass/style.scss */
del, ins {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 106, ../sass/style.scss */
del {
  color: red;
}

/* line 109, ../sass/style.scss */
ins {
  color: green;
}

/* line 114, ../sass/style.scss */
input.disabled {
  cursor: default;
  opacity: .5;
}

/* line 120, ../sass/style.scss */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-top: 10px;
}

/* line 124, ../sass/style.scss */
textarea.form-inline {
  width: 100%;
  margin-top: 0;
  height: 150px;
}

/* line 130, ../sass/style.scss */
.btn-black {
  background: #353535;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353535 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353535 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353535 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353535 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #353535 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
  color: #fafafa;
}

/* MAIN HEADER
------------------------------ */
/* line 138, ../sass/style.scss */
.header {
  background: #4196f0;
  padding-bottom: 7px;
}
/* line 142, ../sass/style.scss */
.header .container {
  padding-right: 0px;
  padding-left: 0px;
}
/* line 145, ../sass/style.scss */
.header .container .col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}
/* line 151, ../sass/style.scss */
.header .logo-madison {
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 156, ../sass/style.scss */
.header .link-home {
  display: inline-block;
}
/* line 158, ../sass/style.scss */
.header h1, .header h2 {
  margin: 0;
  color: #459ffe;
}
/* line 164, ../sass/style.scss */
.header h1 {
  margin: 0 0 5px;
  font-size: 28px;
}
/* line 169, ../sass/style.scss */
.header h2 {
  font-size: 14px;
}
/* line 175, ../sass/style.scss */
.header .logo-madison h1 {
  color: #FFF;
  font-weight: normal;
  position: relative;
}
/* line 181, ../sass/style.scss */
.header .level {
  color: #e3f4ff;
  font-size: .33em;
  background: #83c4ff;
  padding: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  top: 8px;
  right: -45px;
  position: absolute;
}

/* NAVIGATION
------------------------------ */
/* line 203, ../sass/style.scss */
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 210, ../sass/style.scss */
.nav li {
  margin: 0;
  padding: 0;
}

/* line 216, ../sass/style.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
  text-decoration: none;
}

/* line 223, ../sass/style.scss */
.nav-main ul {
  margin-top: 22px;
  /* TO-DO: Needs to be dynamic */
  float: right;
}
/* line 228, ../sass/style.scss */
.nav-main li {
  margin-left: 20px;
  float: left;
  font-weight: bold;
  font-size: 12px;
}
/* line 233, ../sass/style.scss */
.nav-main li a {
  color: #FFF;
}
/* line 237, ../sass/style.scss */
.nav-main li ul li {
  margin-left: 0px;
  display: block;
  width: 100%;
}
/* line 241, ../sass/style.scss */
.nav-main li ul li a {
  color: #4196f0;
  padding-left: 5px;
}
/* line 252, ../sass/style.scss */
.nav-main .dropdown-menu {
  margin-top: 0;
}

/* line 257, ../sass/style.scss */
.nav-footer {
  padding-top: 30px;
  text-align: center;
}
/* line 262, ../sass/style.scss */
.nav-footer .container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 268, ../sass/style.scss */
.nav-footer a {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px 0 0;
  padding: 0 10px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  border-right: 1px solid #bcbab9;
}
/* line 278, ../sass/style.scss */
.nav-footer a:last-child {
  margin-right: none;
  padding-right: none;
  border-right: none;
}

/* GLOBAL SEARCH
------------------------------ */
/* line 289, ../sass/style.scss */
.global-search form {
  width: 100%;
  position: relative;
  top: 14px;
  /* TO-DO: Needs to be dynamic */
}
/* line 295, ../sass/style.scss */
.global-search .input-search {
  margin: 0;
}
/* line 299, ../sass/style.scss */
.global-search .input-submit {
  height: 24px;
  width: 24px;
  margin: -12px 0 0;
  border: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  text-indent: -9999px;
  background: transparent url(../img/dark-blue-search.png) center no-repeat;
}

/* CONTENT
------------------------------ */
/* line 314, ../sass/style.scss */
#main {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

/* line 320, ../sass/style.scss */
.navbar {
  background: #55a7fb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #55a7fb), color-stop(100%, #2e74bc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #55a7fb 0%, #2e74bc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
  margin-top: 20px;
  z-index: 1;
}
/* line 326, ../sass/style.scss */
.navbar .nav {
  margin-top: 0;
}
/* line 330, ../sass/style.scss */
.navbar .navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 334, ../sass/style.scss */
.navbar .navbar-form button {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 338, ../sass/style.scss */
.navbar .navbar-form input[type="text"] {
  margin-bottom: 10px;
}

/* line 347, ../sass/style.scss */
.navbar-default .navbar-nav li a.black {
  color: black;
}
/* line 350, ../sass/style.scss */
.navbar-default .navbar-nav li a.black:hover {
  color: white;
}

/* line 359, ../sass/style.scss */
.content {
  background: white;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 370, ../sass/style.scss */
.content a {
  color: black;
}
/* line 373, ../sass/style.scss */
.content a:hover {
  color: #fafafa;
}
/* line 376, ../sass/style.scss */
.content ul {
  list-style: none;
}

/* line 382, ../sass/style.scss */
.content.col-md-12 .row h1 {
  margin-bottom: 45px;
}
/* line 385, ../sass/style.scss */
.content.col-md-12 .row ul {
  list-style: none;
  margin-top: 40px;
  padding: 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 390, ../sass/style.scss */
.content.col-md-12 .row ul li {
  border-top: 1px solid #ccc;
  padding: 12px 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 395, ../sass/style.scss */
.content.col-md-12 .row ul li a {
  font-weight: bold;
  font-size: 1.2em;
  color: #444;
  line-height: 140%;
}
/* line 400, ../sass/style.scss */
.content.col-md-12 .row ul li a:hover {
  color: #111;
  text-decoration: underline;
}
/* line 405, ../sass/style.scss */
.content.col-md-12 .row ul li .list-doc-info {
  color: #999;
  font-size: .9em;
  margin-top: 4px;
}
/* line 409, ../sass/style.scss */
.content.col-md-12 .row ul li .list-doc-info span {
  padding-right: 10px;
}
/* line 419, ../sass/style.scss */
.content.col-md-12 .row ul li .list-doc-info .doc-action-count {
  background: #999;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 12px;
  display: block;
  padding: 3px 8px 4px 8px;
}
/* line 432, ../sass/style.scss */
.content.col-md-12 .row ul li .doc-categories {
  padding-right: 0px;
  margin-right: 0px;
  position: relative;
  top: -2px;
}
/* line 438, ../sass/style.scss */
.content.col-md-12 .row ul li .category {
  background: #999;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 3px 6px 4px 6px;
  font-size: .8em;
  margin-left: 4px;
}
/* line 448, ../sass/style.scss */
.content.col-md-12 .row ul li .doc-statuses {
  position: relative;
  top: -2px;
}
/* line 451, ../sass/style.scss */
.content.col-md-12 .row ul li .doc-statuses .status {
  background: #489EF9;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 3px 6px 4px 6px;
  font-size: .8em;
  margin-right: 4px;
}

/* line 468, ../sass/style.scss */
.select2-container {
  width: 72%;
  float: left;
}

/* line 473, ../sass/style.scss */
#s2id_dateSortSelect {
  float: right;
  width: 25%;
}

/* line 479, ../sass/style.scss */
.user-info h1 {
  margin-bottom: 5px !important;
}

/* line 483, ../sass/style.scss */
.user-gravatar {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  float: left;
}

/* line 490, ../sass/style.scss */
h1.user-name {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

/* line 497, ../sass/style.scss */
.user-verified {
  background: #489EF9;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 4px 5px 4px 5px;
  font-size: .8em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  top: -6px;
  margin-left: 5px;
}

/* line 512, ../sass/style.scss */
.user-created-date {
  color: #999;
  font-size: .9em;
  display: block;
  padding-left: 1px;
}

/* line 520, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li {
  border-top: none;
  padding: 0px;
}
/* line 523, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li a {
  color: #999;
  border: none;
}
/* line 526, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
/* line 535, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li.active a {
  color: #FFFFFF;
  background: #489EF9;
  border: none;
  padding-bottom: 10px;
}
/* line 540, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li.active a:hover {
  color: #FFF;
}

/* line 548, ../sass/style.scss */
.content.col-md-12 .row ul.user-sponsored-docs {
  margin-top: 0px;
}
/* line 550, ../sass/style.scss */
.content.col-md-12 .row ul.user-sponsored-docs li {
  border-top: none;
  border-bottom: 1px solid #ccc;
}

/* line 556, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items {
  margin-top: 0px;
}
/* line 558, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li {
  border-top: none;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 563, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li blockquote {
  margin-bottom: 5px;
  background: #DEEEFF;
  border: none;
  padding: 10px 15px;
  margin-top: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 571, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li a {
  font-size: 1em !important;
  text-decoration: underline !important;
}
/* line 575, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li .user-activity-title {
  font-size: 1em !important;
}

/* line 584, ../sass/style.scss */
.leftbar {
  position: relative;
  right: -2.12766%;
  background-color: #4b4b4b;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  border: 2px groove white;
  border-right: none;
}
/* line 595, ../sass/style.scss */
.leftbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 22, ../sass/_mixins.scss */
.leftbar ul > li {
  display: block;
  float: left;
}
/* line 25, ../sass/_mixins.scss */
.leftbar ul > li:last-child {
  margin-right: 0px;
}
/* line 597, ../sass/style.scss */
.leftbar ul li {
  padding: 10px;
}

/* line 603, ../sass/style.scss */
.getstarted {
  padding: 0;
}
/* line 606, ../sass/style.scss */
.getstarted p {
  margin: 10px 20px;
  color: lightgrey;
}

/* line 612, ../sass/style.scss */
#page {
  margin-left: 0;
  padding: 10px;
  background: white;
  border: 2px groove white;
  border-right: none;
  border-left: none;
}

/* line 623, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 626, ../sass/style.scss */
.small-header {
  font-size: 1em;
}

/* line 629, ../sass/style.scss */
.blue {
  color: #4196f0;
}
/* line 631, ../sass/style.scss */
.blue span.red {
  color: #d60003;
}

/* line 635, ../sass/style.scss */
.red {
  color: #d60003;
}
/* line 638, ../sass/style.scss */
.red:hover {
  color: #fafafa;
}

/* line 643, ../sass/style.scss */
.single-shadow {
  text-shadow: 1px 1px 5px black;
}

/* line 646, ../sass/style.scss */
input[type="search"].dark-search {
  background: #4b4b4b;
  border: none;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  color: lightgray;
}

/* line 655, ../sass/style.scss */
input[type="search"].blue-search {
  background: #83c4ff;
  border: none;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  color: #FFF !important;
}
/* line 32, ../sass/_mixins.scss */
input[type="search"].blue-search.placeholder {
  color: #C6E5FF;
}
/* line 33, ../sass/_mixins.scss */
input[type="search"].blue-search:-moz-placeholder {
  color: #C6E5FF;
}
/* line 34, ../sass/_mixins.scss */
input[type="search"].blue-search::-moz-placeholder {
  color: #C6E5FF;
}
/* line 35, ../sass/_mixins.scss */
input[type="search"].blue-search:-ms-input-placeholder {
  color: #C6E5FF;
}
/* line 36, ../sass/_mixins.scss */
input[type="search"].blue-search::-webkit-input-placeholder {
  color: #C6E5FF;
}

/* line 667, ../sass/style.scss */
.bookmark {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 672, ../sass/style.scss */
.bookmark .bookmark-label {
  position: relative;
  top: 20px;
  right: 40px;
  font-size: .8em;
}

/* line 682, ../sass/style.scss */
.ribbon {
  width: 25px;
  height: 40px;
  overflow: hidden;
  position: relative;
  top: -20px;
  right: -15px;
}
/* line 690, ../sass/style.scss */
.ribbon .ribbon-container {
  position: relative;
  width: 25px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 698, ../sass/style.scss */
.ribbon .ribbon-base {
  height: 25px;
  width: 25px;
  background: #999;
  position: relative;
  z-index: 2;
}
/* line 705, ../sass/style.scss */
.ribbon .ribbon-base:after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 19px;
  left: 3px;
  height: 36px;
  border-left: 1px dashed #cacaca;
  border-right: 1px dashed #cacaca;
}
/* line 717, ../sass/style.scss */
.ribbon .ribbon-left-corner {
  -webkit-transform: 45deg;
  -moz-transform: 45deg;
  -ms-transform: 45deg;
  -o-transform: 45deg;
  transform: 45deg;
  width: 25px;
  height: 25px;
  background: #999;
  position: absolute;
  bottom: 5px;
  left: -13px;
  z-index: 1;
}
/* line 729, ../sass/style.scss */
.ribbon .ribbon-right-corner {
  -webkit-transform: 45deg;
  -moz-transform: 45deg;
  -ms-transform: 45deg;
  -o-transform: 45deg;
  transform: 45deg;
  width: 25px;
  height: 25px;
  background: #999;
  position: absolute;
  bottom: 5px;
  right: -13px;
  z-index: 1;
}

/* Login form */
/* line 744, ../sass/style.scss */
.content .forgot-password {
  color: #4196f0;
  font-weight: bold;
  margin-left: 20px;
}

/* Annotation Login Styling
--------------------------------*/
/* line 753, ../sass/style.scss */
.popup {
  background: #fafafa;
  padding: 12px 12px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 762, ../sass/style.scss */
.unauthed-popup .errors ul {
  list-style: none;
  padding: 0;
}
/* line 765, ../sass/style.scss */
.unauthed-popup .errors ul li {
  background: #F9F2F4;
  color: #c7254e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  margin-bottom: 4px;
}
/* line 774, ../sass/style.scss */
.unauthed-popup .row {
  min-width: 300px;
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 779, ../sass/style.scss */
.unauthed-popup .row .form-group input {
  margin-top: 0px;
}
/* line 787, ../sass/style.scss */
.unauthed-popup #login {
  margin-right: 3px;
}

/* Annotator Plugin Styling
--------------------------------*/
/* line 802, ../sass/style.scss */
.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}
/* line 805, ../sass/style.scss */
.glyphicon.selected {
  color: blue;
}
/* line 809, ../sass/style.scss */
.glyphicon.logged-in {
  cursor: pointer;
}
/* line 813, ../sass/style.scss */
.glyphicon .action-count:before {
  content: '(';
}
/* line 817, ../sass/style.scss */
.glyphicon .action-count:after {
  content: ')';
}

/* line 822, ../sass/style.scss */
.activity-replies-indicator {
  cursor: pointer;
}

/* line 826, ../sass/style.scss */
.caret-right {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 830, ../sass/style.scss */
.annotation-action > span {
  margin: 0 5px;
}

/* line 835, ../sass/style.scss */
.annotation-comments input[type="text"] {
  padding-left: 10px;
}
/* line 839, ../sass/style.scss */
.annotation-comments .btn {
  margin-top: 5px;
  padding: 0px 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #428bca), color-stop(100%, #3071a9));
  background-image: -webkit-linear-gradient(#428bca, #3071a9);
  background-image: -moz-linear-gradient(#428bca, #3071a9);
  background-image: -o-linear-gradient(#428bca, #3071a9);
  background-image: linear-gradient(#428bca, #3071a9);
  color: white;
}
/* line 845, ../sass/style.scss */
.annotation-comments .btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68a2d5), color-stop(100%, #488fcb));
  background-image: -webkit-linear-gradient(#68a2d5, #488fcb);
  background-image: -moz-linear-gradient(#68a2d5, #488fcb);
  background-image: -o-linear-gradient(#68a2d5, #488fcb);
  background-image: linear-gradient(#68a2d5, #488fcb);
}

/* line 851, ../sass/style.scss */
.current-comments {
  max-height: 200px;
  overflow-y: scroll;
}

/** Sidebar Styling **/
/* line 858, ../sass/style.scss */
.sidebar-annotation {
  background: #fffac1;
  color: black;
}
/* line 862, ../sass/style.scss */
.sidebar-annotation a {
  color: black;
}
/* line 865, ../sass/style.scss */
.sidebar-annotation a:hover {
  color: lightgray;
}
/* line 870, ../sass/style.scss */
.sidebar-annotation blockquote {
  margin-bottom: 0;
  border-bottom: 1px dotted darkgray;
  padding: 5px 10px;
  border-left: none;
}

/* line 878, ../sass/style.scss */
.sidebar-annotation-wrapper {
  max-height: 300px;
  overflow: scroll;
  border: 3px solid #4b4b4b;
}

/* line 883, ../sass/style.scss */
.sidebar-comment-label {
  cursor: pointer;
}

/* line 887, ../sass/style.scss */
.sidebar-comment-thread {
  margin-left: 10px;
}

/* line 892, ../sass/style.scss */
.participate-comments .comment-thread {
  margin-top: 20px;
  border-top: 1px dotted lightgray;
  max-height: 300px;
  overflow: scroll;
}
/* line 898, ../sass/style.scss */
.participate-comments .comment-thread blockquote {
  margin-bottom: 0;
  border-bottom: 1px dotted darkgray;
  border-left: none;
}
