/* @override
	http://mymadison.io/css/style.css */
/* line 1, ../sass/_helpers.scss */
.centered {
  margin: 0 auto;
}

/* line 10, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrap {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}
/* line 18, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrap #wrap-footer {
  height: 100px;
}

/* line 20, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 100px;
}

/* Bootstrap Overrides */
/* line 24, ../sass/style.scss */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
}

/* line 28, ../sass/style.scss */
.row {
  margin-right: inherit;
  margin-left: inherit;
}

/* End Bootstrap Overrides*/
/* line 35, ../sass/style.scss */
body {
  background: url(../img/grey.png) repeat;
}

/* line 39, ../sass/style.scss */
h1 {
  text-align: center;
}

/* line 43, ../sass/style.scss */
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #bcbab9;
}
/* line 47, ../sass/style.scss */
a:hover {
  color: white;
  text-decoration: none;
}
/* line 52, ../sass/style.scss */
a.disabled {
  cursor: default;
  opacity: .5;
}
/* line 57, ../sass/style.scss */
a.gray {
  color: #bcbab9;
}
/* line 60, ../sass/style.scss */
a.white {
  color: white;
}
/* line 63, ../sass/style.scss */
a.black {
  color: black;
}
/* line 66, ../sass/style.scss */
a.black:hover {
  color: #bcbab9;
}
/* line 69, ../sass/style.scss */
a.black:hover del, a.black:hover ins {
  color: #bcbab9;
}
/* line 74, ../sass/style.scss */
a.underlined {
  text-decoration: underline;
}

/* line 79, ../sass/style.scss */
p.gray {
  color: #bcbab9;
}

/* line 84, ../sass/style.scss */
del, ins {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 88, ../sass/style.scss */
del {
  color: red;
}

/* line 91, ../sass/style.scss */
ins {
  color: green;
}

/* line 96, ../sass/style.scss */
input.disabled {
  cursor: default;
  opacity: .5;
}

/* line 102, ../sass/style.scss */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-top: 10px;
}

/* line 106, ../sass/style.scss */
textarea.form-inline {
  width: 100%;
  margin-top: 0;
  height: 150px;
}

/* line 112, ../sass/style.scss */
.btn-black {
  background: #353535;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353535 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353535 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353535 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353535 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #353535 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
  color: #bcbab9;
}

/* MAIN HEADER
------------------------------ */
/* line 120, ../sass/style.scss */
.header {
  background: #353535;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353535 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353535 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353535 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353535 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #353535 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
}
/* line 123, ../sass/style.scss */
.header .logo-madison {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 128, ../sass/style.scss */
.header .link-home {
  display: inline-block;
}
/* line 130, ../sass/style.scss */
.header h1, .header h2 {
  margin: 0;
  color: #459ffe;
}
/* line 136, ../sass/style.scss */
.header h1 {
  margin: 0 0 5px;
  font-size: 28px;
}
/* line 141, ../sass/style.scss */
.header h2 {
  font-size: 14px;
}
/* line 145, ../sass/style.scss */
.header .level {
  color: #dc0002;
}

/* NAVIGATION
------------------------------ */
/* line 157, ../sass/style.scss */
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 163, ../sass/style.scss */
.nav li {
  margin: 0;
  padding: 0;
}

/* line 171, ../sass/style.scss */
.nav-main ul {
  margin-top: 22px;
  /* TO-DO: Needs to be dynamic */
}
/* line 175, ../sass/style.scss */
.nav-main li {
  margin-right: 20px;
  float: left;
  font-weight: bold;
  font-size: 12px;
}
/* line 182, ../sass/style.scss */
.nav-main .dropdown-menu {
  margin-top: 0;
}

/* line 187, ../sass/style.scss */
.nav-footer {
  padding-top: 30px;
  text-align: center;
}
/* line 192, ../sass/style.scss */
.nav-footer .container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 198, ../sass/style.scss */
.nav-footer a {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px 0 0;
  padding: 0 10px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  border-right: 1px solid #bcbab9;
}
/* line 208, ../sass/style.scss */
.nav-footer a:last-child {
  margin-right: none;
  padding-right: none;
  border-right: none;
}

/* GLOBAL SEARCH
------------------------------ */
/* line 219, ../sass/style.scss */
.global-search form {
  width: 95%;
  position: relative;
  top: 14px;
  /* TO-DO: Needs to be dynamic */
}
/* line 225, ../sass/style.scss */
.global-search .input-search {
  margin: 0;
}
/* line 229, ../sass/style.scss */
.global-search .input-submit {
  height: 24px;
  width: 24px;
  margin: -12px 0 0;
  border: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  text-indent: -9999px;
  background: transparent url(../img/dark-blue-search.png) center no-repeat;
}

/* CONTENT
------------------------------ */
/* line 244, ../sass/style.scss */
#main {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

/* line 250, ../sass/style.scss */
.navbar {
  background: #55a7fb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #55a7fb), color-stop(100%, #2e74bc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #55a7fb 0%, #2e74bc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
  margin-top: 20px;
  z-index: 1;
}
/* line 256, ../sass/style.scss */
.navbar .nav {
  margin-top: 0;
}
/* line 260, ../sass/style.scss */
.navbar .navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 264, ../sass/style.scss */
.navbar .navbar-form button {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 268, ../sass/style.scss */
.navbar .navbar-form input[type="text"] {
  margin-bottom: 10px;
}

/* line 277, ../sass/style.scss */
.navbar-default .navbar-nav li a.black {
  color: black;
}
/* line 280, ../sass/style.scss */
.navbar-default .navbar-nav li a.black:hover {
  color: white;
}

/* line 289, ../sass/style.scss */
.content {
  background: white;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 300, ../sass/style.scss */
.content a {
  color: black;
}
/* line 303, ../sass/style.scss */
.content a:hover {
  color: #bcbab9;
}
/* line 306, ../sass/style.scss */
.content ul {
  list-style: none;
}

/* line 312, ../sass/style.scss */
.content.col-md-12 .row h1 {
  margin-bottom: 45px;
}
/* line 315, ../sass/style.scss */
.content.col-md-12 .row ul {
  list-style: none;
  margin-top: 40px;
  padding: 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 320, ../sass/style.scss */
.content.col-md-12 .row ul li {
  border-top: 1px solid #ccc;
  padding: 12px 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 325, ../sass/style.scss */
.content.col-md-12 .row ul li a {
  font-weight: bold;
  font-size: 1.2em;
  color: #444;
  line-height: 140%;
}
/* line 330, ../sass/style.scss */
.content.col-md-12 .row ul li a:hover {
  color: #111;
  text-decoration: underline;
}
/* line 335, ../sass/style.scss */
.content.col-md-12 .row ul li .list-doc-info {
  color: #999;
  font-size: .9em;
  margin-top: 4px;
}
/* line 339, ../sass/style.scss */
.content.col-md-12 .row ul li .list-doc-info span {
  padding-right: 10px;
}
/* line 349, ../sass/style.scss */
.content.col-md-12 .row ul li .list-doc-info .doc-action-count {
  background: #999;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 12px;
  display: block;
  padding: 3px 8px 4px 8px;
}
/* line 362, ../sass/style.scss */
.content.col-md-12 .row ul li .doc-categories {
  padding-right: 0px;
  margin-right: 0px;
  position: relative;
  top: -2px;
}
/* line 368, ../sass/style.scss */
.content.col-md-12 .row ul li .category {
  background: #999;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 3px 6px 4px 6px;
  font-size: .8em;
  margin-left: 4px;
}
/* line 378, ../sass/style.scss */
.content.col-md-12 .row ul li .doc-statuses {
  position: relative;
  top: -2px;
}
/* line 381, ../sass/style.scss */
.content.col-md-12 .row ul li .doc-statuses .status {
  background: #489EF9;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 3px 6px 4px 6px;
  font-size: .8em;
  margin-right: 4px;
}

/* line 398, ../sass/style.scss */
.select2-container {
  width: 72%;
  float: left;
}

/* line 403, ../sass/style.scss */
#s2id_dateSortSelect {
  float: right;
  width: 25%;
}

/* line 409, ../sass/style.scss */
.user-info h1 {
  margin-bottom: 5px !important;
}

/* line 413, ../sass/style.scss */
.user-gravatar {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  float: left;
}

/* line 420, ../sass/style.scss */
h1.user-name {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

/* line 427, ../sass/style.scss */
.user-verified {
  background: #489EF9;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 4px 5px 4px 5px;
  font-size: .8em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  top: -6px;
  margin-left: 5px;
}

/* line 442, ../sass/style.scss */
.user-created-date {
  color: #999;
  font-size: .9em;
  display: block;
  padding-left: 1px;
}

/* line 450, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li {
  border-top: none;
  padding: 0px;
}
/* line 453, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li a {
  color: #999;
  border: none;
}
/* line 456, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
/* line 465, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li.active a {
  color: #FFFFFF;
  background: #489EF9;
  border: none;
  padding-bottom: 10px;
}
/* line 470, ../sass/style.scss */
.content.col-md-12 .row ul.nav-tabs li.active a:hover {
  color: #FFF;
}

/* line 478, ../sass/style.scss */
.content.col-md-12 .row ul.user-sponsored-docs {
  margin-top: 0px;
}
/* line 480, ../sass/style.scss */
.content.col-md-12 .row ul.user-sponsored-docs li {
  border-top: none;
  border-bottom: 1px solid #ccc;
}

/* line 486, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items {
  margin-top: 0px;
}
/* line 488, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li {
  border-top: none;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 493, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li blockquote {
  margin-bottom: 5px;
  background: #DEEEFF;
  border: none;
  padding: 10px 15px;
  margin-top: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 501, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li a {
  font-size: 1em !important;
  text-decoration: underline !important;
}
/* line 505, ../sass/style.scss */
.content.col-md-12 .row ul.user-activity-items li .user-activity-title {
  font-size: 1em !important;
}

/* line 514, ../sass/style.scss */
.leftbar {
  position: relative;
  right: -2.12766%;
  background-color: #4b4b4b;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  border: 2px groove white;
  border-right: none;
}
/* line 525, ../sass/style.scss */
.leftbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 22, ../sass/_mixins.scss */
.leftbar ul > li {
  display: block;
  float: left;
}
/* line 25, ../sass/_mixins.scss */
.leftbar ul > li:last-child {
  margin-right: 0px;
}
/* line 527, ../sass/style.scss */
.leftbar ul li {
  padding: 10px;
}

/* line 533, ../sass/style.scss */
.rightbar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #4b4b4b;
  border: 2px groove white;
  color: #bcbab9;
}
/* line 539, ../sass/style.scss */
.rightbar > .row {
  border-bottom: 1px solid #3c3c3c;
}
/* line 543, ../sass/style.scss */
.rightbar > .row:last-child {
  border-bottom: none;
  margin-bottom: 20px;
}
/* line 548, ../sass/style.scss */
.rightbar h3.rightbar-header {
  margin: 20px;
  font-family: arial;
  font-weight: 200;
  font-size: 1.5em;
}
/* line 554, ../sass/style.scss */
.rightbar h4 {
  margin: 20px;
  font-family: arial;
  font-weight: 200;
  font-size: 1em;
}
/* line 561, ../sass/style.scss */
.rightbar .rounded-bottom {
  text-align: center;
  background: #c70102;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 0;
  color: white;
}
/* line 569, ../sass/style.scss */
.rightbar .rounded-bottom a {
  color: white;
  font-size: 1.3em;
}
/* line 575, ../sass/style.scss */
.rightbar .action-intro {
  padding: 10px;
  margin: 0;
}

/* line 582, ../sass/style.scss */
.getstarted {
  padding: 0;
}
/* line 585, ../sass/style.scss */
.getstarted p {
  margin: 10px 20px;
  color: lightgrey;
}

/* line 591, ../sass/style.scss */
#page {
  margin-left: 0;
  padding: 10px;
  background: white;
  border: 2px groove white;
  border-right: none;
  border-left: none;
}

/* line 599, ../sass/style.scss */
.footer {
  height: 100px;
  margin-top: 50px;
  background: #353535;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353535 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353535 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353535 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353535 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #353535 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
}

/* line 606, ../sass/style.scss */
.doc_content {
  /* max-height:700px;
  overflow-y:scroll; */
}
/* line 609, ../sass/style.scss */
.doc_content ol {
  list-style: none;
}

/* line 615, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 618, ../sass/style.scss */
.small-header {
  font-size: 1em;
}

/* line 621, ../sass/style.scss */
.blue {
  color: #4196f0;
}
/* line 623, ../sass/style.scss */
.blue span.red {
  color: #d60003;
}

/* line 627, ../sass/style.scss */
.red {
  color: #d60003;
}
/* line 630, ../sass/style.scss */
.red:hover {
  color: #bcbab9;
}

/* line 635, ../sass/style.scss */
.single-shadow {
  text-shadow: 1px 1px 5px black;
}

/* line 638, ../sass/style.scss */
input[type="search"].dark-search {
  background: #4b4b4b;
  border: none;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  color: lightgray;
}

/* line 647, ../sass/style.scss */
.bookmark {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 652, ../sass/style.scss */
.bookmark .bookmark-label {
  position: relative;
  top: 20px;
  right: 40px;
  font-size: .8em;
}

/* line 662, ../sass/style.scss */
.ribbon {
  width: 25px;
  height: 40px;
  overflow: hidden;
  position: relative;
  top: -20px;
  right: -15px;
}
/* line 670, ../sass/style.scss */
.ribbon .ribbon-container {
  position: relative;
  width: 25px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 678, ../sass/style.scss */
.ribbon .ribbon-base {
  height: 25px;
  width: 25px;
  background: #999;
  position: relative;
  z-index: 2;
}
/* line 685, ../sass/style.scss */
.ribbon .ribbon-base:after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 19px;
  left: 3px;
  height: 36px;
  border-left: 1px dashed #cacaca;
  border-right: 1px dashed #cacaca;
}
/* line 697, ../sass/style.scss */
.ribbon .ribbon-left-corner {
  -webkit-transform: 45deg;
  -moz-transform: 45deg;
  -ms-transform: 45deg;
  -o-transform: 45deg;
  transform: 45deg;
  width: 25px;
  height: 25px;
  background: #999;
  position: absolute;
  bottom: 5px;
  left: -13px;
  z-index: 1;
}
/* line 709, ../sass/style.scss */
.ribbon .ribbon-right-corner {
  -webkit-transform: 45deg;
  -moz-transform: 45deg;
  -ms-transform: 45deg;
  -o-transform: 45deg;
  transform: 45deg;
  width: 25px;
  height: 25px;
  background: #999;
  position: absolute;
  bottom: 5px;
  right: -13px;
  z-index: 1;
}

/* Login form */
/* line 724, ../sass/style.scss */
.content .forgot-password {
  color: #4196f0;
  font-weight: bold;
  margin-left: 20px;
}

/* Annotator Plugin Styling
--------------------------------*/
/* line 732, ../sass/style.scss */
.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}
/* line 735, ../sass/style.scss */
.glyphicon.selected {
  color: blue;
}
/* line 739, ../sass/style.scss */
.glyphicon.logged-in {
  cursor: pointer;
}
/* line 743, ../sass/style.scss */
.glyphicon .action-count:before {
  content: '(';
}
/* line 747, ../sass/style.scss */
.glyphicon .action-count:after {
  content: ')';
}

/* line 752, ../sass/style.scss */
.comment-toggle {
  cursor: pointer;
}

/* line 756, ../sass/style.scss */
.caret-right {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 760, ../sass/style.scss */
.annotation-action > span {
  margin: 0 5px;
}

/* line 765, ../sass/style.scss */
.annotation-comments input[type="text"] {
  padding-left: 10px;
}
/* line 769, ../sass/style.scss */
.annotation-comments .btn {
  margin-top: 5px;
  padding: 0px 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #428bca), color-stop(100%, #3071a9));
  background-image: -webkit-linear-gradient(#428bca, #3071a9);
  background-image: -moz-linear-gradient(#428bca, #3071a9);
  background-image: -o-linear-gradient(#428bca, #3071a9);
  background-image: linear-gradient(#428bca, #3071a9);
  color: white;
}
/* line 775, ../sass/style.scss */
.annotation-comments .btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68a2d5), color-stop(100%, #488fcb));
  background-image: -webkit-linear-gradient(#68a2d5, #488fcb);
  background-image: -moz-linear-gradient(#68a2d5, #488fcb);
  background-image: -o-linear-gradient(#68a2d5, #488fcb);
  background-image: linear-gradient(#68a2d5, #488fcb);
}

/* line 781, ../sass/style.scss */
.current-comments {
  max-height: 200px;
  overflow-y: scroll;
}

/** Sidebar Styling **/
/* line 788, ../sass/style.scss */
.sidebar-annotation {
  background: #fffac1;
  color: black;
}
/* line 792, ../sass/style.scss */
.sidebar-annotation a {
  color: black;
}
/* line 795, ../sass/style.scss */
.sidebar-annotation a:hover {
  color: lightgray;
}
/* line 800, ../sass/style.scss */
.sidebar-annotation blockquote {
  margin-bottom: 0;
  border-bottom: 1px dotted darkgray;
  padding: 5px 10px;
  border-left: none;
}

/* line 808, ../sass/style.scss */
.sidebar-annotation-wrapper {
  max-height: 300px;
  overflow: scroll;
  border: 3px solid #4b4b4b;
}

/* line 813, ../sass/style.scss */
.sidebar-comment-label {
  cursor: pointer;
}

/* line 817, ../sass/style.scss */
.sidebar-comment-thread {
  margin-left: 10px;
}

/* line 822, ../sass/style.scss */
.participate-comments .comment-thread {
  margin-top: 20px;
  border-top: 1px dotted lightgray;
  max-height: 300px;
  overflow: scroll;
}
/* line 828, ../sass/style.scss */
.participate-comments .comment-thread blockquote {
  margin-bottom: 0;
  border-bottom: 1px dotted darkgray;
  border-left: none;
}
