<div class="row">
  <div admin-breadcrumb></div>
</div>
<div class="row">
  <ul>
    <li><a href='/administrative-dashboard/docs'>Edit Documents</a></li>
    <li><a href='/administrative-dashboard/verify-account'>Verify Accounts</a></li>
    <li><a href='/administrative-dashboard/verify-group'>Verify Groups</a></li>
    <li><a href='/administrative-dashboard/verify-independent'>Verify Independent Sponsors</a></li>
    <li><a href='/administrative-dashboard/notification-settings'>Administrative Notification Settings</a></li>
    <li><a href="/administrative-dashboard/site-settings">Site Settings</a></li>
  </ul>
</div>
