<div class="row">
  <ol class="breadcrumb">
    <li class="active">Administrative Dashboard</li>
  </ol>
</div>
<div class="row">
  <ul>
    <li><a href='/administrative-dashboard/docs'>Edit Documents</a></li>
    <li><a href='/administrative-dashboard/account-verifications'>Verify Accounts</a></li>
    <li><a href='/administrative-dashboard/group-verifications'>Verify Groups</a></li>
    <li><a href='/administrative-dashboard/user-verifications'>Verify Independent Sponsors</a></li>
    <li><a href='/administrative-dashboard/notification-settings'>Administrative Notification Settings</a></li>
  </ul>
</div>