<section class="admin-document-list">
  <header>
    <button class="btn btn-primary pull-right"
      ng-click="goToDeletedDocs()" translate="content.deleteddocs.header"></button>
    <h1 translate="content.admindocument.header"></h1>
  </header>
  <div>
    <a class="button action-button" ng-click="scrollTo('create-document-form')"
      translate="content.admindocument.createdocument"></a>
  </div>
  <div class="admin-document-filters">
    <input type="text" ng-model="docSearch" class="form-control doc-search"
      placeholder="{{ 'content.admindocument.searchplaceholder' | translate }}">
    <select ui-select2="select2Config" ng-model="select2" class="doc-filter">
      <option value=""></option>
      <optgroup label="Category">
        <option value="category_{{ category.id }}"
          ng-repeat="category in categories">{{ category.name }}</option>
      </optgroup>
      <optgroup label="Sponsor">
        <option value="sponsor_{{ sponsor.id }}" ng-repeat="sponsor in sponsors"
          >{{ sponsor.fname }} {{ sponsor.lname }}</option>
      </optgroup>
      <optgroup label="Status">
        <option value="status_{{ status.id}}" ng-repeat="status in statuses"
          >{{ status.label}}</option>
      </optgroup>
    </select>
    <select ui-select2="dateSortConfig" id="dateSortSelect" ng-model="dateSort"
      class="doc-date-sort">
      <option value=""></option>
      <option value="created_at" translate="content.admindocument.dateposted"></option>
      <option value="updated_at" translate="content.admindocument.lastupdated"></option>
    </select>
  </div>
  <div class="document-list">
    <ul>
      <li ng-repeat="doc in docs | toArray | filter:docSearch | orderBy:dateSort:reverse"
        ng-show="docFilter(doc)">
        <a href="/dashboard/docs/{{ doc.id }}">{{ doc.title }}</a>
      </li>
    </ul>
  </div>
</section>
<section class="add-document-wrapper">
  <header>
    <h1 translate="content.admindocument.createdocument"></h1>
  </header>
  <div class="admin-add-document">
    <form action="" id="create-document-form" ng-submit="createDocument()">
      <div class="form-group">
        <label translate="form.admindocument.title.label"></label>
        <input type="text" class="form-control" ng-model="newDoc.title" />
      </div>
      <button id="submit" class="create-document-button"
        translate="form.admindocument.submit"></button>
    </form>
  </div>
</section>
