<div class="document-wrapper single-doc" ng-class="{'toc-open': tocOpen}">
  <header class="back-link">
    <a href="/docs/">All Bills</a>
  </header>

  <article class="doc-main doc doc-full">
    <aside class="toc" doc-toc ng-class="{'hide': !tocShow}"></aside>

    <header class="doc-header">
      <div class="doc-info-container">
        <div class="doc-info">
          <h1 class="heading">{{ doc.title }}</h1>
          <div class="doc-sponsor" ng-repeat="sponsor in doc.sponsor">
            <strong>Sponsored by </strong><span>{{ sponsor.display_name }}</span>
          </div>
          <div class="doc-status" ng-repeat="status in doc.statuses">
            <strong>Status: </strong><span>{{ status.label }}</span>
          </div>
          <div class="doc-date" ng-repeat="date in doc.dates">
            <strong>{{ date.label }}: </strong><span>{{ date.date | parseDate | date:'shortDate' }}</span>
          </div>
          <div class="doc-intro" ng-if="introtext">
            <p><strong>Introduction:</strong></p>
            <div class="markdown" data-ng-bind-html="introtext"></div>
          </div>
          <div class="support-oppose-buttons">
            <a id="doc-support" role="button" href="#" class="button doc-support-button" ng-click="support(true, $event)" ng-class="{'btn-success': supported}">Support This Document</a>
            <a id="doc-oppose" role="button" href="#" class="button doc-oppose-button" ng-click="support(false, $event)" ng-class="{'btn-danger': opposed}">Oppose This Document</a>
          </div>
        </div>
      </div>
    </header>
    <ul class="nav nav-tabs" role="tablist">
      <li ng-class="{'active':secondtab == false}"><a href="#tab-activity" target="_self" role="tab" data-toggle="tab">Bill Text</a></li>
      <li ng-class="{'active':secondtab == true}"><a href="#tab-discussion" target="_self" role="tab" data-toggle="tab">Discussion</a></li>
    </ul>
    <div class="tab-content doc-tabs">
      <section id="tab-activity" ng-class="{'active':secondtab == false}" class="tab-pane">
        <div id="content" class="content doc-content">
          <h2 class="screen-hidden">Document Text</h2>
          <article id="doc_content" ng-bind-html="doc.html" ng-mouseup=""></article>
        </div>
      </section>
      <aside id="tab-discussion" ng-class="{'active': secondtab == true}" class="tab-pane">
        <div class="comments-pane content">
          <h2 class="screen-hidden">Comments</h2>
          <div ng-controller="CommentController" class="participate" ng-include="'/templates/partials/doc-comments.html'"></div>
        </div>
      </aside>
    </div>
  </article>

  <aside class="doc-secondary-content">
    <section class="stats">
      <h2 class="normal-title">Bill Stats</h2>

      <div class="support-chart">
        <div class="chart-title">
            Oppose <span class="vs">vs</span> Support
        </div>
        <div class="chart">
           <svg viewbox="-50 0 100 32" width="100%">
              <g transform="rotate(180) translate(1,-21)" class="oppose">
                <rect ng-attr-width="{{ doc.oppose_percent }}" height="12"></rect>
              </g>
              <g class="border">
                <line x1="0" y1="0" x2="0" y2="30">
              </g>
              <g transform="translate(0,9)" class="support">
                <rect ng-attr-width="{{ doc.support_percent }}" height="12"></rect>
              </g>
          </svg>
        </div>
        <div class="chart-labels">
          <dl class="chart-stat oppose">
            <dt class="chart-label">Oppose</dt>
            <dd class="chart-value">{{ doc.oppose }}</dd>
          </dl>
          <dl class="chart-stat support">
            <dt class="chart-label">Support</dt>
            <dd class="chart-value">{{ doc.support }}</dd>
          </dl>
        </div>
      </div>

      <dl class="stats-number">
        <dt class="stat-label">Participants</dt>
        <dd class="stat-value">{{ doc.user_count }}</dd>
      </dl>
      <dl class="stats-number">
        <dt class="stat-label">Comments</dt>
        <dd class="stat-value">{{ doc.comment_count }}</dd>
      </dl>
      <dl class="stats-number">
        <dt class="stat-label">Annotations</dt>
        <dd class="stat-value">{{ doc.annotation_count }}</dd>
      </dl>
      <div class="stats-history">
        <!-- revisions should go here -->
        <span ng-show="doc.updated_at" class="date">
          Updated <time class="updated doc-updated-date" datetime="{{ doc.updated_at }}"
        >{{ doc.updated_at | timeAgo }}</time>
    </span>
      </div>
    </section>

    <section class="annotation-pane">
      <h2 class="normal-title">Annotations <a href="/api/docs/{{ doc.slug }}/feed" class="rss-link" target="_self" title="RSS feed link">RSS</a></h2>

      <div ng-controller="AnnotationController" class="participate" ng-include="'/templates/partials/doc-annotations.html'"></div>
    </section>
  </aside>
</div>
