<div class="row">
    <h1><span ng-if="groupId > 0">Edit</span><span ng-if="!groupId">Create</span> Group Profile</h1>
    <p ng-if="group.id > 0">If you would like to manage the members of your group, <a href="/groups/members/{{ group.id }}">click here</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form ng-submit="saveGroup()">
      <div class="form-group" ng-if="group.id > 0">
        <b>Group Status: {{ group.status }}</b>
      </div>
      <div class="form-group">
        <label for="gname">Group Name:</label>
        <input type="text" class="form-control" name="gname" id="gname" placeholder="Enter Group Name" ng-model="group.name"/>
      </div>
      <div class="form-group">
        <label for="dname">Display Name:</label>
        <input type="text" class="form-control" name="dname" id="dname" placeholder="Enter the Display Name" ng-model="group.display_name"/>
      </div>
      <div class="form-group">
        <label for="address1">Address 1:</label>
        <input type="text" class="form-control" name="address1" id="address1" placeholder="Enter Address Line 1" ng-model="group.address1"/>
      </div>
      <div class="form-group">
        <label for="address2">Address 2:</label>
        <input type="text" class="form-control" name="address2" id="address2" placeholder="Enter Address Line 2" ng-model="group.address2"/>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" name="city" id="city" placeholder="City" ng-model="group.city"/>
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <select state-select ng-model="group.state"></select>
      </div>
      <div class="form-group">
        <label for="postal">Postal Code:</label>
        <input type="text" class="form-control" name="postal" id="postal" placeholder="Enter Postal / Zip Code" value="{{ group.postal_code }}"/>
      </div>
      <div class="form-group">
        <label for="phone">Contact Phone:</label>
        <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter Contact Phone Number" value="{{ group.phone_number }}"/>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>