<div class="row">  
  <h1>Add Member to {{ group.name }}</h1>
  <p>Please type in the e-mail address of the user you would like to add to this group and select their role.</p>
</div>
<div class="row">
  <form ng-submit="inviteMember()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" ng-model="email" class="form-control" name="email" id="email" placeholder="Enter User's e-mail"/>
    </div>
    <div class="form-group">
      <label for="role">User's Role:</label>
      <select class="form-control" ng-model="role" ng-options="role for role in group.roles" placeholder="Select Role">
        <option value="" disabled>Select Role</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>