<div class="row">

  <section ng-include="'/templates/partials/featured.html'"></section>

  <aside class="search-list">
    <h2 class="heading">Add your voice...</h2>
    <div>
      <p>
        Find legislation and regulation being developed in Washington, D.C. and
        get informed. Then get involved and collaboratively craft the documents
        with the sponsors. To get started, choose from the recent documents
        below, or search the whole repository.
      </p>
    </div>
    <section class="search-form">
      <div>
        <h3 class="normal-title" for="doc-text-filter">
          Search all documents:
        </h3>
        <button class="search-button" type="submit">Submit</button>
        <span class="text-search">
          <input id="doc-text-filter" type="text" ng-model="docSearch"
            class="" placeholder="Search titles" />
        </span>
      </div>
      <!--div class="home-select2-container">
        <select id="doc-category-filter" ui-select2="select2Config"
          ng-model="select2">
          <option value=""></option>
          <optgroup label="Category">
            <option value="category_{{ category.id }}"
              ng-repeat="category in categories">{{ category.name }}</option>
          </optgroup>
          <optgroup label="Sponsor">
            <option value="sponsor_{{ sponsor.id }}"
              ng-repeat="sponsor in sponsors">{{ sponsor.fname }} {{ sponsor.lname }}</option>
          </optgroup>
          <optgroup label="Status">
            <option value="status_{{ status.id}}"
              ng-repeat="status in statuses">{{ status.label}}</option>
          </optgroup>
        </select>
      </div-->
      <!--div class="home-select2-container">
        <select id="doc-date-filter" ui-select2="dateSortConfig"
          id="dateSortSelect" ng-model="dateSort">
          <option value=""></option>
          <option value="created_at">Date Posted</option>
          <option value="updated_at">Last Updated</option>
        </select>
      </div-->
    </section>
    <section class="doc-results-list">
      <h2 class="normal-title">Recent Legislation</h2>
      <div class="category-filter" ng-if="selectedCategory">Displaying: <div class="category" ng-click="clearCategoryFilter()"><span>{{ selectedCategory.name }}</span></div> <a ng-click="clearCategoryFilter()">Clear</a></div>
      <article ng-repeat="doc in docs | toArray | filter:docSearch | filter:categoryFilter | orderBy:dateSort:reverse"
        ng-show="docFilter(doc)" class="doc-list-item doc doc-small">
        <div doc-list-item class="inside"></div>
      </article>
    </section>
  </aside>
</div>
