<section class="my-documents-list">
  <header>
    <h1 translate="content.mydocuments.header"></h1>
  </header>
  <div ng-if="!canCreate"
    translate="errors.document.new.permissions"
    translate-values="{ userLink: '/user/edit/{{ user.id }}',
      groupLink: '/groups' }"
    ></div>
  <div class="document-list">
    <strong ng-if="canCreate"
      ><a ng-click="scrollTo('create-document-wrapper')"
      translate="content.mydocuments.createheader"></a></strong>

    <article class="independent-docs">
      <h2 class="small-heading"
        translate="content.mydocuments.authoredheader"></h2>
      <ul>
        <li ng-repeat="doc in docs.independent">
          <a href="/dashboard/docs/{{ doc.id }}">{{ doc.title }}</a>
        </li>
      </ul>
    </article>
    <article class="group-docs">
      <h2 class="small-heading"
        translate="content.mydocuments.groupheader"></h2>
      <ul>
        <li ng-repeat="group in docs.group">
          <h3 class="group-author">{{ group.name }}</h3>
          <ul ng-if="group.docs.length > 0">
            <li ng-repeat="doc in group.docs">
              <a href="/dashboard/docs/{{ doc.id }}">{{ doc.title }}</a>
            </li>
          </ul>
          <div ng-if="group.docs.length == 0" class="group-docs-empty"
            translate="content.mydocuments.nodocsgroup"></div>
        </li>
      </ul>
    </article>
  </div>
</section>
<section class="create-document-wrapper" id="create-document-wrapper"
  ng-if="canCreate">
  <header>
    <h1 translate="content.mydocuments.createheader"></h1>
  </header>
  <div class="create-document">
    <form action="" id="create-document-form" class="create-document-form"
      ng-submit="createDocument()">
      <div class="form-group">
        <label for="title" translate="form.document.title.label"></label>
        <input type="text" name="title" class="form-control"
          placeholder="{{ 'form.document.title.placeholder' | translate }}"
          ng-model="newDoc.title">
      </div>
      <div class="form-group">
        <label for="group-id" translate="form.document.createas.label"></label>

        <select ng-model="newDoc.group_id">
          <option ng-if="independent_sponsor" value=""
            translate="form.document.createas.independentsponsor"></option>
          <option ng-if="!independent_sponsor" value=""
            style="display:none"></option>
          <option ng-repeat="option in groupOptions" value="{{ option[0] }}"
            >{{ option[1] }}</option>
        </select>
      </div>
      <button id="submit" class="create-document-button"
        translate="document.action.create"></button>
    </form>
  </div>
</section>
