<header>
  <h1 translate="content.admin.pages.edit.header"></h1>
</header>

<div class="page-settings">

  <div class="col-xs-18">
    <div class="row">
      <!-- nav_title -->
      <div class="nav-title-input">
        <label for="nav_title" translate="form.page.nav_title.label"></label>
        <input type="text" name="nav_title" id="nav_title" value="{{ page.nav_title }}"
          ng-model="page.nav_title" class="form-control" show-focus="loaded"
          placeholder="{{ 'form.page.nav_title.placeholder' | translate }}"/>
      </div>

      <!-- url -->
      <div class="url-input">
        <label for="url" translate="form.page.url.label"></label>
        <input type="text" name="url" id="url" value="{{ page.url }}"
          ng-model="page.url" class="form-control"
          placeholder="{{ 'form.page.url.placeholder' | translate }}"/>
      </div>

    </div>

    <div class="row">
      <!-- page_title -->
      <div class="page-title-input">
        <label for="page_title" translate="form.page.page_title.label"></label>
        <input type="text" name="page_title" id="page_title"
          value="{{ page.page_title }}" ng-model="page.page_title" class="form-control"
          placeholder="{{ 'form.page.page_title.placeholder' | translate }}"/>
      </div>

      <!-- header -->
      <div class="header-input">
        <label for="header" translate="form.page.header.label"></label>
        <input type="text" name="header" id="header" value="{{ page.header }}"
          ng-model="page.header" class="form-control"
          placeholder="{{ 'form.page.header.placeholder' | translate }}"/>
      </div>
    </div>
  </div>

  <div class="col-xs-6">

    <p><strong translate="form.general.options"></strong></p>

    <!-- header_nav_link -->
    <div class="checkbox">
      <label>
        <input type="checkbox" name="header_nav_link" ng-model="page.header_nav_link" value="" />
        Display in Header
      </label>
    </div>

    <!-- footer_nav_link -->
    <div class="checkbox">
      <label>
        <input type="checkbox" name="footer_nav_link" ng-model="page.footer_nav_link" value="" />
        Display in Footer
      </label>
    </div>

    <!-- external -->
    <div class="checkbox">
      <label>
        <input type="checkbox" name="external" ng-model="page.external" value="" />
        External Link
      </label>
    </div>

  </div>

</div>

<!-- Page Content -->
<div class="page-content" ng-hide="page.external">
  <div class="page-content-inner">
    <h3 translate="form.page.content.label"></h3>

    <small translate="content.editdocument.savemessage"></small>

    <div class="content-editor">

      <div id="wmd-button-bar"></div>
      <textarea class="wmd-input" id="wmd-input" name="content"
        ng-model="content"></textarea>
      <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    </div>
    <div class="content-helpers">
      <p><small translate="content.editdocument.wordmessage"></small></p>
      <p><small translate="content.editdocument.markdownmessage"
        ></a></small></p>
    </div>

  </div>
</div>
