<div class="row">
  <h1 translate="content.resetpassword.header"></h1>
</div>
<div class="row">
  <form ng-submit="savePassword()">
    <p translate="form.forgotpassword.message"></p>
    <div class="form-group">
      <label for="email" translate="form.forgotpassword.email"></label>
      <input id="email" type="email" name="email" class="form-control"
        placeholder="email@example.com" ng-model="email">
    </div>
    <div class="form-group">
      <label for="password" translate="form.forgotpassword.password"></label>
      <input id="password" type="password" name="password" class="form-control"
        ng-model="password">
    </div>
    <div class="form-group">
      <label for="password_confirmation"
        translate="form.forgotpassword.confirmpassword"></label>
      <input id="password_confirmation" type="password"
        name="password_confirmation" class="form-control"
        ng-model="password_confirmation">
    </div>
    <input type="submit" value="{{ 'form.forgotpassword.submit' | translate }}"
      class="btn btn-default">
  </form>
</div>
