<div class="row">
  <div class="md-col-12">
    <h1>Forgot Password</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form class="reset-form" ng-submit="reset()">
      <div translate="form.forgotpassword.message"></div>
      <div class="form-group">
          <label for="email" translate="form.forgotpassword.email"></label>
          <input id="email" type="email" name="email" class="form-control"
            placeholder="email@example.com" ng-model="email" />
        </div>
        <div class="form-group">
          <input class="btn btn-default" type="submit"
            value="{{ 'form.forgotpassword.submit' | translate }}">
        </div>
    </form>
  </div>
</div>
