<header>
  <h1 translate="content.sitesettings.header"></h1>
</header>
<section class="site-settings">
  <form>
    <div class="form-group">
      <label for="featured-doc" translate="form.document.featured"></label>

      <table ng-if="featuredDocs.length" class="featured-document-list">
        <thead>
          <th translate="form.featureddoc.order" class="order-column"></th>
          <th translate="form.featureddoc.title" class="title-column"></th>
          <th translate="form.featureddoc.delete" class="delete-column">Delete</th>
        </thead>
        <tbody>
          <tr ng-repeat="doc in featuredDocs">

            <td class="order-column">
              <span class="move-up-button" role="button"
                aria-label="{{ 'move-up' | translate }}"
                  ng-click="changeDocOrder(doc, $index, -1)"></span>
              <span class="move-down-button" role="button"
                aria-label="{{ 'move-down' | translate }}"
                  ng-click="changeDocOrder(doc, $index, 1)"></span>
            </td>
            <td class="title-column">{{ doc.title }}</td>
            <td class="delete-column">
              <span class="delete-button" role="button"
                ng-click="removeFeaturedDoc(doc)"
                aria-label="{{ 'delete' | translate }}"></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div ng-if="!featuredDocs.length" translate="form.featureddoc.nodocs"></div>

      <!--input name="featured-doc" type="hidden" ui-select2="featuredOptions"
        ng-model="currentFeatured" data-placeholder=""-->
    </div>
  </form>
</section>
