<div class="row">
	<h1>Request Independent Sponsor</h1>
	<p>
        We'll need to contact you to verify your identity to before making you
        an independent sponsor.  Please fill out the information below and we'll
        be in touch soon!
    </p>
</div>
<div class="row">
	<form class="col-md-12" ng-submit="saveUser()">
		<div class="form-group">
			<label for="address1">Address 1 <span class="required">Required</span></label>
			<input type="text" class="form-control" name="address1" id="address1" placeholder="Enter Address Line 1" ng-model="formData.address1"/>
		</div>
		<div class="form-group">
			<label for="address2">Address 2</label>
			<input type="text" class="form-control" name="address2" id="address2" placeholder="Enter Address Line 2" ng-model="formData.address2"/>
		</div>
		<div class="form-group">
			<label for="city">City <span class="required">Required</span></label>
			<input type="text" class="form-control" name="city" id="city" placeholder="City" ng-model="formData.city"/>
		</div>
		<div class="form-group">
			<label for="state">State <span class="required">Required</span></label>
			<select name="state" id="state" ng-model="formData.state">
                <option ng-repeat="option in provinces" value="{{option.value}}">{{option.name}}</option>
            </select>
		</div>
		<div class="form-group">
			<label for="postal_code">Postal Code <span class="required">Required</span></label>
			<input type="text" class="form-control" name="postal_code" id="postal_code" placeholder="Enter Postal / Zip Code" ng-model="formData.postal_code"/>
		</div>
		<div class="form-group">
			<label for="phone">Contact Phone <span class="required">Required</span></label>
			<input type="text" class="form-control" name="phone" id="phone" placeholder="Enter Contact Phone Number" ng-model="formData.phone"/>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
