<div class="row">
  <h1>Edit Profile</h1>
</div>
<div class="row">
  <form ng-submit="saveUser()"></form>
    <!-- First Name -->
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" name="fname" id="fname" placeholder="Enter First Name" ng-model="user.fname"/>
    </div>
    <!-- Last Name -->
    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" name="lname" id="lname" placeholder="Enter Last Name" ng-model="user.lname"/>
    </div>
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" ng-model="user.email"/>
    </div>
    <!-- URL -->
    <div class="form-group">
      <label for="url">URL:</label>
      <input type="url" ng-model="user.url" class="form-control" placeholder="Enter URL" />
    </div>
    <!-- Phone -->
    <div class="form-group">
      <label for="phone">Phone number:</label>
      <input type="tel" ng-model="user.phone" class="form-control" placeholder="Enter phone" />
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password_1">Change password:</label>
      <input type="password" ng-model="user.password" name="password_1" class="form-control" placeholder="New password" />
    </div>
    <div class="form-group">
      <label for="password_2">Confirm password:</label>
      <input type="password" ng-model="password_confirmation" name="password_2" class="form-control" placeholder="Repeat new password" />
    </div>
    <div class="checkbox">
      <label ng-if="user.verified">
        <input name="verify" type="checkbox" checked disabled> Request 'Verified Account' is '{{ user.verified }}'
      </label>
      <label ng-if="!user.verified">
        <input name="verify" id="verify" type="checkbox" ng-model="user.verify_request"> Request 'Verified Account'
      </label>
    </div>
    <div class="form-group">
      <p ng-if="user.independent_sponsor === '1'"><span class="glyphicon glyphicon-check"></span> Your account is able to sponsor documents as an individual.</p>
      <p ng-if="user.independent_sponsor === '0'">Your request to become an Independent Sponsor is 'pending'</p>
      <p ng-if="!user.independent_sponsor">Want to be a document sponsor? <a href="/documents/sponsor/request">Request to be an Independent Sponsor</a></p>
    </div>
    <div class="form-group">
      <!-- Change avatar at gravatar.com -->
      <a href="https://gravatar.com" target="_blank" class="red">Change your avatar at Gravatar.com</a>
    </div>
    <button type="submit" class="btn btn-default" ng-click="saveUser()">Save</button>
  </form>
</div>
