<div class="row">
    <h1 translate="content.sponsorrequest.header"></h1>
    <p translate="content.sponsorrequest.instructions">
    </p>
</div>
<div class="row">
    <form class="col-md-12" ng-submit="saveUser()">
        <div class="form-group">
            <label for="address1">
                <span translate="form.edituser.address1"></span>
                <span class="required" translate="form.general.required"></span>
            </label>
            <input type="text" class="form-control" name="address1"
              id="address1" ng-model="formData.address1"/>
        </div>
        <div class="form-group">
            <label for="address2">
                <span translate="form.edituser.address2"></span>
            </label>
            <input type="text" class="form-control" name="address2"
                id="address2" ng-model="formData.address2"/>
        </div>
        <div class="form-group">
            <label for="city">
                <span translate="form.edituser.city"></span>
                <span class="required" translate="form.general.required"></span>
            </label>
            <input type="text" class="form-control" name="city" id="city"
                ng-model="formData.city"/>
        </div>
        <div class="form-group">
            <label for="state">
                <span translate="form.edituser.state"></span>
                <span class="required" translate="form.general.required"></span>
            </label>
            <select name="state" id="state" ng-model="formData.state">
                <option ng-repeat="option in provinces"
                    value="{{option.value}}">{{option.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="postal_code">
                <span translate="form.edituser.postalcode"></span>
                <span class="required" translate="form.general.required"></span>
            </label>
            <input type="text" class="form-control" name="postal_code"
                id="postal_code" ng-model="formData.postal_code"/>
        </div>
        <div class="form-group">
            <label for="phone">
                <span translate="form.edituser.phone"></span>
                <span class="required" translate="form.general.required"></span>
            </label>
            <input type="text" class="form-control" name="phone" id="phone"
                ng-model="formData.phone"/>
        </div>
        <button type="submit" class="btn btn-default"
            translate="form.general.submit"></button>
    </form>
</div>
