<div class="row">
  <div class="col-md-24">
    <h1 translate="content.verifyindependent.header"></h1>

    <table class="table table-striped verify-list" ng-show="requests.length">
      <thead>
        <th translate="form.verify.id"</th>
        <th translate="form.verify.firstname"></th>
        <th translate="form.verify.lastname"></th>
        <th translate="form.verify.status"></th>
      </thead>
      <tbody>
        <tr ng-repeat="request in requests" id="request-{{ request.id }}">
          <td>{{ request.user.id }}</td>
          <td>{{ request.user.fname }}</td>
          <td>{{ request.user.lname }}</td>
          <td>
            <div class="btn-group user-status">
              <button type="button" class="btn btn-success"
                ng-click="update(request, 'verified')"
                translate="form.verify.verified"></button>
              <button type="button" class="btn btn-danger"
                ng-click="update(request, 'denied')"
                translate="form.verify.denied"></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-hide="requests.length">
      <span translate="form.verify.independent.none.pending"></span>
    </div>
  </div>
</div>
