<div class="row">
  <div admin-breadcrumb></div>
</div>
<div class="row">
  <div class="col-md-24" ng-controller="DashboardVerifyController" ng-init="init()">
    <h1>Verify Users</h1>

    <form class="filter-form">
      <h4>Filter:</h4>
      <fieldset class="btn-group user-status">
        <button type="button" class="btn btn-success" ng-class="{active: formdata.status == 'verified'}" ng-click="formdata.status = 'verified'; getRequests()">Verified</button>
        <button type="button" class="btn btn-warning" ng-class="{active: formdata.status == 'pending'}" ng-click="formdata.status = 'pending'; getRequests()">Pending</button>
        <button type="button" class="btn btn-danger" ng-class="{active: formdata.status == 'denied'}" ng-click="formdata.status = 'denied'; getRequests()">Denied</button>
      </fieldset>
    </form>


    <table class="table table-striped verify-list" ng-show="requests.length">
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr ng-repeat="request in requests" id="user-{{ request.id }}">
          <td>{{ request.id }}</td>
          <td>{{ request.user.fname}}</td>
          <td>{{ request.user.lname }}</td>
          <td>{{ request.user.email }}</td>
          <td>{{ request.user.phone }}</td>
          <td>
            <div class="btn-group user-status">
              <button type="button" class="btn btn-success" ng-class="{active: request.meta_value == 'verified'}" ng-click="update(request, 'verified')">Verified</button>
              <button type="button" class="btn btn-warning" ng-class="{active: request.meta_value == 'pending'}" ng-click="update(request, 'pending')">Pending</button>
              <button type="button" class="btn btn-danger" ng-class="{active: request.meta_value == 'denied'}" ng-click="update(request, 'denied')">Denied</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-hide="requests.length">
      No users {{formdata.status}}.
    </div>
  </div>
</div>
