<div class="reply-author row">
    <div class="col-md-8">
        <span class="glyphicon glyphicon-share-alt"></span> {{ comment.user.name || (comment.user.fname + ' ' + comment.user.lname.substr(0,1)) }}:
    </div>
    <div class="col-md-1 col-md-offset-2">
      <a class="subcomment-link">
        <span class="glyphicon glyphicon-link" title="Copy link to clipboard"></span>
      </a>
    </div>
</div>
<div class="reply-text row">
    <div class="col-md-12">
        {{ comment.text }}
    </div>
</div>