<div class="col-md-12">
    <div class="row">
        <div class="activity-author col-md-8">
            <span>{{ activity.user.name || (activity.user.fname + ' ' + activity.user.lname.substr(0,1)) }}</span>
        </div>
        <div class="activity-icon col-md-4">
            <a href="#{{ activity.link }}" ng-show="activity.label === 'annotation'">
                <span data-activity-link="{{ activity.link }}" class="glyphicon glyphicon-screenshot" title="Jump to {{ activity.label }}"></span>
            </a>
            <a class="comment-link">
                <span ng-show="activity.label === 'comment'" class="glyphicon glyphicon-link" title="Copy link to clipboard"></span>
            </a>
            <span class="glyphicon" ng-class="{'glyphicon-comment': activity.label=='comment', 'glyphicon-edit': activity.label=='annotation'}" title="{{ activity.label }}"></span>
        </div>
    </div>
    <div class="row">
        <div class="activity-content col-md-12">
            <span ng-bind-html="activity.text | linky:'_blank'"></span>
        </div>
    </div>
    <div class="annotator-tags">
        <span class="annotator-tag" ng-repeat="tag in activity.tags">{{ tag }}</span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="activity-replies-indicator" ng-class="{'activity-replies-indicator-inactive': activity.comments.length == 0}"ng-click="collapseComments(activity)"><span class="glyphicon glyphicon-comment"></span>{{ activity.comments.length || '0' }}</span>
        </div>
        <div class="col-md-8 activity-actions">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="addAction(activity, 'likes', $event)">({{ activity.likes || '0' }})</span>
            <span class="glyphicon glyphicon-thumbs-down" ng-click="addAction(activity, 'dislikes', $event)">({{ activity.dislikes || '0' }})</span>
            <span class="glyphicon glyphicon-flag" ng-click="addAction(activity, 'flags', $event)">({{ activity.flags || '0' }})</span>
        </div>
    </div>
    <div class="activity-replies row" collapse="activity.commentsCollapsed">
        <div id="subcomment_{{ comment.id }}" class="activity-reply col-md-12" ng-repeat="comment in activity.comments">
            <div activity-sub-comment sub-comment-id="{{ comment.id }}"></div>
        </div>
        <div class="subcomment-field col-md-12">
            <form name="add-subcomment-form" ng-submit="subcommentSubmit(activity, subcomment)">
                <input ng-model="subcomment.text" type="text" class="form-control centered" placeholder="Add a comment" required />
            </form>
        </div>
    </div>
    <div class="row sponsor-seen" ng-show="isSponsor() && activity.user.id != user.id">
        <div class="col-md-12">
            <span class="btn btn-default" ng-if="activity.seen === 0" ng-click="notifyAuthor(activity)">Mark as seen</span>
            <span class="glyphicon glyphicon-ok" ng-if="activity.seen === 1"> Marked as seen!</span>
        </div>
    </div>  
    <div class="row user-seen" ng-hide="isSponsor()">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-ok" ng-if="activity.seen === 1"> A sponsor marked this as seen!</span>
        </div>
    </div>
</div>