<!-- Is this still being used? -->
<div class="">
    <div class="">
        <div class="activity-author">
            <span>{{ comment.user.name || (comment.user.fname + ' ' + comment.user.lname.substr(0,1)) }}</span>
        </div>
        <div class="activity-icon">
            <a class="comment-link" role="button"
                title="{{ 'document.interface.copylink' | translate }}"
                aria-label="{{ 'document.interface.copylink' | translate }}">
                <span class="glyphicon glyphicon-link"></span>
            </a>
            <span class="glyphicon glyphicon-thumbs-up" role="button"
                aria-label="{{ 'document.action.like' | translate }}"
                ng-click="addAction(comment, 'likes', $event)">
                {{ comment.likes || '0' }}</span>
            <span class="glyphicon glyphicon-thumbs-down" role="Button"
                aria-label="{{ 'document.action.dislike' | translate }}"
                ng-click="addAction(comment, 'dislikes', $event)">
                {{ comment.dislikes || '0' }}</span>
            <span class="glyphicon glyphicon-flag" role="button"
                aria-label="{{ 'document.action.flag' | translate }}"
                ng-click="addAction(comment, 'flags', $event)">
                {{ comment.flags || '0' }}</span>
        </div>
    </div>
    <div class="">
        <div class="activity-content">
            <span ng-bind-html="comment.text | linky:'_blank'"></span>
        </div>
    </div>
    <div class="annotator-tags">
        <span class="annotator-tag" ng-repeat="tag in comment.tags">{{ tag }}</span>
    </div>
    <div class="">
        <div class="">
            <span class="activity-replies-indicator" role="button"
                ng-class="{'activity-replies-indicator-inactive': comment.comments.length == 0}"
                aria-label="{{ 'document.action.closecomments' | translate }}"
                ng-click="collapseComments(comment)">
                    <span class="glyphicon glyphicon-comment"></span>
                    {{ comment.comments.length || '0' }}
            </span>
        </div>
    </div>

    <script type="text/ng-template" id="subcomment_renderer.html">
     <div class="">
            <div class="activity-author">
                <span>{{ comment.user.name || (comment.user.fname + ' ' + comment.user.lname.substr(0,1)) }}</span>
            </div>
            <div class="activity-icon">
                <a subcomment-link sub-comment-id="{{ comment.id }}"
                 class="subcomment-link" ></a>
                <span class="glyphicon glyphicon-thumbs-up" role="button"
                    aria-label="{{ 'document.action.like' | translate }}"
                    ng-click="addAction(comment, 'likes', $event)">
                    {{ comment.likes || '0' }}</span>
                <span class="glyphicon glyphicon-thumbs-down" role="button"
                    aria-label="{{ 'document.action.dislike' | translate }}"
                    ng-click="addAction(comment, 'dislikes', $event)">
                    {{ comment.dislikes || '0' }}</span>
                <span class="glyphicon glyphicon-flag" role="button"
                    aria-label="{{ 'document.action.flag' | translate }}"
                    ng-click="addAction(comment, 'flags', $event)">
                    {{ comment.flags || '0' }}</span>
            </div>
        </div>
        <div class="">
            <div class="activity-content">
                <span ng-bind-html="comment.text | linky:'_blank'"></span>
            </div>
        </div>
        <div class="annotator-tags">
            <span class="annotator-tag" ng-repeat="tag in comment.tags">{{ tag }}</span>
        </div>
        <div class="">
            <div class="">
                <span class="activity-replies-indicator" role="button"
                    ng-class="{'activity-replies-indicator-inactive': comment.comments.length == 0}"
                    aria-label="{{ 'document.action.closecomments' | translate }}"
                    ng-click="collapseComments(comment)">
                <span class="glyphicon glyphicon-comment"></span>
                    {{ comment.comments.length || '0' }}</span>
            </div>
        </div>

        <div class="activity-replies" collapse="comment.commentsCollapsed">
            <div class="subcomment-field">
                <form name="add-subcomment-form"
                    ng-submit="subcommentSubmit(comment, comment.subcomment)">
                    <input ng-model="comment.subcomment.text" type="text"
                        class="form-control centered" required
                        placeholder="{{ 'document.action.commentplaceholder' | translate }}" />
                </form>
            </div>
            <div id="subcomment_{{ comment.id }}" class="activity-reply"
                ng-repeat="comment in comment.comments"
                ng-include="'subcomment_renderer.html'">
                <div sub-comment-id="{{ comment.id }}"></div>
            </div>

        </div>
    </script>

    <div class="activity-replies" collapse="comment.commentsCollapsed">
        <div class="subcomment-field">
            <form name="add-subcomment-form"
                ng-submit="subcommentSubmit(comment, subcomment)">
                <input ng-model="subcomment.text" type="text"
                    class="form-control centered" required
                    placeholder="{{ 'document.action.commentplaceholder' | translate }}" />
            </form>
        </div>
        <div id="subcomment_{{ comment.id }}" class="activity-reply"
            ng-repeat="comment in comment.comments"
            ng-include="'subcomment_renderer.html'">
            <div sub-comment-id="{{ comment.id }}"></div>
        </div>
    </div>
</div>
