<div class="row">
  <div class="activity-author col-md-12">
    <h6 class="author">{{ comment.user.name || (comment.user.fname + ' ' + comment.user.lname.substr(0,1)) }}</h6>
  </div>
</div>
<div class="row">
  <div class="activity-content col-md-12">
    <span ng-bind-html="comment.text | linky:'_blank'"></span>
  </div>
</div>

<div class="annotator-tags">
  <span class="annotator-tag" ng-repeat="tag in comment.tags">{{ tag }}</span>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="activity-icon">
      <span class="activity-replies-indicator" ng-class="{'activity-replies-indicator-inactive': comment.comments.length == 0}" ng-click="collapseComments(comment)"><span class="glyphicon glyphicon-comment">{{ comment.comments.length || '0' }}</span></span>
      <a class="comment-link"><span class="glyphicon glyphicon-link" title="Copy link to clipboard"></span></a> 
      <span class="glyphicon glyphicon-thumbs-up" ng-click="addAction(comment, 'likes', $event)">{{ comment.likes || '0' }}</span>
      <span class="glyphicon glyphicon-thumbs-down" ng-click="addAction(comment, 'dislikes', $event)">{{ comment.dislikes || '0' }}</span>
      <span class="glyphicon glyphicon-flag" ng-click="addAction(comment, 'flags', $event)">{{ comment.flags || '0' }}</span>
    </div>
  </div>
</div>

<script type="text/ng-template" id="subcomment_renderer.html">
 <div class="row">
  <div class="activity-author col-md-12">
    <h6 class="author">{{ comment.user.name || (comment.user.fname + ' ' + comment.user.lname.substr(0,1)) }}</h6>
  </div>
</div>
<div class="row">
  <div class="activity-content col-md-12">
    <span ng-bind-html="comment.text | linky:'_blank'"></span>
  </div>
</div>
<div class="annotator-tags">
  <span class="annotator-tag" ng-repeat="tag in comment.tags">{{ tag }}</span>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="activity-icon">
      <span class="activity-replies-indicator" ng-class="{'activity-replies-indicator-inactive': comment.comments.length == 0}" ng-click="collapseComments(comment)">
        <span class="glyphicon glyphicon-comment">{{ comment.comments.length || '0' }}</span>
      </span>
      <a subcomment-link sub-comment-id="{{ comment.id }}" class="subcomment-link" ></a>
      <span class="glyphicon glyphicon-thumbs-up" ng-click="addAction(comment, 'likes', $event)">{{ comment.likes || '0' }}</span>
      <span class="glyphicon glyphicon-thumbs-down" ng-click="addAction(comment, 'dislikes', $event)">{{ comment.dislikes || '0' }}</span>
      <span class="glyphicon glyphicon-flag" ng-click="addAction(comment, 'flags', $event)">{{ comment.flags || '0' }}</span>
    </div>
  </div>
</div>

  <div class="activity-replies row" collapse="comment.commentsCollapsed">
    <div class="subcomment-field col-md-12">
      <form name="add-subcomment-form" ng-submit="subcommentSubmit(comment, comment.subcomment)">
        <input ng-model="comment.subcomment.text" type="text" class="form-control centered" placeholder="Add a comment" required />
      </form>
    </div>
    <div id="subcomment_{{ comment.id }}" class="activity-reply col-md-12" ng-repeat="comment in comment.comments" ng-include="'subcomment_renderer.html'">
      <div sub-comment-id="{{ comment.id }}"></div>
    </div>

  </div>
</script>

<div class="activity-replies row" collapse="comment.commentsCollapsed">
  <div class="subcomment-field col-md-12">
    <form name="add-subcomment-form" ng-submit="subcommentSubmit(comment, subcomment)">
      <input ng-model="subcomment.text" type="text" class="form-control centered" placeholder="Add a comment" required />
    </form>
  </div>        
  <div id="subcomment_{{ comment.id }}" class="activity-reply col-md-12" ng-repeat="comment in comment.comments" ng-include="'subcomment_renderer.html'">
    <div sub-comment-id="{{ comment.id }}"></div>
  </div>
</div>

<div class="row sponsor-seen" ng-show="isSponsor() && comment.user.id != user.id">
  <div class="col-md-12">
    <span class="btn btn-default" ng-if="comment.seen === 0" ng-click="notifyAuthor(comment)">Mark as seen</span>
    <span class="glyphicon glyphicon-ok" ng-if="comment.seen === 1"> Marked as seen!</span>
  </div>
</div>  
<div class="row user-seen" ng-hide="isSponsor()">
  <div class="col-md-12">
    <span class="glyphicon glyphicon-ok" ng-if="comment.seen === 1"> A sponsor marked this as seen!</span>
  </div>
</div>