<div class="comment-field" ng-show="user.id">
	<form name="add-comment-form" ng-submit="commentSubmit()">
		<textarea ng-model="comment.content" id="doc-comment-field" type="text" class="form-control centered" required></textarea>
		<button class="btn btn-primary">Add Comment</button>
	</form>
</div>
<div class="comment-thread" ng-show="comments.length">
	<div class="doc-comment" ng-repeat="comment in comments">
		<blockquote>
			<div class="row">
				<div class="col-md-3">
					<img ng-src="http://gravatar.com/avatar/<% comment.user.email | gravatar %>" alt="" class="img-responsive">
				</div>
				<div class="col-md-9">
					<span class="comment-content"><% comment.content %></span>
			<div class="comment-author"><% comment.user.fname + ' ' + comment.user.lname.charAt(0) %></div>
				</div>
			</div>
		</blockquote>
	</div>
</div>