<div class="container profile-completion-message">
  <div class="panel panel-warning" ng-if="user.email">
    <div class="panel-heading">
      <p>Uh oh, we noticed we don't have your email address.  Please provide one for us:</p>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <form ng-submit="updateEmail(newEmail)">
          <div class="input-group">
            <input ng-model="newEmail" type="email" placeholder="Email Address" class="form-control" name="email-completion">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-default" value="Submit">
            </span>  
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <p><span class="glyphicon glyphicon-info-sign"></span> Madison is a social community - we need a way to keep you updated on new policies posted on Madison and new activities on your posts!</p>
        <small>Don't worry, we'll let you control what notifications you receive.</small>
      </div>
    </div>
  </div>
</div>