<div class="col-md-10 col-md-offset-1 social-login-wrapper">
  <div class="row">
    <div class="col-md-4">
      <a href="/user/facebook-login" class="btn btn-default social-login-btn facebook-login-btn">
        <img src="/img/icon-facebook.png" alt="facebook icon" />
        Log in with Facebook
      </a>
    </div>  
    <div class="col-md-4">
      <a href="/user/twitter-login" class="btn btn-default social-login-btn twitter-login-btn">
        <img src="/img/icon-twitter.png" alt="twitter icon" />
        Log in with Twitter
      </a>
    </div>
    <div class="col-md-4">
      <a href="/user/linkedin-login" class="btn btn-default social-login-btn linkedin-login-btn">
        <img src="/img/icon-linkedin.png" alt="linkedin icon" />
        Log in with LinkedIn
      </a>
    </div>
  </div>
</div>