/* line 10, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main #main-footer {
  height: 100px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 100px;
}

/* line 13, ../sass/style.scss */
body {
  background: url(../img/grey.png) repeat;
}

/* line 17, ../sass/style.scss */
h1 {
  text-align: center;
}

/* line 22, ../sass/style.scss */
a:hover {
  text-decoration: none;
}
/* line 23, ../sass/style.scss */
a.disabled {
  cursor: default;
  opacity: .5;
}
/* line 28, ../sass/style.scss */
a.grey {
  color: #bcbab9;
}
/* line 31, ../sass/style.scss */
a.white {
  color: white;
}

/* line 37, ../sass/style.scss */
input.disabled {
  cursor: default;
  opacity: .5;
}
/* line 43, ../sass/style.scss */
input[type="button"].black {
  font-size: 1em;
  padding: 0.5em 1.5em;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF484848', endColorstr='#FF151515');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#484848, #000000);
  background: -moz-linear-gradient(#484848, #000000);
  background: -o-linear-gradient(#484848, #000000);
  background: linear-gradient(#484848, #000000);
  -webkit-box-shadow: #6e6e6e 0 1px 0 inset;
  -moz-box-shadow: #6e6e6e 0 1px 0 inset;
  box-shadow: #6e6e6e 0 1px 0 inset;
  border: 1px solid black;
}
/* line 15, ../sass/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="button"].black:hover {
  text-decoration: none;
}
/* line 36, ../sass/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="button"].black:hover {
  background-color: black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b3b3b), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#3b3b3b, #000000);
  background: -moz-linear-gradient(#3b3b3b, #000000);
  background: -o-linear-gradient(#3b3b3b, #000000);
  background: linear-gradient(#3b3b3b, #000000);
}
/* line 39, ../sass/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="button"].black:active {
  -webkit-box-shadow: black 0 1px 2px inset;
  -moz-box-shadow: black 0 1px 2px inset;
  box-shadow: black 0 1px 2px inset;
}
/* line 6, ../sass/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="button"].black.disabled, input[type="button"].black[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: black;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 76, ../sass/_sassy-buttons.sass */
input[type="button"].black::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 50, ../sass/style.scss */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-top: 10px;
}

/* line 55, ../sass/style.scss */
.header {
  background: #353535;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353535 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353535 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353535 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353535 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #353535 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
}
/* line 58, ../sass/style.scss */
.header h1, .header h2 {
  margin: none;
  text-align: center;
}
/* line 61, ../sass/style.scss */
.header h1 a, .header h2 a {
  color: #0088cc;
}
/* line 67, ../sass/style.scss */
.header a {
  color: #787878;
}

/* line 71, ../sass/style.scss */
#main {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

/* line 76, ../sass/style.scss */
.nav {
  margin: 35px 0 0 0;
}
/* line 80, ../sass/style.scss */
.nav ul li {
  display: inline-block;
}
/* line 81, ../sass/style.scss */
.nav ul li a {
  margin: 0 25px;
}

/* line 92, ../sass/style.scss */
#navigation-wrapper {
  margin: 20px 0;
}

/* line 95, ../sass/style.scss */
.topbar {
  background: #55a7fb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #55a7fb), color-stop(100%, #2e74bc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #55a7fb 0%, #2e74bc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #55a7fb 0%, #2e74bc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}

/* line 102, ../sass/style.scss */
.content {
  -webkit-box-shadow: 1em 1em 1em -1em black;
  -moz-box-shadow: 1em 1em 1em -1em black;
  box-shadow: 1em 1em 1em -1em black;
  background: white;
  padding: 20px;
}

/* line 108, ../sass/style.scss */
.leftbar {
  position: relative;
  right: -2.12766%;
  background-color: #4b4b4b;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px -2px;
  border: 2px groove white;
  border-right: none;
}
/* line 119, ../sass/style.scss */
.leftbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 30, ../sass/_mixins.scss */
.leftbar ul > li {
  display: block;
  float: left;
}
/* line 33, ../sass/_mixins.scss */
.leftbar ul > li:last-child {
  margin-right: 0px;
}
/* line 121, ../sass/style.scss */
.leftbar ul li {
  padding: 10px;
}

/* line 127, ../sass/style.scss */
.rightbar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #4b4b4b;
  border: 2px groove white;
}
/* line 132, ../sass/style.scss */
.rightbar > .row-fluid {
  border-bottom: 1px solid #3c3c3c;
}
/* line 136, ../sass/style.scss */
.rightbar > .row-fluid:last-child {
  border-bottom: none;
}
/* line 140, ../sass/style.scss */
.rightbar h3 {
  color: #bcbab9;
  margin-left: 20px;
  font-family: arial;
  font-weight: 200;
  font-size: 1.5em;
}
/* line 147, ../sass/style.scss */
.rightbar h4 {
  color: #bcbab9;
  margin-left: 20px;
  font-family: arial;
  font-weight: 200;
  font-size: 1em;
}
/* line 155, ../sass/style.scss */
.rightbar .bottom {
  text-align: center;
  background: #c70102;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 0;
  color: white;
}
/* line 163, ../sass/style.scss */
.rightbar .bottom a {
  color: white;
  font-size: 1.3em;
}

/* line 171, ../sass/style.scss */
.getstarted {
  padding: 0;
}
/* line 174, ../sass/style.scss */
.getstarted p {
  margin: 10px 20px;
  color: lightgrey;
}

/* line 180, ../sass/style.scss */
#page {
  margin-left: 0;
  padding: 10px;
  background: white;
  border: 2px groove white;
  border-right: none;
  border-left: none;
}

/* line 188, ../sass/style.scss */
.footer {
  height: 100px;
  background: #353535;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353535 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353535 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353535 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353535 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #353535 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
  /* IE6-9 */
}

/* line 194, ../sass/style.scss */
.doc_content.logged_in .content_item {
  cursor: pointer;
}

/* line 199, ../sass/style.scss */
.content_item.selected {
  background: yellow;
}

/* line 204, ../sass/style.scss */
.participate-sponsor {
  background: #999;
}
/* line 206, ../sass/style.scss */
.participate-sponsor .sponsor-button {
  background: #999;
  text-align: center;
  color: white;
  height: 40px;
  line-height: 40px;
  width: 50%;
  border-right: 1px solid #4b4b4b;
}
/* line 215, ../sass/style.scss */
.participate-sponsor a:last-child .sponsor-button {
  border-right: none;
}
/* line 218, ../sass/style.scss */
.participate-sponsor a.disabled .sponsor-button {
  opacity: .9;
}

/* line 223, ../sass/style.scss */
.participate-share {
  background: #999;
}
/* line 225, ../sass/style.scss */
.participate-share .share-button {
  width: 25%;
  text-align: center;
  color: white;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #4b4b4b;
}
/* line 234, ../sass/style.scss */
.participate-share a:last-child .share-button {
  border-right: none;
}
/* line 237, ../sass/style.scss */
.participate-share a.disabled .share-button {
  opacity: .9;
}

/* line 243, ../sass/style.scss */
.legend > p {
  margin-left: 20px;
  color: #bcbab9;
  font-size: .9em;
  float: left;
}
/* line 250, ../sass/style.scss */
.legend .legend-color {
  width: 30px;
  height: 15px;
  float: left;
  margin-left: 10px;
  margin-top: 2px;
}
/* line 258, ../sass/style.scss */
.legend.legend-comments .legend-color {
  background: #fffac1;
}
/* line 261, ../sass/style.scss */
.legend.legend-suggestions .legend-color {
  background: #ececec;
}

/* line 266, ../sass/style.scss */
.notes-wrapper {
  max-height: 700px;
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 1%;
}
/* line 273, ../sass/style.scss */
.notes-wrapper .note {
  padding: 10px 0px;
}
/* line 277, ../sass/style.scss */
.notes-wrapper .note-suggestion {
  background: #ececec;
}
/* line 280, ../sass/style.scss */
.notes-wrapper .note-comment {
  background: #fffac1;
}

/* line 285, ../sass/style.scss */
.row-fluid .span12.notes-wrapper {
  width: 98%;
  margin-left: 1%;
}

/* line 291, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 294, ../sass/style.scss */
.small-header {
  font-size: 1em;
}

/* line 297, ../sass/style.scss */
.blue {
  color: #4196f0;
}
/* line 299, ../sass/style.scss */
.blue span.red {
  color: #d60003;
}

/* line 303, ../sass/style.scss */
.red {
  color: #d60003;
}

/* line 307, ../sass/style.scss */
.single-shadow {
  text-shadow: 1px 1px 5px black;
}

/* line 310, ../sass/style.scss */
input[type="search"].dark-search {
  background: #4b4b4b;
  border: none;
  background-image: url('/img/blue-search.gif');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  color: lightgray;
}

/* line 322, ../sass/style.scss */
.ribbon {
  width: 25px;
  height: 40px;
  position: relative;
  top: -20px;
  overflow: hidden;
  right: -90px;
}
/* line 330, ../sass/style.scss */
.ribbon .ribbon-container {
  position: relative;
  width: 25px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 338, ../sass/style.scss */
.ribbon .ribbon-base {
  height: 25px;
  width: 25px;
  background: #999;
  position: relative;
  z-index: 2;
}
/* line 345, ../sass/style.scss */
.ribbon .ribbon-base:after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 19px;
  left: 2px;
  height: 36px;
  border-left: 1px dashed #cacaca;
  border-right: 1px dashed #cacaca;
}
/* line 357, ../sass/style.scss */
.ribbon .ribbon-left-corner {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
  background: #999;
  position: absolute;
  bottom: 5px;
  left: -13px;
  z-index: 1;
}
/* line 369, ../sass/style.scss */
.ribbon .ribbon-right-corner {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
  background: #999;
  position: absolute;
  bottom: 5px;
  right: -13px;
  z-index: 1;
}
