// Actions
.activity-actions {
    color: $light-medium-grey;
}

.thumbs-up {
    @extend .fa;
    @extend .fa-thumbs-o-up;
}

.thumbs-down {
    @extend .fa;
    @extend .fa-thumbs-o-down;
}

.flag {
    @extend .fa;
    @extend .fa-flag;
}

.thumbs-up, .thumbs-down, .flag {
    &::before {
        margin-right: 4px;
    }
    margin-right: 15px;
    &:last-child {
        margin-right: 0;
    }
}

.annotation-group {
    position: absolute;
    font-size: 0.85rem;
    color: $dark-grey;
    cursor:pointer;

    .annotation-group-count {
        display: inline-block;
        text-align: center;
        background-color: $lighter-grey;
        height: $line-height-computed;
        min-width: $line-height-computed;
        border-radius: 7px;
    }

    .annotation-group-statistics {
        @extend .fa;
        @extend .fa-comment;
        font-style: italic;
        margin-left: 10px;
        padding: 0 10px;
        display: inline-block;
        line-height: $line-height-computed;

        &::before {
            font-style: normal;
            font-size: 1.2rem;
            margin-right: 6px;
            color: $blue;
        }
    }

    .annotation-comment-count {
        border-left: 1px solid $dark-grey;
        margin-left: 7px;
        padding-left: 7px;
    }

    &:hover, &:active, &.active {
        .annotation-group-count {
            background-color: $medium-grey;
        }

        .annotation-group-statistics {
            background-color: $light-grey;
        }
    }

}

.annotation-pane {
    @extend .col-md-8;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    z-index: 10;
    background-color: $lighter-grey;
    padding: 0 0 4rem;
    // Pad the top to allow the header to float above it.
    margin-top: 4rem;

    .title-header {
        background-color: $dark-grey;
        color: $white;
        padding: 0 20px;
        line-height: 4rem;
        height: 4rem;
        width: percentage((8 / $grid-columns));
        position: fixed;
        top: 0;
    }

    h2 {
        font-family: $main-font;
        @extend .small-caps;
        font-weight: bold;
        line-height: 4rem;
        margin-bottom: 0;
        display: inline-block;
    }

    .close-button {
        float: right;
        font-family: $fancy-font;
        font-style: italic;
        line-height: 4rem;
        font-size: 0.85rem;
    }

    blockquote {
        // Reset our box.
        border-left: 0;
        padding-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        @extend .title-underline-medium;
        border-color: $light-medium-grey;
    }
}

.annotation-pane, .comments-pane {
    article {
        padding: $line-height-computed 0 0;
        margin: 0 20px;
    }
}

.annotation, .comment {
    .author {
        font-weight: bold;
    }

    .date, .activity-actions {
        float: right;
        color: $medium-grey;
    }

    .date {
        font-size: 0.75rem;
    }

    .comment {
        margin-left: 40px;
    }

    .content {
        font-size: 0.85rem;
    }

    .reply-action, .activity-actions {
        display: inline-block;
    }

    .reply-action {
        font-size: 0.75rem;
        font-style: italic;
    }
}

.subcomment-form {
    margin: $line-height-computed;

    h4 {
        @extend .small-caps;
    }

    .comment-button {
        margin: 1rem 0;
    }
}

.annotator-adder, .annotator-outer, .annotator-notice, .annotator-filter {
  z-index: 1000 !important;
}
