// Footer
.footer {
    float: left;
    width: 100%;
    min-height: 16rem;
    padding: 4rem 0;

    background-color: $dark-grey;
    color: $white;
    margin-top: 4rem;

    .brand {
        display: inline-block;
        float: left;
    }

    .for-roles {
        float: left;

        list-style: none;

        font-style: italic;
        li {
            display: list-item;

            .for-role {
                font-style: normal;
                text-transform: uppercase;
                font-size: 0.85em;
            }
        }
    }

    .footer-links {
        @extend .pull-right;
        font-size: 0.85em;
    }

    a {
        display: inline-block;
        color: $white;
        padding: 1rem 10px;
    }

    // Smartphone
    @include breakpoint(0 $screen-sm-min) {
        ul {
            display: list;
        }
        li {
            display: list-item;
        }
    }

}
