label {
    margin-bottom: 0;
    margin-top:1rem;
}

.help-block {
    margin:0;
}

.form-control {
    height:2rem;
}

.form-group {
    margin-bottom:1rem;
    margin-top:1rem;

    button{
      margin-top:1rem;
    }
}

.checkbox {
    input[type="checkbox"] {
        position:relative;
        margin-left: 0;
    }

    margin-bottom:0;
}

.select2-container {
    width:100%;

    .select2-choice {
        height:2rem;
        line-height:2rem;
    }
}

.select2-container-multi {
    .select2-choices {
        .select2-search-field {
            input {
                height:2rem;
            }
        }
    }
}
