.help-block {
    margin:0;
}

.form-control {
    height:$line-height-computed;
    padding-top: calc( ($line-height-computed * 0.5) - 1px );
    padding-bottom: calc( ($line-height-computed * 0.5) - 1px );
}

.form-group {
    margin-bottom: $line-height-computed * 0.5;
    margin-top: $line-height-computed * 0.5;

    button{
    }

    & > label {
        display: block;
    }
}

label {
    margin-bottom: 0;
    margin-top:0;

    .required {
        margin-left: 1rem;
        font-size: 0.7rem;
        text-transform: uppercase;
    }
}

.checkbox {
    input[type="checkbox"] {
        position:relative;
        margin-left: 0;
    }

    margin-bottom:0;
}

.select2-container {
    width:100%;

    .select2-choice {
        height:$line-height-computed;
        line-height:$line-height-computed;
    }
}

.select2-container-multi {
    .select2-choices {
        .select2-search-field {
            input {
                height:$line-height-computed;
            }
        }
    }
}

.delete-button {
    @extend .fa;
    @extend .fa-close;
}

.move-up-button {
    @extend .fa;
    @extend .fa-sort-up;
}

.move-down-button {
    @extend .fa;
    @extend .fa-sort-down;
}
