//Header tags
header {
    small {
        font-size:33%;
    }
}

// Navbar
.navbar {
    background-color: $dark-grey;
    min-height: $header-height;
    border: 0;

    a {
        color: $white;
    }
    a:hover, a:active a.current {
        text-decoration: underline;
        background-color: transparent;
        color: $dark-grey;
    }
}

.nav {
    > li {
        > a {
            position: relative;
            &:hover,
            &:focus {
                color: $dark-grey;
            }
        }
    }
}

// Logo.
.brand {
    @extend .accent-title;
    line-height: $header-height;
    font-size: 2em;
}

.dot-io {
    color: $medium-grey;
}

.navbar-toggle {
    background-color: $dark-grey;
    .icon-bar {
        background-color: $white;
    }
}

.navbar-nav {
    li {
        a {
            text-transform: uppercase;
            padding: 0 10px;
            line-height: $header-height;
            line-height: calc($header-height - 1px);
        }
    }

    // Tablet
    @include breakpoint(0 $screen-md-min) {
        margin-top: 0px;
        margin-left: 0;
        margin-right: -20px;
        padding-left: 0;
        padding-right: 0;

        // Hide our home link.
        .link-home {
            display: none;
        }
    }

    // Smartphone
    @include breakpoint(0 $screen-sm-min) {
        ul {
            margin: 0;
        }

        li {
            font-size: 1.2em;
            padding: 0;
            border-bottom: 1px solid $white;
            &:last-child {
                border-bottom: none;
            }

            a {
                padding: 12px 15px;
                color: $white;
            }

        }
    }
}

.dropdown {
    li {
        width: 100%;
    }
}

.dropdown-menu, .dropdown-submenu {
    padding: 0;
    border: 0;
    min-width: 250px;

    .active-group a {
        font-weight: bold;
    }
}

.dropdown-menu .dropdown-trigger {
    &::after{
        @include fa-icon();
        content: $fa-var-angle-right;
        line-height: inherit;
        margin-right: 10px;
    }

}

.dropdown-submenu.pull-left>.dropdown-menu {
    right: 100%;
    left: inherit;
}
