//Header tags
header {
    small {
        font-size:33%;
    }
}

// Navbar
.navbar {
    background-color: $dark-grey;
    height: $header-height;
    border: 0;

    a {
        color: $white;
    }
    a:hover, a:active a.current {
        text-decoration: underline;
        background-color: transparent;
    }
}

// Logo.
.brand {
    @extend .accent-title;
    font-size: 2em;
}

.dot-io {
    color: $medium-grey;
}

.navbar-toggle {
    background-color: $dark-grey;
    .icon-bar {
        background-color: $white;
    }
}

.navbar-nav {
    @extend .navbar-collapse;
    @extend .collapse;
    @extend .navbar-right;
    margin-top: 5px;

    li a {
        text-transform: uppercase;
        padding: 10px 10px;
    }

    // Tablet
    @include breakpoint(0 $screen-md-min) {
        margin-top: 0px;
    }

    // Smartphone
    @include breakpoint(0 $screen-sm-min) {
        ul {
            margin: 0;
        }

        li {
            font-size: 1.2em;
            padding: 0;
            border-bottom: 1px solid $white;
            &:last-child {
                border-bottom: none;
            }

            a {
                padding: 12px 15px;
                color: $white;
            }

        }
    }
}

.welcome {
    $welcome-height: 4rem;
    background-color: $green;
    text-align: center;
    color: $white;

    margin-bottom: 2rem;

    .message {
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: $welcome-height;
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
