.prompt {
    $prompt-height: 4rem;
    background-color: $green;
    text-align: center;
    color: $white;

    margin-bottom: 2rem;

    .message {
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: $prompt-height;
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
