.prompts {
    position:relative;
    $prompt-height: 2.5 * $line-height-computed;
    $prompt-font-size: 1.4rem;
    background-color: $blue;
    text-align: center;
    color: $white;

    margin-bottom: $line-height-computed;

    .prompt-message {
        font-size: $prompt-font-size;
        line-height: $line-height-computed;
        font-weight: bold;

        padding-top: ($prompt-height - $prompt-font-size) / 2;
        padding-bottom: ($prompt-height - $prompt-font-size) / 2;
    }

    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .prompt-close {
        float: right;
        margin-top: 28px;
        cursor:pointer;
    }
}

@media only screen and (max-width: $screen-sm-min) {
    .prompts {
        .prompt-close {
            margin-top: 1rem;
        }
    }
}
