/* Document */
.back-link {
    @extend .col-md-24;

    a {
        @extend .small-caps;
        @extend .go-button;
        color: $dark-grey;

        // Bigger click box.
        display: inline-block;
        padding: 10px;
        margin-left: -10px;
    }
}


.doc-support-button {
    @extend .action-button;
}

.doc-oppose-button {
    @extend .reject-button;
}

.single-doc {
    .doc-info .button {
        padding: 7px 15px;
        margin-right: 10px;
    }

    .nav-tabs {
        @extend .row;
        background-color: $lighter-grey;

        padding-left: 10px;
        li {
            a {
                padding: 7px 15px;
                border: none;
                &:hover, &:active {
                    border: none;
                }
                background-color: $green;
                color: $white;

                @extend .small-caps;
                font-weight: bold;

            }
            &.active a {
                background-color: $white;
                color: $black;
                border: none;
            }
        }
    }
}

.doc-main {
    @extend .col-md-16;
}

.doc-secondary-content {
    @extend .col-md-8;

    & > section {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .normal-title {
        @extend .title-underline-thin;

        text-transform: uppercase;
        font-weight: bold;

        .rss-link {
            float: right;
            font-weight: normal;
        }
    }

    .stats-number {
        @extend .col-md-8;
    }
}

.stats {
    text-align: center;

    .normal-title {
        text-align: left;
    }

    .stat-label {
        @extend .small-caps;
        font-weight: normal;
    }

    .stat-value {
        font-size: 1.5em;
    }
}

.stats-value, .stats-number {
    font-family: $fancy-font;
    font-style: italic;
}

.chart-title {
    @extend .small-caps;
}

.chart-title .vs {
    text-transform: none;
    font-family: $fancy-font;
    font-style: italic;
}

.chart {
    .oppose rect {
        fill: $orange;
    }
    .support rect {
        fill: $blue;
    }
    .border line {
        stroke:rgb(0,0,0);
        stroke-width:1;
    }
}

.chart-stat {
    @extend .col-md-12;

    &.oppose {
        text-align: right;
    }
    &.support {
        text-align: left;
    }

    .chart-label {
        @extend .screen-hidden;
    }
}

.rss-link {
    @extend .fa;
    @extend .fa-rss;

    // Make the click area larger.
    position: relative;
    padding: 10px;
    right: 0px;
    bottom: 10px;

    // Hide the button text.
    width: 30px;
    height: 30px;
    overflow: hidden;

    // Inverted icon.
    &:before {
        width: 19px;
        height: 19px;
        padding: 4px;
        display: inline-block;
        text-align: center;
        @extend .fa-inverse;
        background-color: $medium-grey;
        border-radius: 4px;
    }

    &:hover:before {
        text-decoration: none;
        background-color: $light-medium-grey;
    }
}

.content {
    margin-top: $vertical-padding * 2;
}

/* Table of Contents */

.toc-open .document-toc {
        left: 0;
    }

.document-toc {
    // The width of the whole block.
    $toc-width: 400px;

    // The width of the header that sticks out the side.
    $toc-heading-width: 35px;

    // The padding for the box.
    $toc-padding: 10px;

    // The shortest the box can be, to accomodate text.
    $min-height: 250px;

    // The tallest the box can be, triggers scrollbars.
    $max-height: 400px;

    background: $lightest-grey;
    box-shadow: 0px 2px 5px $dark-grey;

    // Floating sidebar
    position: fixed;
    z-index: 10;
    top: 250px;
    padding: $toc-padding;
    padding-right: ($toc-heading-width);
    width: $toc-width;
    min-height: $min-height;

    // Slide in/out
    left: $toc-heading-width - $toc-width;
    @include single-transition(left, 0.4s, ease-in-out);

    .inner {
        // Setup for moving the header
        position: relative;
    }

    .toc-header {
        // Shove the header all the way to the right, and out of the box.
        // Glue the top and bottom to the containing box.
        position: absolute;
        // Offset to account for padding.
        top: $toc-padding * -1;
        bottom: $toc-padding * -1;

        right: $toc-heading-width * -1;
        width: $toc-heading-width;

        min-height: $min-height;

        // Prevent the weird bug where clicking the tabs activates the TOC.
        overflow: hidden;

        // Make it look clickable
        cursor: pointer;

        border-left: 1px solid $light-medium-grey;

        .normal-title {
            color: $light-medium-grey;
            display: block;
            // Give us enough room that the line doesn't wrap.
            width: $min-height;
            max-width: $min-height;
            // And a little offset from the top.
            margin-top: 20px;
            span {
                @extend .small-caps;
                font-weight: bold;
                display: inline-block;
                // Rotate around the middle of the far left edge, to hold our position.
                transform-origin: ceil($toc-heading-width/2) ceil($toc-heading-width/2);
                @include rotate(90deg);

                // Center this, more or less.
                line-height: $toc-heading-width + 4px;
            }
        }
    }

    .toc-content {
        width: $toc-width - ($toc-heading-width + $toc-padding);
        max-height: $max-height;
        overflow: auto;

        ul {
            padding-left: 20px;
        }

        // We don't have good nesting here, so do the best we can.
        .toc-heading {
            display: block;
        }
        .toc-h1 {
            // Remove the dot and offset back.
            list-style: none;
            margin-left: $toc-padding * -1;

            font-size: 1.1em;
            font-weight: bold;
        }
        .toc-h2 {
            font-weight: bold;
            margin-left: $toc-padding * 1;
        }
        .toc-h3 {
            margin-left: $toc-padding * 2;
        }
        .toc-h4{
            margin-left: $toc-padding * 3;
            font-size: 0.9em;
        }
        .toc-h5{
            margin-left: $toc-padding * 4;
            font-size: 0.9em;
        }
        .toc-h6{
            margin-left: $toc-padding * 5;
            font-size: 0.9em;
        }

    }
}
