/* Document */
.back-link {
    @extend .col-md-24;
    height: $line-height-computed;
    padding: 0 5px;

    a {
        @extend .small-caps;
        @extend .go-button;
        color: $dark-grey;

        // Bigger click box.
        display: inline-block;

        padding: 0 10px;
    }
}


.doc-support-button {
    @extend .action-button;
}

.doc-oppose-button {
    @extend .reject-button;
}

.single-doc {
    // Vertically center the buttons.
    .support-oppose-buttons {
        float: left;
    }

    .doc-info .button {
        padding: 0 15px;
        margin-right: 10px
    }

    .nav-tabs {
        background-color: $lighter-grey;

        li {
            margin-top: 0.5 * $line-height-computed;
            &:first-child {
                margin-left: 10px;
            }
            a {
                line-height: 1.5 * $line-height-computed;
                padding: 0 15px;

                border: none;
                &:hover, &:active {
                    border: none;
                }
                background-color: $green;
                color: $white;

                @extend .small-caps;
                font-weight: bold;
            }
            &.active a {
                background-color: $white;
                color: $black;
                border: none;
            }
        }
    }
}

.doc-info-container, .doc-content {
    @extend .col-md-16;
}

.tab-content {
    margin-top: $line-height-computed;
}

.doc-secondary-content {
    @extend .col-md-8;

    & > section {
        // Match our for rhythm.
        padding-bottom: $line-height-computed / 2;
        margin-bottom: $line-height-computed / 2;
    }

    .normal-title {
        @extend .title-underline-thin;

        text-transform: uppercase;
        font-weight: bold;

        .rss-link {
            float: right;
            font-weight: normal;
        }
    }

    .stats-number {
        @extend .col-md-8;
    }
}

.stats {
    text-align: center;

    .normal-title {
        text-align: left;
    }

    .stat-label {
        @extend .small-caps;
        font-weight: normal;
    }

    .stat-value {
        font-size: 1.5rem;
    }
}

.stats-number {
    font-family: $fancy-font;
    font-style: italic;
}

.chart-title {
    @extend .small-caps;
    font-weight: bold;
    // There's some weirdness with the fancy font screwing up
    // font sizes.  We hide overflow to fix this.
    height: $line-height-computed;
    overflow: hidden;
    .vs {
        text-transform: none;
        font-family: $fancy-font;
        font-style: italic;
        font-weight: normal;
    }
}

.chart {
    height: $line-height-computed;
    overflow: hidden;

    svg {
        height: $line-height-computed;
    }

    .oppose rect {
        fill: $orange;
    }
    .support rect {
        fill: $blue;
    }
    .border line {
        stroke:rgb(0,0,0);
        stroke-width:1;
    }
}

.chart-stat {
    @extend .col-md-12;

    &.oppose {
        text-align: right;
    }
    &.support {
        text-align: left;
    }

    .chart-label {
        @extend .screen-hidden;
    }
}

.rss-link {
    @extend .fa;
    @extend .fa-rss;

    // Make the click area larger.
    position: relative;
    padding: 10px;
    right: 0px;
    bottom: 0.25rem;

    // Hide the button text.
    width: 30px;
    height: 30px;
    overflow: hidden;

    // Inverted icon.
    &:before {
        width: 19px;
        height: 19px;
        padding: 4px;
        display: inline-block;
        text-align: center;
        @extend .fa-inverse;
        background-color: $medium-grey;
        border-radius: 4px;
    }

    &:hover:before {
        text-decoration: none;
        background-color: $light-medium-grey;
    }
}

.annotation-content {
    .normal-title {
        // Slight offset so bottom border matches up.
        margin-top: .5 * $line-height-computed;
    }
}

// Inside of our content, we use different title treatment
.doc-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: $fancy-font;
        font-style: italic;
        font-weight: normal;
        margin-bottom: 0;
    }

    h1 {
        @extend h3;
    }
    h2 {
        @extend h3;
    }
    h3 {
        @extend h4;
    }
    h4 {
        @extend h4;
    }

    blockquote {
        margin-left: 4rem;
        font-family: $fancy-font;
        font-style: italic;
    }
}

/* Comments */

.comment-thread {
    margin-top: $line-height-computed;
    font-size: 0.85rem;
}

.comment {
    padding-bottom: calc(#{$line-height-computed} - 1px);
    border-bottom: 1px solid $black;
    margin-bottom: $line-height-computed;

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: $line-height-computed;
    }

    .content {
        padding: (.5 * $line-height-computed) 25px;
    }
}

.toggle-replies {
    display: inline-block;
}

.login-message {
    display: block;
}

.replies, .reply {
    margin-left: 50px;
}

.replies {
    margin-bottom: $line-height-computed;
}

.comment-reply {
    margin-top: $line-height-computed;
}

.reply {
    margin-top: $line-height-computed;

    textarea {
        height: 2 * $line-height-computed;
    }
}

/* Table of Contents */

// Variables.

// The width of the whole block.
$toc-width: 370px;

// The width of the header that sticks out the side.
$toc-heading-width: 35px;

// The padding for the box.
$toc-padding: 10px;

// The shortest the box can be, to accomodate text.
$min-height: 30vh;

// The tallest the box can be, triggers scrollbars.
$max-height: 50vh;

// Fallback height for IE8;
$fallback-height: 350px;

.toc-open .document-toc {
    left: 0;
    @extend %simple-shadow;

    .toc-header {
        opacity: 0;
        width: 0;
        border: 0;
        @extend %simple-shadow;
    }
}

.document-toc {


    background: $lightest-grey;

    // Floating sidebar
    position: fixed;
    z-index: 10;
    top: 250px;
    top: 20vh;
    padding: 0 $toc-padding $line-height-computed;
    //padding-right: ($toc-heading-width);
    width: $toc-width;
    min-height: $fallback-height;
    min-height: $min-height;

    // Slide in/out
    left: $toc-width * -1;
    @include single-transition(left, $transition-duration, $transition-easing);

    .inner {
        // Setup for moving the header
        position: relative;
    }
}
.toc-header {
    // This goes invisible when the pane is open.
    @include single-transition(all, ($transition-duration - 0.1s), $transition-easing);

    // Shove the header all the way to the right, and out of the box.
    // Glue the top and bottom to the containing box.
    position: absolute;
    // Offset to account for padding.
    top: $toc-padding * -1;
    bottom: $toc-padding * -1;
    // Add 10px to deal with scrollbars.
    right: ($toc-heading-width + 10) * -1;
    width: $toc-heading-width;

    min-height: $fallback-height;
    min-height: $min-height;

    // Prevent the weird bug where clicking the tabs activates the TOC.
    overflow: hidden;

    // Make it look clickable
    cursor: pointer;


    background: $lightest-grey;
    @extend %simple-shadow;
    //border: 1px solid $light-medium-grey;

    .normal-title {
        color: $light-medium-grey;
        display: block;
        // Give us enough room that the line doesn't wrap.
        width: 150px;
        // And a little offset from the top.
        margin-top: 20px;
        span {
            @extend .small-caps;
            font-weight: bold;
            display: inline-block;
            // Rotate around the middle of the far left edge, to hold our position.
            @include transform-origin( ceil($toc-heading-width/2) ceil($toc-heading-width/2));
            @include rotate(90deg);

            // Center this, more or less.
            line-height: $toc-heading-width + 4px;
        }
    }
}

.toc-content {
    // Leave room for the navbars.
    width: $toc-width - 10px;
    max-height: $fallback-height;
    max-height: $max-height;
    overflow: auto;

    font-size: 0.9rem;

    ul {
        padding-left: 20px;
        margin-bottom: 0;
    }

    // We don't have good nesting here, so do the best we can.
    .toc-heading {
        display: block;
    }
    .toc-h1 {
        // Remove the dot and offset back.
        list-style: none;
        margin-left: $toc-padding * -1;

        font-weight: bold;
    }
    .toc-h2 {
        font-weight: bold;
        margin-left: $toc-padding * 1;
    }
    .toc-h3 {
        margin-left: $toc-padding * 2;
    }
    .toc-h4{
        margin-left: $toc-padding * 3;
    }
    .toc-h5{
        margin-left: $toc-padding * 4;
        font-size: 0.9rem;
    }
    .toc-h6{
        margin-left: $toc-padding * 5;
    }

}

.toc-title {
    @include single-box-shadow( 0px, 6px, 5px, -3px, #CCC );
    margin: 0 -10px;
    padding: 0 10px;
    .toc-title-string {
        @extend .small-caps;
        font-weight: bold;
    }
    .toc-close {
        float: right;
        @extend .small-caps;
        color: $blue;
        margin-right: 10px;
    }
}
