.public-link {
    float:right;
}

//Overrides
.document-edit-tabs {
    .nav-tabs {
        @extend .row;
        border-bottom: none;

        padding-left: 10px;
        li {
            a {
                padding: 0 15px;
                // This completes the rhythm.
                line-height: $line-height-computed;
                border: none;
                &:hover, &:active {
                    border: none;
                }
                background-color: $light-grey;
                color: $black;

                @extend .small-caps;
                font-weight: bold;

                &:hover {
                    background-color: mix($blue, $white, 20%);
                    color: $dark-grey;
                }
            }
            &.active a {
                background-color: $blue;
                color: $white;
                border: none;

                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }

    .tab-pane {

        .wmd-input {
            height:100%;
        }

        .wmd-preview {
            margin-top:0;
        }

        .wmd-button-row {
            height:1rem;
        }

        .doc-content-editor {
            float:none;
            height:40rem;
            overflow:hidden;
        }
    }


}

.save-document-button {
    @extend .button;
    @extend .go-button;
    @extend .action-button;

    //This really shouldn't be necessary.  Not sure why it isn't lining up.
    top:-3px;
    position:relative;
}


.document-information {
    @extend .col-md-14;
}

.document-dates {
    margin-top:3 * $line-height-computed;
    @extend .col-md-7;
    @extend .col-md-offset-1;

    .dates-header {
        @extend .row;
    }

    .dates {
        @extend .row;
    }

    .datetimepicker {
        background:$light-grey;

        table {
            width:100%;
        }
    }
}


.existing-date {
    @extend .row;
    position: relative;
    padding-right: 25px;

    .close-label {
        position: absolute;
        top: 0.5 * $line-height-computed;
        right: 0px;
        padding-top: 0;
        margin-top: 0;
    }
}
