.home-feature {
    @extend .col-md-12;
    padding: 0;


    .read-button {
        @extend .button;
        @extend .action-button;
        @extend .go-button;
        float: right;

    }
}

// If we have a background image.
.main-feature.has-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.has-image .doc-info {
    margin-top: 22rem;
}

.search-list {
    @extend .col-md-12;

    h2.heading {
        @extend .title-underline-thick;
    }

    .normal-title {
        display: block;
        @extend .small-caps;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.search-form {
    margin-bottom: 2rem;
    .text-search {
        display: block;
        overflow: hidden;
        margin-right: 100px;
        height: 2rem;

        input {
            display: block;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 10px;
            margin: 0;
            line-height: calc(2rem - 2px);
            height: auto;
        }
    }
    .search-button {
        @extend .button;
        @extend .action-button;
        @extend .go-button;
        float: right;
        max-width: 100px;
    }
}

.doc-list-item {
    float: left;
    display: block;
    width: 100%;

    // The 1em here falls back into rhythm with the 1em padding on the boxes.
    margin-bottom: 1rem;

    // To make both columns equal height, we need to make this a table.
    // The next block of declarations achieve this.
    & > .inside {
        display: table;
        width: 100%;
    }

    .doc-info, .doc-meta {
        display: table-cell;
        float: none;
        vertical-align: top;
    }

    .doc-info {
        width: 66.6666%;
        padding-top: 0;
        // This falls into rhythm with the margin-bottom above.
        padding-bottom: 1rem;
    }

    .doc-meta {
        width: 33.3333%;
        padding-top: 0;
        padding-left: $grid-gutter-width/2;

        // Make this relative so we can stick the action button to the bottom of it.
        position: relative;

        // Give enough room for that button plus padding for the rhythm.
        // 2rem (buttom) + 1rem (padding) = 3rem
        // This falls into rhythm with the margin-bottom above.
        padding-bottom: 3rem;

        .read-action {
            // Glue this to the bottom of the box, in rhythm.
            position: absolute;
            bottom: 1rem;
        }
    }

    .doc-categories {
        ul {
            padding-left: 0;
        }
    }

    .category {
        display: inline-block;
        list-style: none;
        $category-height: 1.2rem;
        margin-left: 10px;

        span {
            @extend .small-caps;
            display: inline-block;
            background-color: $light-grey;
            height: $category-height;
            line-height: $category-height;
            padding-right: 7px;
            padding-left: 5px;
        }

        &:before {
            border-top:    $category-height/2 solid transparent;
            border-bottom: $category-height/2 solid transparent;
            border-right:  $category-height/2 solid $light-grey;
            border-left: none;
            width: 0px;
            display: inline-block;
            vertical-align: middle;

            content: " ";

        }
    }

    .date {
        @extend .small-caps;
        time {
            font-weight: bold;
        }
    }

    .stats {
        margin-top: 2em;
        margin-bottom: 0px;

        // Hide our table header.
        thead {
            display: none;
        }

        .stats-value {
            text-align: right;
            font-style: italic;
            padding-right: 5px;
        }

        .stats-name {
            @extend .small-caps;
        }

        td {
        }
    }
}

// Reusable Document Styles (maybe?)
.doc-info {
    @extend .col-sm-24;
    padding-top: 0;
    padding-bottom: 2em;
    background-color: $lighter-grey;

    .heading {
        @extend .title-underline-thick;
    }

    .subheading {
        @extend .title-underline-medium;
        @extend .medium-heading;
    }
}

.doc-sponsor {
    display: block;

    @extend .title-underline-thin;

    font-weight: bold;
}

.doc-sponsor, .doc-stats {
    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
    }
}

.doc-stats li {
    border-right: 1px solid #000;
    margin-right: 4px;
    padding-right: 6px;

    &:last-child {
        border: none;
    }
}

.doc-meta {
    background-color: $lightest-grey;
}

.doc-content {
    float: left;
}

.doc-summary {
    margin-top: 2em;
}

.read-action {
    // Make this the full size of the box, then add padding inside
    // to squeeze it into place.
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .action-button {
        @extend .go-button;

        // Offset to match the padding from above.
        margin-left: -15px;
        margin-right: 15px;
        display: block;
        text-align:center;
    }
}

// Features
.main-feature {
    @include clearfix();
}

.previous-features {
    @extend .row;
    margin-top: 2rem;

    .message {
        // Actually, this is kinda buttony.
        @extend .button;
        @extend .btn-success;
        line-height: 4rem;

        display: block;

        margin: 0 15px 2rem;
    }
}

.recent-activity, .most-active {
    @extend .col-md-12;

    h2 {
        margin-bottom: 2rem;
        font-family: $main-font;
        @extend .normal-title;
    }

    article {
        margin-bottom: 2rem;
    }

    .author, .title {
        font-weight: bold;
    }

    time {
        display: block;
        font-style: italic;
    }
}
