.document-list {
    margin-top: 1.5 * $line-height-computed;

    li {
        list-style: none;
    }

    .group-docs-empty {
        font-style: italic;
        padding-left: $line-height-computed;
    }
}

.create-document-wrapper {
    margin-top: 2 * $line-height-computed;
}

.create-document {
    margin-top: 1.5 * $line-height-computed;
}
