<!-- Is this still being used? -->
<div class="annotation">
    <div class="">
        <div class="activity-author">
            <span>{{ annotation.user.name || (annotation.user.fname + ' ' + annotation.user.lname.substr(0,1)) }}</span>
        </div>
        <div class="activity-icon">
            <a href="#{{ annotation.link }}"
                ng-show="annotation.label === 'annotation'">
                <span data-activity-link="{{ annotation.link }}"
                    class="glyphicon glyphicon-screenshot" role="button"
                    title="{{ 'note.label.jumpto' | translate:'{title:annotation.label}'"
                    aria-label="{{ 'note.label.jumpto' | translate:'{title:annotation.label}'"
                    ></span>
            </a>
            <a class="comment-link">
                <span ng-show="annotation.label === 'comment'"
                    class="glyphicon glyphicon-link" role="button"
                    title="{{ 'document.interface.copylink' | translate }}"
                    aria-label="{{ 'document.interface.copylink' | translate }}"
                    ></span>
            </a>
        </div>
    </div>
    <div class="">
        <div class="activity-content">
            <span ng-bind-html="annotation.text | linky:'_blank'"></span>
        </div>
    </div>
    <div class="annotator-tags">
        <span class="annotator-tag"
            ng-repeat="tag in annotation.tags track by $index">{{ tag }}</span>
    </div>
    <div class="">
        <div class="">
            <span class="activity-replies-indicator"
                ng-class="{'activity-replies-indicator-inactive': annotation.comments.length == 0}"
                ng-click="collapseComments(annotation)">
                    <span class="glyphicon glyphicon-comment"></span>
                    {{ annotation.comments.length || '0' }}</span>
        </div>
        <div class="activity-actions">
            <span class="thumbs-up" role="button"
                aria-label="{{ 'document.action.like' | translate }}"
                ng-click="addAction(annotation, 'likes', $event)"
                >
                {{ annotation.likes || '0' }}</span>
            <span class="flag" role="button"
                aria-label="{{ 'document.action.flag' | translate }}"
                ng-click="addAction(annotation, 'flags', $event)">
                {{ annotation.flags || '0' }}</span>
        </div>
    </div>
    <div class="activity-replies" collapse="annotation.commentsCollapsed">
        <div id="annsubcomment_{{ comment.id }}"
            class="activity-reply col-md-12"
            ng-repeat="comment in annotation.comments">
            <div activity-sub-comment sub-comment-id="{{ comment.id }}"></div>
        </div>
    </div>
    <div class="subcomment-field" ng-if="user">
        <form name="add-subcomment-form"
            ng-submit="subcommentSubmit(annotation, subcomment)">
            <input ng-model="subcomment.text" type="text"
                class="form-control centered" required
                placeholder="{{ 'document.action.commentplaceholder' | translate }}" />
        </form>
    </div>
</div>
