<div class="container profile-completion-message" ng-if="user && user.id && !user.email">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <p translate="content.users.profile-completion.no-email"></p>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <form class="form-inline" ng-submit="updateEmail(newEmail, newPassword)">
          <div class="form-group">
            <input ng-model="newEmail" type="email" placeholder="Email Address" class="form-control">
            <input ng-model="newPassword" type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-default" translate="form.general.submit"></button>
        </form>
      </div>
      <div class="col-md-6">
        <p><span class="glyphicon glyphicon-info-sign"></span> {{ 'content.users.profile-completion.no-email.info.main' | translate }}</p>
        <small translate="content.users.profile-completion.no-email.info.small"></small>
      </div>
    </div>
  </div>
</div>
<div class="container profile-completion-message" ng-if="user && user.id && user.email && !user.email_verified">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <p translate="content.users.profile-completion.unverified-email"></p>
    </div>
  </div>
</div>
