@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";

// Actions
.activity-actions {
  color: $gray;

  a {
    color: $text-muted;

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: none;
    }
  }

  .thumbs-up {
    @extend .fa;
    @extend .fa-thumbs-o-up;
  }

  .thumbs-down {
    @extend .fa;
    @extend .fa-thumbs-o-down;
  }

  .flag {
    @extend .fa;
    @extend .fa-flag;
  }

  .link {
    @extend .fa;
    @extend .fa-link;
  }

  .comments {
    @extend .fa;
    @extend .fa-comments;
  }

  .thumbs-up, .thumbs-down, .flag, .link {
    &::before {
      margin-right: 4px;
    }
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.annotation-group {
  position: absolute;
  cursor:pointer;

  .annotation-group-count {
    .fa {
      color: $gray;
    }

    .badge {
      margin-left: 1em;
    }
  }

  &:hover, &:active, &.active {
    .annotation-group-count {
      .fa-stack-2x {
        color: $gray-dark;
      }
    }
  }

}

.annotation-click-capture {
  @extend .col-md-8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.annotation-pane {
  @extend .col-md-4;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: ($zindex-navbar + 1);
  background-color: $gray-lighter;
  @extend %simple-shadow;
  padding: 0 0 (2 * $line-height-computed);
  // Pad the top to allow the header to float above it.
  margin-top: 0;

  // Slide in/out
  margin-right: -34%;
  @include transition(all $transition-duration $transition-easing);
  &.active {
    margin-right: 0;
  }

  .title-header {
    @extend .container;
    width: 100%;
  }

  .annotation-list {
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
  }

  h2 {
    @extend .small-caps;
    font-weight: bold;
    line-height: (2 * $line-height-computed);
    margin: 0;
    display: inline-block;
  }

  .close-button {
    float: right;
    font-style: italic;
    line-height: (2 * $line-height-computed);
    cursor: pointer;
  }

  blockquote {
    // Reset our box.
    border-left: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    @extend .title-underline-thin;
    border-color: $gray;
  }
}

.annotation-pane {
  article {
    padding: $line-height-computed 0 0;
    margin: 0 20px;
  }

  article.comment {
    border-bottom: 0;
    margin-right: 0;
    border-top: 1px solid $gray;
  }
}

.annotation {
  .author {
    font-weight: bold;
  }

  .date, .activity-actions {
    float: right;
  }

  .reply-action, .activity-actions {
    display: inline-block;
  }

  .reply-action {
    @extend .small;
    font-style: italic;
  }
}

.annotation:not(:last-child) {
  @extend .title-underline-medium;
}

#comments .comment {
  .activity-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.subcomment-form {
  margin: $line-height-computed;

  h4 {
    @extend .small-caps;
  }

  .comment-button {
    margin: 1rem 0;
  }
}

.annotator-hide { display: none; }

.annotator-adder, .annotator-outer, .annotator-notice, .annotator-filter {
  z-index: 1000 !important;
}

.annotator-wrapper .annotator-adder {
  position: absolute;
  padding-left: 15px;
  padding-top: 7px;

  button {
    @extend .btn;
    @extend .btn-default;
    @extend .fa;
    @extend .fa-pencil;

    // Styling for the pencil
    &:before {
      text-indent: 0;
      color: $gray;
      font-size: 16px;
      position: absolute;
      top: 6px;
      left: 8px;
    }

    text-indent: -9999px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin-left: 5px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -40px;
    left: -20px;
  }
}

.annotator-outer.annotator-editor {
  position: absolute;
}

.annotator-wrapper .annotator-widget {
  @extend .panel;

  position: absolute;
  top: -180px;
  left: -150px;

  border: 1px solid #eee;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

  &:after { background-image: none; }

  .annotator-listing {
    @extend .panel-body;

    padding-bottom: 0;
    list-style: none;

    .annotator-item textarea {
      padding: 0;
      border: none;
      width: 300px;
      min-height: 80px;

      &:focus { outline: none; }
    }
  }

  .annotator-controls {
    @extend .panel-footer;

    a {
      @extend .btn;

      &.annotator-save {
        @extend .btn-primary;
        float: right;
      }
      &.annotator-cancel {
        @extend .btn-default;
      }
    }
  }

}

.annotator-notice {
  @extend .alert;

  position: fixed;
  top: -54px;
  left: 0;

  width: 100%;
  text-align: center;

  .ie6 & {
    position: absolute;
  }

}

.annotator-notice-success {
  @extend .alert-success;
}

.annotator-notice-error {
  @extend .alert-danger;
}

.annotator-notice-show {
  top: 0;
}



.annotator-hl {
  background: rgba(255,255,10,0.3);
  cursor: pointer;
}

.annotator-hl-temporary {
  background: rgba(0,124,255,0.3);
}

.annotator-hl-active {
  background: rgba(255,255,10,0.8);
}

.annotator-hl-filtered {
  background-color: transparent;
}

.mobile-annotation-message {
  display: none;
}

// Mobile phone-sizes
@media only screen and (max-width: $screen-sm-min) {
  .mobile-annotation-message {
    display: block;
    margin: $line-height-computed 0;
    font-style: italic;
  }

  // Leave room for annotation numbers
  #page_content {
    padding-right: 2rem;
  }

  .annotation-group {
    right: 5px;

    .fa {
      display: none;
    }

    .annotation-group-count .badge {
      margin-left: 0;
    }
  }

  .annotation-pane {
    left: 100%;

    &.active {
      left: 0;
    }
  }

  // Hide all inline annotations for now.
  .annotator-outer,
  .annotator-adder {
    display: none !important;
  }
}

.comment-content {
  position: relative;
}

.comment-replies {
  .media:first-child {
    margin-top: 15px;
  }
}
