@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";

// Actions
.activity-actions {
  color: $gray;

  .thumbs-up {
    @extend .fa;
    @extend .fa-thumbs-o-up;
  }

  .thumbs-down {
    @extend .fa;
    @extend .fa-thumbs-o-down;
  }

  .flag {
    @extend .fa;
    @extend .fa-flag;
  }

  .link {
    @extend .fa;
    @extend .fa-link;
  }

  .thumbs-up, .thumbs-down, .flag, .link {
    &::before {
      margin-right: 4px;
    }
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.annotation-group {
  position: absolute;
  cursor:pointer;

  .annotation-group-count {
    .fa-stack-1x {
      color: white;
    }

    .fa-stack-2x {
      color: $gray;
    }
  }

  .annotation-group-statistics {
    font-style: italic;
    margin-left: 10px;
    padding: 0 10px;
    display: inline-block;
    line-height: $line-height-computed;
  }

  .annotation-comment-count {
    border-left: 1px solid $gray-dark;
    margin-left: 7px;
    padding-left: 7px;
  }

  &:hover, &:active, &.active {
    .annotation-group-count {
      .fa-stack-2x {
        color: $gray-dark;
      }
    }

    .annotation-group-statistics {
      background-color: $gray-lighter;
    }
  }

}

.annotation-click-capture {
  @extend .col-md-8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.annotation-pane {
  @extend .col-md-4;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: $zindex-navbar;
  background-color: $gray-lighter;
  @extend %simple-shadow;
  padding: 0 0 (2 * $line-height-computed);
  // Pad the top to allow the header to float above it.
  margin-top: 0;

  // Slide in/out
  margin-right: -34%;
  @include transition(all $transition-duration $transition-easing);
  &.active {
    margin-right: 0;
  }

  .title-header {
    @extend .container;
    width: 100%;
  }

  .annotation-list {
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
  }

  h2 {
    @extend .small-caps;
    font-weight: bold;
    line-height: (2 * $line-height-computed);
    margin: 0;
    display: inline-block;
  }

  .close-button {
    float: right;
    font-style: italic;
    line-height: (2 * $line-height-computed);
    cursor: pointer;
  }

  blockquote {
    // Reset our box.
    border-left: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    @extend .title-underline-thin;
    border-color: $gray;
  }
}

.annotation-pane {
  article {
    padding: $line-height-computed 0 0;
    margin: 0 20px;
  }

  article.comment {
    border-bottom: 0;
    margin-right: 0;
    border-top: 1px solid $gray;
  }
}

.annotation, .comment {
  .author {
    font-weight: bold;
  }

  .date, .activity-actions {
    float: right;
    color: $gray;
  }

  .comment {
    margin-left: 40px;
  }

  .reply-action, .activity-actions {
    display: inline-block;
  }

  .reply-action {
    font-size: 0.75rem;
    font-style: italic;
  }
}

.annotation:not(:last-child) {
  @extend .title-underline-medium;
}

.subcomment-form {
  margin: $line-height-computed;

  h4 {
    @extend .small-caps;
  }

  .comment-button {
    margin: 1rem 0;
  }
}

.annotator-adder, .annotator-outer, .annotator-notice, .annotator-filter {
  z-index: 1000 !important;
}

.mobile-annotation-message {
  display: none;
}

// Mobile phone-sizes
@media only screen and (max-width: $screen-sm-min) {
  .annotation-container {
    left: calc(100% - 2rem);
  }

  .annotation-title {
    display: none;
  }

  .mobile-annotation-message {
    display: block;
    margin: $line-height-computed 0;
    font-style: italic;
  }

  // Leave room for annotation numbers
  .doc-content {
    padding-right: 2rem;
  }

  .annotation-group {
    // Hide the details on annotations in the sidebar.
    .annotation-group-statistics {
      display: none;
    }
  }

  .annotation-pane {
    left: 100%;

    &.active {
      left: 0;
    }
  }

  // Hide all inline annotations for now.
  .annotator-outer {
    display: none;
  }
}
