.nav-tabs {
  margin-bottom: 2em;
}

.anchor-target {
  background-color: rgba(0, 128, 0, 0.3) !important;
}

.introtext {
  $intro-column-count: 2;
  $intro-column-gap: floor(($grid-gutter-width / 2));

  -moz-column-count: $intro-column-count;
  -webkit-column-count: $intro-column-count;
  column-count: $intro-column-count;

  -moz-column-gap: $intro-column-gap;
  -webkit-column-gap: $intro-column-gap;
  column-gap: $intro-column-gap;
}

.support-btns {
  margin-left: 1em;
  margin-bottom: 1em;

  .btn-group {
    z-index: $zindex-navbar;
  }
}
