.nav-tabs {
  margin-bottom: 2em;
}

.anchor-target {
  background-color: rgba(0, 128, 0, 0.3) !important;
}

.introtext {
  $intro-column-count: 2;
  $intro-column-gap: floor(($grid-gutter-width / 2));

  -moz-column-count: $intro-column-count;
  -webkit-column-count: $intro-column-count;
  column-count: $intro-column-count;

  -moz-column-gap: $intro-column-gap;
  -webkit-column-gap: $intro-column-gap;
  column-gap: $intro-column-gap;
}

@media only screen and (max-width: $screen-sm-min) {
  .introtext {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.support-btns {
  margin-left: 1em;
  margin-bottom: 1em;

  .btn-group {
    z-index: $zindex-navbar;
  }
}

blockquote {
  color: $text-color;

  a & {
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: darken($blockquote-border-color, 5);
    }
  }
}

.new-comment-form {
  .media-body > button {
    padding-left: 0;
    color: $text-muted;
  }

  .expanded-content {
    .media {
      margin-bottom: 1em;
    }
  }
}

.comment-replies-toggle {
  margin-top: 1em;
}
