.edit-document {
  textarea {
    border: 0;
    padding: 0;
    box-shadow: none;
    margin-bottom: $grid-gutter-width * 2;

    &#title {
      font-size: $font-size-h1;
      font-weight: 700;
    }

    &#introtext {
      font-size: $font-size-base + ($font-size-base * 0.2);
    }

    &#page_content,
    &#introtext {
      border-top: 1px solid $gray-lighter;
      padding-top: $grid-gutter-width;
    }

    &:focus {
      outline: 0;
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid $gray-lighter;
    }
  }

  .settings-sidebar {
    &.affix,
    &.affix-bottom {
      width: 360px;

      @media only screen and (max-width: $screen-lg-min) {
        width: 293px;
      }
    }

    &.affix { top: 10px; }
    &.affix-bottom { position: absolute; }
  }

  .editor-toolbar {
    border-radius: 0;

    &.affix,
    &.affix-bottom {
      position: fixed;
      z-index: 3;
      width: 750px;
      border-bottom: 1px solid #bbb;
      border-top: 0;
      background: white;
      opacity: 1;

      @media only screen and (max-width: $screen-lg-min) {
        width: 616px;
      }
    }
    &.affix { top: 0; }
    &.affix-bottom { position: absolute; }

    a.smde-preview {
      float: right;
      margin-top: 3px;
      width: 30%;
      border-radius: 0;

      &:hover,
      &:focus,
      &:active {
        border: 0;
        outline: 0;
      }

      &:after {
        content: attr(title);
        float: right;
      }
    }
  }
}

.document-pages-toolbar {
  margin-bottom: $form-group-margin-bottom;
  overflow: hidden;

  .pagination {
    margin: 0;
  }
}
