.nav {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

.nav li .divider {
  margin: 0 $nav-link-padding;
  border-right: 1px solid lighten($gray-light, 20%);
  line-height: 3em;
}

.title-underline-thick {
  padding-bottom: calc( #{$line-height-computed} - 5px );
  border-bottom: 10px solid $gray-darker;
  margin-bottom: calc( #{$line-height-computed} - 5px );

}

.title-underline-medium {
  padding-bottom: calc( #{0.5 * $line-height-computed} - 3px );
  border-bottom: 6px solid $gray-darker;
  margin-bottom: calc( #{0.5 * $line-height-computed} - 3px );

}

.title-underline-thin {
  padding-bottom: 0.5 * $line-height-computed;
  border-bottom: 1px solid $gray-darker;
  margin-bottom: calc( #{0.5 * $line-height-computed} - 1px);

}

.small-caps {
  font-size: 90%;
  line-height: $line-height-computed;
  text-transform: uppercase;
}

.small {
  font-size: 75%;
}

.inline {
  display: inline;
}

.btn-simple {
  color: lighten($gray-light, 20%);
  background: transparent;

  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    box-shadow: none;
    color: $link-color;
  }
}

.alt-link {
  color: white;
  text-decoration: underline;
  text-decoration-color: $ogf-yellow;

  &:hover,
  &:focus,
  &:active {
    color: $ogf-yellow;
  }
}

footer.nav {
  padding-bottom: 30px;
}

// Overlay shadows
%simple-shadow {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.9);
}

#content {
  &.dark {
    background-color: $ogf-dark-blue;
  }

  &:not(.dark) {
    border-top: 2px solid #E5E5E5;
    box-shadow: 0 -2px #C4C8CD;
  }

  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
}

#main-nav {
  margin-bottom: 0;
  padding: 18px;

  .navbar-brand {
    font-family: $font-family-serif;
    color: $ogf-dark-blue;
    font-weight: bold;
    font-size: 1.9em;
  }

  .navbar-form .input-group .btn,
  .navbar-form .input-group .form-control {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: none;
  }

  .navbar-form .input-group {
    background: $gray-lighter;
    padding: 5px;
    margin-top: -5px;
    font-family: $font-family-serif;
  }

  .dropdown a {
    &:link, &:visited, &:active, &:hover {
      & .caret { color: $ogf-red; }
    }
  }

  .navbar-toggle {
    border-color: #ddd;

    .icon-bar {
      background-color: #888;
    }
  }
}

@media only screen and (max-width: $screen-sm-min) {
  #main-nav .navbar-form {
    margin-left: 0;
    margin-right: 0;
  }
}

#main-footer {
  background-color: $ogf-dark-blue;
  padding-top: 40px;
  padding-bottom: 40px;

  footer ul {
    float: right;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 15px;
    }
  }
}
