@import "variables";

$laravel-white: #F2F4F6;
$laravel-gray: #74787E;
$laravel-gray-light: #9BA2AB;
$laravel-gray-light-2: #AEAEAE;
$laravel-gray-lighter: #EDEFF2;
$laravel-blue: #3869D4;

/* Base */
body, body *:not(html):not(style):not(br):not(tr):not(code) {
    font-family: Avenir, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $ogf-dark-blue;
    color: $text-color;
    height: 100%;
    line-height: 1.4;
    margin: 0;
    width: 100% !important;
    -webkit-text-size-adjust: none;
}

p,
ul,
ol,
blockquote {
    line-height: 1.4;
    text-align: left;
}

a {
    color: $link-color;
}

a img {
    border: none;
}

/* Typography */

h1 {
    color: $ogf-dark-blue;
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

h2 {
    color: $ogf-dark-blue;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

h3 {
    color: $ogf-dark-blue;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 0;
    text-align: left;
}

p.sub {
    font-size: 12px;
}

img {
    max-width: 100%;
}

/* Layout */

.wrapper {
    background-color: $ogf-dark-blue;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

/* Header */

.header {
    padding: 25px 0;
    text-align: center;
}

.header a {
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}

/* Body */

.body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.inner-body {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    width: 570px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 570px;
}

/* Subcopy */

.subcopy {
    border-top: 1px solid $laravel-gray-lighter;
    margin-top: 25px;
    padding-top: 25px;
}

.subcopy p {
    font-size: 12px;
}

/* Footer */

.footer {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 570px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 570px;
}

.footer p {
    color: $laravel-gray-light-2;
    font-size: 12px;
    text-align: center;
}

/* Tables */

.table table {
    margin: 30px auto;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.table th {
    border-bottom: 1px solid $laravel-gray-lighter;
    padding-bottom: 8px;
}

.table td {
    color: $laravel-gray;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
}

.content-cell {
    padding: 35px;
}

/* Buttons */

.action {
    margin: 30px auto;
    padding: 0;
    text-align: center;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.button {
    border-radius: $btn-border-radius-base;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    color: $btn-default-color;
    display: inline-block;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}

.button-blue {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-top: 10px solid $btn-primary-bg;
    border-right: 18px solid $btn-primary-bg;
    border-bottom: 10px solid $btn-primary-bg;
    border-left: 18px solid $btn-primary-bg;
}

.button-green {
    color: $btn-success-color;
    background-color: $btn-success-bg;
    border-top: 10px solid $btn-success-bg;
    border-right: 18px solid $btn-success-bg;
    border-bottom: 10px solid $btn-success-bg;
    border-left: 18px solid $btn-success-bg;
}

.button-red {
    color: $btn-danger-color;
    background-color: $btn-danger-bg;
    border-top: 10px solid $btn-danger-bg;
    border-right: 18px solid $btn-danger-bg;
    border-bottom: 10px solid $btn-danger-bg;
    border-left: 18px solid $btn-danger-bg;
}

/* Panels */

.panel {
    margin: 0 0 21px;
}

.panel-content {
    background-color: $laravel-gray-lighter;
    padding: 16px;
}

.panel-item {
    padding: 0;
}

.panel-item p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Promotions */

.promotion {
    background-color: #FFFFFF;
    border: 2px dashed $laravel-gray-light;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 24px;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.promotion h1 {
    text-align: center;
}

.promotion p {
    font-size: 15px;
    text-align: center;
}
