$ogf-blue: #1C64AC;
$ogf-light-blue: #3C74AC;
$ogf-dark-blue: #1C3650;
$ogf-blue-white: #F3F7FB;
$ogf-red: #A92B2B;
$ogf-yellow: #CAD654;

$brand-primary: $ogf-blue;

$font-size-base: 16px;
$font-family-sans-serif: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: 'Droid Sans', Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;
