.user-status {
    .btn:not(.active) {
        background-color: $light-grey;
    }
}

.filter-form {
    margin-bottom: $line-height-computed;
}

.verify-list {
    &>tbody>tr>td {
        vertical-align: middle;
    }
}
