.admin-document-list {
    @extend .row;

    .doc-search {
        @extend .col-md-12;
    }

    .doc-filter {
        @extend .col-md-6;
    }

    .doc-date-sort {
        @extend .col-md-6;
    }

    .document-list {
        margin-top:6rem;
    }
}

.admin-add-document {
    margin-top:3rem;
}

.create-document-button {
    @extend .button;
    @extend .go-button;
    @extend .action-button;
}

.featured-document-list {
    @extend .table;
    @extend .table-striped;
    width: auto;

    td.order-column,
    td.delete-column {
        text-align: center;
    }

    td.order-column span {
        font-size: 1.25rem;
        padding: 0 4px;
    }

    tr:first-child {
        .move-up-button {
            color: $light-grey;
        }
    }

    tr:last-child {
        .move-down-button {
            color: $light-grey;
        }
    }
}
