/*
 * !!! Note: To edit the stylesheet, please edit the scss files, not the finished CSS !!!
 */
@charset "UTF-8";

/*
 * Mixins
 */
@import 'mixins/em';

/*
 * Config
 */
// Config must come first.
@import 'config/settings';

// Get our bootstrap overrides.
@import 'config/bootstrap-settings';

/**
 * Import custom variable overrides
 *
 * This will only override variables that have a !default flag
 */
@import 'custom';

/*
 * Libraries
 */
@import 'font-awesome';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/box-shadow';
@import 'compass/utilities/general/clearfix';
@import 'breakpoint';
@import 'mixins/bootstrap-minimal';

/*
 * Page modules
 */
@import 'modules/global';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/popup';
@import 'modules/forms';
@import 'modules/imageUpload';
@import 'modules/login';
@import 'modules/breadcrumb';
@import 'modules/dropdown-sub';
@import 'modules/prompts';
@import 'modules/annotation';
@import 'modules/annotator';
@import 'modules/modals';
@import 'modules/wmd-editor';

/*
 * Page-specific styles
 */
@import 'pages/home';
@import 'pages/document';
@import 'pages/login';
@import 'pages/admin-document-list';
@import 'pages/admin-verify';
@import 'pages/my-documents';
@import 'pages/edit-document';
@import 'pages/edit-page';
@import 'pages/site-settings';
