<div class="modal-header">
  <h3 translate="content.admin.pages.list.createpage"></h3>
</div>
<div class="modal-body">
  <input class="form-control" ng-model="newPage.title" type="text"
    placeholder="{{ 'form.page.title' | translate }}">
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="modalOptions.close()"
    translate="form.general.cancel"></button>
  <button class="btn btn-primary" data-ng-click="createPage();"
    translate="form.general.create"></button>
</div>
