<section class="document-toc">
  <div class="inner">
    <header class="toc-header" ng-click="toggleToc()">
      <h3 class="normal-title"><span>Table of Contents</span></h3>
    </header>
    <header class="toc-title">
      <span class="toc-title-string">Table of Contents</span>
      <a class="toc-close" ng-click="toggleToc()">Hide This</a>
    </header>
    <nav class="toc-content" id="toc">
      <div id="toc-container">
        <ul>
          <li ng-repeat="heading in headings" class="toc-{{ heading.tag | lowercase }}">
            <a href="#{{ heading.link }}">{{ heading.title }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
