<a class="dropdown-trigger" href="#" data-toggle="dropdown">Welcome {{ user.fname }} <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
  <li class="link-settings"><a href="/documents" target="_self">My Documents</a>
  <li class="link-settings"><a href="/user/edit/{{ user.id }}" target="_self">Account Settings</a></li>
  <li><a href="/user/edit/{{ user.id }}/notifications' }}">Notification Settings</a></li>
  <li class="link-settings"><a href="/groups" target="_self">Group Management</a></li>
  <li><a href="/administrative-dashboard" target="_self">Administrative Dashboard</a></li>
  <li class="dropdown-submenu">
    <a class="dropdown-trigger" href="#" data-toggle="dropdown">Use Madison As</a>
    <ul class="dropdown-menu" role="menu">
      <li class="link-settings"><a href="/groups/active/0" target="_self">{{ user.fname }} {{ user.lname }}</a></li>
    </ul>
  </li>
  <li class="link-logout"><a ng-click="logout()">Logout</a></li>
</ul>