<div class="activity-actions">
  <a class="thumbs-up" ng-click="addAction(obj, 'likes', $event)"
    title="{{ 'document.action.like' | translate }}"
    aria-label="{{ 'document.action.like' | translate }}" role="button"
    >{{ obj.likes || '0' }}</a>
  <a class="flag" ng-click="addAction(obj, 'flags', $event)"
    title="{{ 'document.action.flag' | translate }}"
    aria-label="{{ 'document.action.flag' | translate }}" role="button"
    >{{ obj.flags || '0' }}</a>
  <a class="link" href="{{ permalink }}"
    aria-label="{{ 'document.action.permalink' | translate }}" role="button"
    title="{{ 'document.action.permalink' | translate }}">&nbsp;</a>
</div>
