<div id="participate-comment" class="row participate-comment" ng-if="user.id">
  <div class="comment-field" ng-if="user.id">
    <form name="add-comment-form" ng-submit="commentSubmit()">
        <input ng-model="comment.text" id="doc-comment-field" type="text" class="form-control centered" placeholder="Add a comment" required />
    </form>    
  </div>
  <p ng-if="!user.id">Please <a href="/user/login">login</a> to comment.</p>
</div>
<div id="participate-activity" class="row participate-activity">
  <h3>Comments</h3>
  <div class="activity-thread col-md-12">
      <div id="@{{ 'comment_' + comment.id }}" class="row activity-item" ng-repeat="comment in comments | orderBy:activityOrder:true track by $id(comment)" ng-class="comment.label">
          <div comment-item activity-item-link="{{ comment.link }}"></div>
      </div>
  </div>
</div>

