<div class="comment-field" ng-show="user">
    <form name="add-comment-form" ng-submit="commentSubmit(comment)">
        <textarea ng-model="comment.text" id="doc-comment-field" type="text" class="form-control centered" required></textarea>
        <button class="btn btn-primary">Add Comment</button>
    </form>
</div>
<div class="comment-field" ng-hide="user">
    <a href="/user/login" ng-click="loginPopupService.showLoginForm($event)">Login to comment</a>
</div>
<div class="comment-thread" ng-show="comments.length">
    <article ng-repeat="comment in comments" class="comment">
        <header class="comment-header">
            <span class="author">{{ comment.user.display_name }}</span>
            <time pubdate class="date" datetime="{{ comment.created_at }}">{{ comment.created_at | timeAgo }}</time>
        </header>
        <section class="content">
            {{ comment.text }}
        </section>
    </article>
</div>
<div class="comment-field" ng-show="user && comments.length > 10">
    <form name="add-comment-form" ng-submit="commentSubmit(comment)">
        <textarea ng-model="comment.text" id="doc-comment-field" type="text" class="form-control centered" required></textarea>
        <button class="btn btn-primary">Add Comment</button>
    </form>
</div>
<div class="comment-field" ng-show="!user && comments.length > 10">
    <a href="/user/login" ng-click="loginPopupService.showLoginForm($event)">Login to comment</a>
</div>

<div class="comment-thread" ng-hide="comments.length">
    <p>No comments yet.</p>
</div>
