<div class="home-feature">
    <article class="main-feature hentry doc doc-full" ng-class="{'has-image' : featured.thumbnail}"
        style="background-image: url({{ featured.thumbnail }})">

        <header class="doc-info">
            <h2 class="heading entry-title">
                <a href="{{ featured.url }}" rel="bookmark" title="Read more on {{featured.title}}">{{ featured.title }}</a>
            </h2>

            <div class="doc-sponsor" ng-if="featured.sponsor">
                Sponsored by
                <ul>
                  <li ng-repeat="sponsor in featured.sponsor" class="author">
                    {{ sponsor.display_name }}
                  </li>
                </ul>
            </div>

            <div class="doc-stats">
                <ul>
                    <li class="BETA">12 Comments</li>
                    <li class="BETA">7 Collaborators</li>
                    <li>
                        <span ng-hide="featured.updated_at" class="date">
                          Posted <time class="published doc-created-date" datetime="{{ featured.created_at }}"
                          >{{ featured.created_at | date:'mediumDate' }}</time>
                        </span>
                        <span ng-show="featured.updated_at" class="date">
                          Updated <time class="updated doc-updated-date" datetime="{{ featured.updated_at }}"
                          >{{ featured.updated_at | date:'mediumDate' }}</time>
                        </span>
                    </li>
                    <!-- OR -->
                    <!--li>Updated <time class="updated" datetime="2015-03-15">15 Mar 2015</time></li-->
                </ul>
            </div>
        </header>

        <div class="doc-content">
            <div class="doc-summary entry-summary">
                {{ featured.introtext }}
            </div>
            <a class="read-button" href="#" rel="bookmark" role="button" title="Read more on {{doc.title}}">Read More</a>
        </div>
    </article>

    <section class="previous-features">
        <span class="message">
            See previously featured legislation in the archive
        </span>

        <div class="recent-activity">
            <h2>Recent Activity</h2>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>
        </div>

        <div class="most-active">
            <h2>Most Active Documents</h2>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>
        </div>
    </section>

</div>
