<div class="home-feature BETA">
    <article class="main-feature hentry">
        <img src="http://placekitten.com/625/345" height="345" alt="" class="feature-image">

        <header class="doc-info">
            <h2 class="heading entry-title">
                <a href="#" rel="bookmark" title="Read more on {{doc.title}}">FEATURED BILL GOES HERE</a>
            </h2>

            <div class="doc-sponsor">
                Sponsored by
                <ul>
                    <li class="author">OpenGov Foundation</li>
                </ul>
            </div>

            <div class="doc-stats">
                <ul>
                    <li>12 Comments</li>
                    <li>7 Collaborators</li>
                    <li>Posted <time class="published" datetime="2015-03-12">12 Mar 2015</time></li>
                    <!-- OR -->
                    <!--li>Updated <time class="updated" datetime="2015-03-15">15 Mar 2015</time></li-->
                </ul>
            </div>
        </header>

        <div class="doc-content">
            <div class="doc-summary entry-summary">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus nisi urna, ut vulputate nunc imperdiet vitae. Maecenas viverra ut risus et rhoncus. Vivamus sodales, mi tincidunt blandit mollis, urna nulla sagittis arcu, sit amet condimentum velit nunc ac magna. Suspendisse potenti. Nulla ornare ultricies neque et cursus. Etiam vel molestie erat. Donec vitae pellentesque massa. Curabitur ultricies, tellus id feugiat maximus, urna nunc lacinia dui, et efficitur tortor quam a nunc. Integer suscipit sed risus et consequat. Donec sit amet sodales erat. Curabitur fermentum et ipsum sed aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
                <p>
                    Nullam blandit dui ac sodales molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean placerat, nisl sit amet tempor tristique, ex tellus bibendum magna, a tempus felis odio ac ligula. Praesent viverra sapien ut velit pharetra, eu rhoncus risus vestibulum. Integer vehicula, nisi vel aliquam aliquam, lacus velit vulputate orci, sed tempus lacus elit id felis. Sed eget porta ante. Praesent malesuada nunc vitae elit tempus, nec convallis neque condimentum. Nulla ac dapibus felis. Sed sed elit eleifend, scelerisque ipsum a, ullamcorper nulla. Sed felis ligula, euismod et neque blandit, venenatis egestas eros. Sed odio nibh, fermentum a scelerisque id, blandit at risus. Aliquam ac ex ipsum. Phasellus blandit dolor vel metus mattis pretium. Sed dictum venenatis est quis suscipit.
                </p>
            </div>
            <a class="read-button" href="#" rel="bookmark" role="button" title="Read more on {{doc.title}}">Read More</a>
        </div>
    </article>

    <section class="previous-features">
        <span class="message">
            See previously featured legislation in the archive
        </span>

        <div class="recent-activity">
            <h2>Recent Activity</h2>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>
        </div>

        <div class="most-active">
            <h2>Most Active Documents</h2>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>

            <article>
                <a href="#" rel="bookmark"><span class="author">Paul Paulson</span> annotated
                <span class="title">"Sidewalk Safety Amendment Act of 2012"</span></a>
                <time class="updated" datetime="2015-03-15">27 minutes ago</time>
            </article>
        </div>
    </section>

</div>
