<nav class="nav nav-footer">
	<div class="brand" translate="{{ 'site.name.full' }}"></div>
    <a href="/intro" translate="{{ 'footer.tagline' }}"></a>

    <div class="pull-right">
        <a href="https://github.com/opengovfoundation/site-policy/blob/master/markdown/copyright.md"
            title="Copyright Policy">Copyright Policy</a>
        <a href="https://github.com/opengovfoundation/site-policy/blob/master/markdown/privacy-policy.md"
            title="Privacy Policy">Privacy Policy</a>
        <a href="https://github.com/opengovfoundation/site-policy/blob/master/markdown/terms.md"
            title="Terms of Service">Terms of Service</a>
    </div>
</nav>
