<nav class="nav nav-footer">
	<div class="brand" translate="{{ 'site.name.full' }}"></div>
    <a class="footer-tagline"
        href="/about" translate="{{ 'footer.tagline' }}"></a>

    <ul class="footer-links">
        <li><a href="https://github.com/opengovfoundation/site-policy/blob/master/markdown/copyright.md"
            title="Copyright Policy">Copyright Policy</a></li>
        <li><a href="https://github.com/opengovfoundation/site-policy/blob/master/markdown/privacy-policy.md"
            title="Privacy Policy">Privacy Policy</a></li>
        <li><a href="https://github.com/opengovfoundation/site-policy/blob/master/markdown/terms.md"
            title="Terms of Service">Terms of Service</a></li>
    </ul>
    <div class="powered-by" translate="{{ 'footer.poweredby' }}"></div>
</nav>
