<div class="container">
  <div class="row">
  <div class="navbar-header ">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only" translate="{{ 'menu.nav.toggle' }}"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand logo-madison navbar-brand link-home" href="/" title="{{ 'site.name' | translate }}">
      <span class="level"></span><span translate="{{ 'site.name.full' }}"></span>
    </a>
  </div>
  <div class="nav nav-main navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/" translate="{{ 'menu.nav.home' }}"></a>
      </li>
      <li class="link-about">
        <a href="/about" translate="{{ 'menu.nav.about' }}"></a>
      </li>
      <li class="link-faq">
        <a href="/faq" translate="{{ 'menu.nav.faq' }}"></a>
      </li>
      <li class="link-support">
        <a href="https://rally.org/opengovfoundation" target="_blank"
        translate="{{ 'menu.nav.donate' }}"></a>
      </li>
      <li class="link-subscribe">
        <a href="http://opengovfoundation.us6.list-manage.com/subscribe?u=9d450bf68b3df1185fc9f62b2&id=40a5a16e19"
         target="_blank" translate="{{ 'menu.nav.subscribe' }}"></a>
      </li>
      <li account-dropdown class="dropdown" ng-if="user"></li>
      <li class="link-login" ng-if="!user">
        <a href="/user/login" translate="{{ 'menu.nav.login' }}"></a>
      </li>
      <li class="link-signup" ng-if="!user">
        <a href="/user/signup" translate="{{ 'menu.nav.signup' }}"></a>
      </li>
    </ul>
  </div><!--/.navbar-collapse -->
  </div>
</div>
