<div ng-switch on="state">
  <span class="fa fa-times popup-close" ng-click="closePopup()"></span>
  <form ng-submit="signup(credentials.fname, credentials.lname, credentials.email, credentials.password)" ng-switch-when="signup">
    <div class="errors"></div>
    <!-- First Name -->
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" ng-model="credentials.fname" class="form-control" placeholder="First Name">
    </div>
    <!-- Last Name -->
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" ng-model="credentials.lname" class="form-control" placeholder="Last Name">
    </div>
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" ng-model="credentials.email" class="form-control" placeholder="Email">
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" ng-model="credentials.password" class="form-control" placeholder="Password">
    </div>
    <button class="btn btn-default">Signup</button>
  </form>
  <form ng-submit="login(credentials.email, credentials.password, credentials.remember)" ng-switch-when="login">
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email" class="form-control" ng-model="credentials.email">
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" class="form-control" ng-model="credentials.password">
    </div>
    <!-- Remember checkbox -->
    <div class="checkbox">
      <label for="remember">Remember me</label>
      <input type="checkbox" name="remember" ng-model="credentials.remember">
    </div>
    <!-- Submit -->
    <button class="btn btn-default">Login</button>
    <br>
    <small><a class="forgot-password" href="/password/reset">Forgot your password?</a></small>
    <br>
    <small><a class="forgot-password" href="/verification/resend">Resend confirmation email</a></small>
  </form>
  <form ng-switch-default>
    <p>Please log in.</p>
    <button class="btn btn-primary" ng-click="switchState('login')">Log In</button>
    <button class="btn btn-primary" ng-click="switchState('signup')">Sign Up</button>
  </form>
</div>
