<div class="modal-back">
  <div class="popup">
    <div ng-switch on="state">
      <span class="popup-close" ng-click="closePopup()"></span>
      <form ng-submit="signup(credentials.fname, credentials.lname,
        credentials.email, credentials.password)" ng-switch-when="signup">
        <div class="errors"></div>

        <div class="form-group">
          <label for="fname" translate="form.signup.firstname"></label>
          <input type="text" ng-model="credentials.fname" class="form-control"
            placeholder="{{ 'form.signup.firstname' | translate }}">
        </div>

        <div class="form-group">
          <label for="lname" translate="form.signup.lastname"></label>
          <input type="text" ng-model="credentials.lname" class="form-control"
            placeholder="{{ 'form.signup.firstname' | translate }}">
        </div>

        <div class="form-group">
          <label for="email" translate="form.signup.email"></label>
          <input type="text" ng-model="credentials.email" class="form-control"
            placeholder="{{ 'form.signup.email' | translate }}">
        </div>

        <div class="form-group">
          <label for="password" translate="form.signup.password"></label>
          <input type="password" ng-model="credentials.password" class="form-control"
            placeholder="{{ 'form.signup.password' | translate }}">
        </div>

        <button class="btn btn-default" translate="form.signup.submit"></button>
      </form>

      <form ng-submit="login(credentials.email, credentials.password,
        credentials.remember)" ng-switch-when="login">

        <div class="form-group">
          <label for="email" translate="form.login.email"></label>
          <input type="text" name="email" class="form-control"
            placeholder="{{ 'form.login.email' | translate }}"
            ng-model="credentials.email">
        </div>

        <div class="form-group">
          <label for="password" translate="form.login.password"></label>
          <input type="password" name="password" class="form-control"
            placeholder="{{ 'form.login.password' | translate }}"
            ng-model="credentials.password">
        </div>

        <div class="checkbox">
          <label for="remember" translate="form.login.rememberme"></label>
          <input type="checkbox" name="remember" ng-model="credentials.remember">
        </div>

        <button class="btn btn-default" translate="form.login.submit"></button>
        <br>
        <small><a class="forgot-password" href="/password/reset"
          translate="form.login.forgotpassword"></a></small>
        <br>
        <small><a class="forgot-password" href="/verification/resend"
          translate="form.login.resendverification"></a></small>
      </form>
      <form ng-switch-default>
        <p translate="form.login.message"></p>
        <button class="btn btn-primary" ng-click="switchState('login')"
          translate="form.login.title"></button>
        <button class="btn btn-primary" ng-click="switchState('signup')"
          translate="form.signup.title"></button>
      </form>
    </div>
  </div>
</div>
