<section class="deleted-docs-list">
    <h2>{{ pageTitle }}</h2>
    <div class="document-list">
        <table>
            <thead>
                <tr>
                    <th translate="document.action.restore">Restore</th>
                    <th translate="form.document.title.label"></th>
                    <th translate="form.document.sponsor.label"></th>
                    <th translate="document.label.deletedon"></th>
                    <th translate="document.label.deletedby"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in docs | orderBy:dateSort:reverse">
                    <td>
                        <a href="#" ng-click="restoreDoc(doc)"
                            translate="document.action.restore"></a>
                    </td>
                    <td>{{ doc.title }}</td>
                    <!-- TODO: make sure this works for independent sponsors once #712 is fixed -->
                    <td>{{ doc.sponsor[0].display_name }}</td>
                    <td>{{ doc.deleted_at |  date:'shortDate' }}</td>
                    <td>{{ deletedByFromPublishState(doc.publish_state) }}</td>
                </tr>
            </tbody>
        </div>
</section>
