<div class="document-wrapper single-doc" ng-class="{'toc-open': tocOpen}">
  <header class="back-link">
    <a href="/" translate="document.label.backtobills"></a>
  </header>

  <article class="doc-main doc doc-full">
    <aside class="toc" doc-toc ng-class="{'hide': !tocShow}"></aside>

    <header class="doc-header">
      <div class="doc-info-container">
        <div class="doc-info">
          <h1 class="heading">{{ doc.title }}</h1>
          <div class="doc-sponsor" ng-repeat="sponsor in doc.sponsors">
            <strong translate="document.label.sponsors"></strong>
              <span>{{ sponsor.display_name }}</span>
          </div>
          <div class="doc-status" ng-repeat="status in doc.statuses">
            <strong translate="document.label.status"></strong>
            <span>{{ status.label }}</span>
          </div>
          <div class="doc-date" ng-repeat="date in doc.dates">
            <strong>{{ date.label }}: </strong>
            <span>{{ date.date | parseDate | date:'shortDate' }}</span>
          </div>
          <div class="doc-intro" ng-if="introtext">
            <p>
              <strong translate="document.label.introduction"></strong>
            </p>
            <div class="markdown" data-ng-bind-html="introtext"></div>
          </div>
          <div class="support-oppose-buttons">
            <a id="doc-support" role="button" href="#"
              class="button doc-support-button" ng-click="support(true, $event)"
              ng-class="{'btn-success': supported}"
              ><span ng-if="voted" translate="document.label.supported"
              translate-values="{count: doc.support}"></span
              ><span ng-if="!voted" translate="document.label.support"></span></a>
            <a id="doc-oppose" role="button" href="#"
              class="button doc-oppose-button" ng-click="support(false, $event)"
              ng-class="{'btn-danger': opposed}"
              ><span ng-if="voted" translate="document.label.opposed"
              translate-values="{count: doc.oppose}"></span
              ><span ng-if="!voted" translate="document.label.oppose"></span></a>
          </div>
        </div>
      </div>
      <aside class="stats doc-secondary-content"
        ng-include="'/templates/partials/doc-stats.html'"></aside>
    </header>
    <section class="doc-content">
      <div class="mobile-annotation-message"
        translate="info.message.mobilebrowser.annotate"></div>
      <ul class="nav nav-tabs" role="tablist" ng-hide="doc.discussion_state === 'hidden'">
        <li ng-class="{'active':secondtab == false}"
          ng-click="changeTab('content')">
          <a href="#tab-activity" target="_self" role="tab" data-toggle="tab"
            translate="document.tabs.text"></a></li>
        <li ng-class="{'active':secondtab == true}"
          ng-click="changeTab('comment')">
          <a href="#tab-discussion" target="_self" role="tab" data-toggle="tab"
            translate="document.tabs.discussion"
            translate-values="{ count: doc.comment_count }"></a></li>
      </ul>
      <div class="tab-content doc-tabs">
        <section id="tab-activity" ng-class="{'active':secondtab == false}"
          class="tab-pane">

          <nav class="page-navigation" ng-if="doc.pages > 1">
            <span class="current-page" translate="document.pagination.current"
              translate-values="{ currentPage: currentPage, pages: doc.pages }"
              ></span>
            <span class="previous-page" role="button" ng-if="currentPage > 1"
              translate="document.pagination.previous"></span>
            <span class="next-page" role="button" ng-if="currentPage < doc.pages"
              translate="document.pagination.next"></span>
          </nav>

          <div id="content" class="content">
            <h2 class="screen-hidden" translate="document.label.text"></h2>
            <article class="doc-article" id="doc_content" ng-bind-html="doc.html"
              ng-mouseup=""></article>
            <span ng-if="loading" translate="info.loading"></span>
          </div>
        </section>
        <aside id="tab-discussion" ng-class="{'active': secondtab == true}"
          class="tab-pane">
          <div class="comments-pane content">
            <h2 class="screen-hidden" translate="document.label.comments"></h2>
            <div ng-controller="CommentController" class="participate"
              ng-include="'/templates/partials/doc-comments.html'"></div>
          </div>
        </aside>
      </div>
    </section>
    <aside class="annotation-container doc-secondary-content" ng-show="doc.discussion_state !== 'hidden'">
      <div ng-hide="activeTab != 'content'">
        <section ng-controller="AnnotationController"
          class="participate annotation-content"
          ng-include="'/templates/partials/doc-annotations.html'"></section>
      </div>
    </aside>
  </article>

</div>
