<div admin-breadcrumbs></div>

<div class="save-status">
  <span class="icon"></span>
  <span ng-if="saveStatus == 'saved'" class="saved" translate="success.general.save"></span>
  <span ng-if="saveStatus == 'saving'" class="saving" translate="form.general.saving"></span>
  <span ng-if="saveStatus == 'unsaved'" class="unsaved" translate="form.general.unsaved"></span>
</div>

<header>
  <h1 translate="content.editdocument.header"></h1>
</header>

<a href="/docs/{{ doc.slug }}" class="public-link" target="_self"
  translate="form.document.publicview"></a>
<section class="document-edit-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#tab-content" target="_self" role="tab" data-toggle="tab"
        translate="content.editdocument.tab.content"
        aria-controls="{{ 'content.editdocument.tab.content' | translate }}"
        data-toggle="tab"></a></li>
    <li >
      <a href="#tab-info" target="_self" role="tab" data-toggle="tab"
        translate="content.editdocument.tab.settings"
        aria-controls="{{ 'content.editdocument.tab.settings' | translate }}"
        data-toggle="tab"></a></li>
    <li >
      <a href="#tab-comments" target="_self" role="tab" data-toggle="tab"
        translate="content.editdocument.tab.comments"
        aria-controls="{{ 'content.editdocument.tab.comments' | translate }}"
        data-toggle="tab"></a></li>
    <li >
      <a href="#tab-stats" target="_self" role="tab" data-toggle="tab"
        translate="content.editdocument.tab.statistics"
        aria-controls="{{ 'content.editdocument.tab.statistics' | translate }}"
        data-toggle="tab"></a></li>
  </ul>
  <div class="tab-content doc-tabs">

    <!-- Start document content tab -->
    <section id="tab-content" class="tab-pane document-edit-tab active">

      <nav class="pagination">
        <span translate="document.pagination.page"></span>
        <ol>
          <li ng-repeat="i in range(1, doc.pages)" role="button"
            aria-label="'document.pagination.goto' | translate:'{page: i}'"
            ng-class="{active: i == currentPage}"
            ng-click="loadPage(i)">{{i}}</li>
        </ol>
        <span class="add-button" role="button" ng-click="addPage()"
          aria-label="'document.pagination.add' | translate"></span>
      </nav>

      <small translate="content.editdocument.savemessage"></small>
      <div class="content-editor">

        <div id="wmd-button-bar"></div>
        <div class="character-count"
          ng-class="{'has-error': docContent.length > contentMax, 'has-warning': docContent.length >= contentWarning}">
          <span class="help-block"
            translate="form.document.content.charactercount"
            translate-values="{count: docContent.length, max: contentMax}"
            >
          </span>
          <span class="warning-icon" ng-if="docContent.length >= contentWarning"
            title="{{'errors.document.content.lengthwarning' | translate}}"></span>
          <span class="error-icon" ng-if="docContent.length >= contentMax"
            title="{{'errors.document.content.lengtherror' | translate}}"></span>
        </div>
        <textarea class="wmd-input" id="wmd-input" name="content"
          ng-model="docContent"></textarea>
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
      </div>
      <div class="content-helpers">
        <p><small translate="content.editdocument.wordmessage"></small></p>
        <p><small translate="content.editdocument.markdownmessage"
          ></a></small></p>
        <button class="save-document-button" ng-click="saveContent()"
          translate="form.general.savenow"></button>
        <button class="delete-page-button" ng-click="deletePage()"
          translate="document.pagination.delete"></button>
      </div>
    </section>
    <!-- End document content tab -->

    <!-- Start document information tab -->
    <section id="tab-info" class="tab-pane">
      <form class="document-information">
        <div class="form-group">
          <label for="title" translate="form.document.title.label"></label>
          <input type="text" name="title" id="title" value="{{ doc.title }}"
            ng-model="doc.title" class="form-control"
            placeholder="{{ 'form.document.title.placeholder' | translate }}"/>
        </div>
        <div class="form-group" ng-if="user.admin">
          <button class="button" ng-class="action-button"
            ng-click="tryFeaturedDoc()" ng-if="!doc.featured"
            translate="form.document.featured.set">
          </button>
          <span ng-if="doc.featured"
            translate="form.document.featured.already"></span>
          <button class="button" ng-class="reject-button"
            ng-click="removeFeaturedDoc()" ng-if="doc.featured"
            translate="form.general.remove">
          </button>
        </div>
        <div class="form-group">
          <label for="slug" translate="form.document.slug.label"></label>
          <input type="text" name="slug" id="slug" value="{{ doc.slug }}"
            ng-model="doc.slug" class="form-control"
            placeholder="{{ 'form.document.slug.placeholder' | translate }}" />
          <small class="help-block" translate="form.document.slug.instructions"
            ></small>
        </div>
        <div class="form-group">
          <label for="status" translate="form.document.status.label"></label>
          <input name="status" type="hidden" ui-select2="statusOptions"
            ng-model="status" ng-change="statusChange(status)"
            data-placeholder="">
        </div>
        <div class="form-group">
          <label for="publish_state" translate="form.document.publishstate.label"></label>
          <select name="publish_state" ng-model="doc.publish_state">
              <option ng-repeat="state in publishStates" value="{{ state }}">
                  {{ state }}
              </option>
          </select>
          <small class="help-block" translate="form.document.publishstate.help"></small>
        </div>
        <div class="form-group">
          <label for="discussion_state" translate="form.document.discussionstate.label"></label>
          <select name="discussion_state" ng-model="doc.discussion_state">
              <option ng-repeat="state in discussionStates" value="{{ state }}">
                  {{ state }}
              </option>
          </select>
          <small class="help-block" translate="form.document.discussionstate.help"></small>
        </div>
        <div class="form-group">
          <label for="sponsor" translate="form.document.sponsor.label"></label>
          <select ng-model="doc.sponsors[0]" id="sponsor"
            ng-options="sponsorOpt as sponsorOpt.display_name for sponsorOpt in availableSponsors track by sponsorOpt.id">
          </select>
        </div>
        <div class="form-group">
          <label for="categories" translate="form.document.category.label"></label>
          <ui-select multiple tagging="categoryTransform" ng-model="doc.categories" theme="bootstrap">
            <ui-select-match placeholder="Select categories">
              {{ $item.name }}
            </ui-select-match>
            <ui-select-choices repeat="category in availableCategories | filter: { 'name' : $select.search }">
              <span ng-bind-html="category.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group">
          <label for="introtext" translate="form.document.introtext.label"></label>
          <textarea class="form-control" rows="10" ng-model="doc.introtext"></textarea>
          <span class="help-block" translate="form.document.introtext.help"></span>
        </div>
        <div class="form-group image-upload-group">
          <label for="doc-image" translate="form.document.image.label"></label>
          <div class="image-upload" ng-file-select ng-file-drop
            ng-accept="'image/*'" ng-file-change="uploadImage($files)"
            translate="form.document.image.help" role="button"></div>
          <div class="progress" ng-if="uploadProgress" class="fade">
            <progressbar class="progress-striped active" max="100"
            value="uploadProgress" type="{{ uploadType }}"
              ><span>{{ uploadProgress }}%</span></progressbar>
          </div>
          <article class="image-preview" ng-if="!!featuredImage.path">
            <h1 translate="form.document.image.preview"></h1>
            <a class="image-delete" ng-click="deleteFeaturedImage()"
              translate="form.document.image.remove" role="button"></a>
            <img ng-src="{{ featuredImage.path }}" class="img-responsive"
              alt="{{ 'form.document.image.title' | translate }}">
          </article>
        </div>
        <div class="form-group delete-document">
            <button class="delete-document-button" ng-click="deleteDocument()"
              translate="form.document.delete"></button>
            <button ng-if="user.admin" class="delete-document-button"
              ng-click="deleteDocument(true)" translate="form.document.delete.admin"></button>
        </div>
      </form>
      <div class="document-dates">
        <label>Event Dates</label>
        <div class="dates-header" ng-if="dates.lengh > 0">
          <strong translate="form.document.date.existing"></strong>
        </div>
        <div class="existing-date form-group" ng-repeat="date in dates">
          <form class="form-horizontal">
            <div class="">
              <div class="date-label-container">
                <input class="date-label form-control" ng-model="date.label" />
              </div>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                {{ date.date | date:'short' }}
              </a>
              <ul class="dropdown-menu">
                <datetimepicker ng-model="date.date"
                  datetimepicker-config="{dropdownSelector: '.dropdown-toggle' }"
                ></datetimepicker>
              </ul>
            </div>
            <div class="btn btn-info" ng-show="date.$changed" role="button"
              ng-click="saveDate(date)" translate="form.general.update"
              aria-label="{{ 'form.general.update' | translate }}"></div>
            <label class="control-label close-label"><a class="close"
              ng-click="deleteDate(date)" role="button"
              title="{{ 'form.document.date.remove' | translate }}"
              aria-label="{{ 'form.document.date.remove' | translate }}"
              >&times;</a></label>
          </form>
        </div>
        <form class="form-group dates">
          <label>Add new date</label>
          <div class="new-date">
            <input name="newdate-label" class="form-control"
              ng-model="newdate.label" type="text"
              placeholder="{{ 'form.document.datelabel.placeholder' | translate }}" />
            <datetimepicker ng-model="newdate.date" on-set-time="createDate"
              ></datetimepicker>
          </div>
        </form>
      </div>
    </section>
    <!-- End document information tab -->

    <!-- Start comments tab -->
    <section id="tab-comments" class="tab-pane">
      <ul>
        <li><a class="download download-csv" target="_blank"
          href="/api/docs/{{ doc.id }}/comments?all=true&download=csv"
          translate="document.comments.downloadall.csv"></a></li>
        <li><a class="download download-csv" target="_blank"
          href="/api/docs/{{ doc.id }}/comments?all=true&exclude_sponsors=true&download=csv"
          translate="document.comments.downloadnosponsors.csv"></a></li>
      </ul>
    </section>
    <!-- End comments tab -->

    <!-- Start document statistics tab -->
    <section id="tab-stats" class="tab-pane">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th translate="document.stats.today"></th>
            <th translate="document.stats.thisweek"></th>
            <th translate="document.stats.thismonth"></th>
            <th translate="document.stats.alltime"></th>
          <tr>
        </thead>
        <tbody>
          <tr>
            <td translate="document.stats.comments"></td>
            <td>{{ stats.comments.day }}</td>
            <td>{{ stats.comments.week }}</td>
            <td>{{ stats.comments.month }}</td>
            <td>{{ stats.comments.total }}</td>
          </tr>
          <tr>
            <td translate="document.stats.notes"></td>
            <td>{{ stats.notes.day }}</td>
            <td>{{ stats.notes.week }}</td>
            <td>{{ stats.notes.month }}</td>
            <td>{{ stats.notes.total }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- End document statistics tab -->
  </div>
</section>
