<div class="row">
  <h1 translate="content.addmember.header"
    translate-values="{group: group.name}"></h1>
  <p translate="content.addmember.instructions"></p>
</div>
<div class="row">
  <form ng-submit="inviteMember()">
    <div class="form-group">
      <label for="email" translate="form.addmember.email.label"></label>
      <input type="text" class="form-control" name="email" id="email"
        ng-model="email" />
    </div>
    <div class="form-group">
      <label for="role" translate="form.addmember.role.label"></label>
      <select class="form-control" ng-model="role"
        ng-options="role for role in group.roles">
        <option value="" disabled translate="form.addmember.role.default"
          ></option>
      </select>
    </div>
    <button type="submit" class="btn btn-default" translate="form.group.submit"
      ></button>
  </form>
</div>
