  <div class="row">
    <h1 translate="content.groupmanagement.header"></h1>
  </div>
  <div class="row">
    <div class="content col-md-12">
      <p>
        <a href="/groups/edit" class="button action-button"
          translate="content.groupmanagement.creategroup"></a>
      </p>
      {{user.groups.length}}
      <p ng-if="groups.length == 0"
        translate="content.groupmanagement.nogroups"></p>
      <table class="table table-striped" id="groupsTable"
        ng-if="groups.length > 0">
        <thead>
          <th translate="content.groupmanagement.displayname"></th>
          <th translate="content.groupmanagement.name"></th>
          <th translate="content.groupmanagement.role"></th>
          <th translate="content.groupmanagement.status"></th>
        </thead>
        <tbody>
          <tr ng-repeat="group in groups">
            <td ng-if="!group.canEdit">
                <span ng-if="group.display_name">{{group.display_name}}</span>
                <span ng-if="!group.display_name"
                  translate="content.groupmanagement.displayname.default"></span>
            </td>
            <td ng-if="group.canEdit">
              <a href="/groups/edit/{{ group.id }}">{{ group.display_name }}</a>
            </td>
            <td>{{ group.name }}</td>
            <td>{{ group.role }}</td>
            <td>{{ group.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
