<header>
  <h1 translate="content.login.header"></h1>
</header>
<section class="login">
  <form ng-submit="login()">
    <!-- Email -->
    <div class="form-group">
      <label for="email" translate="form.login.email"></label>
      <input type="email" name="email" class="form-control"
        ng-model="credentials.email" required>
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password" translate="form.login.password"></label>
      <input type="password" name="password" class="form-control"
        ng-model="credentials.password" required>

      <!-- Remember checkbox -->
      <div class="checkbox remember-me">
        <label for="remember" translate="form.login.rememberme"></label>
        <input type="checkbox" name="remember" ng-model="credentials.remember">
      </div>
    </div>
    <!-- Submit -->
    <div class="form-group">
      <button class="login-button" translate="form.login.submit"></button>
      <a class="login-help" href="/password/reset"
        translate="form.login.forgotpassword"></a>
      <a class="login-help" href="/verification/resend"
        translate="form.login.resendverification"></a>
    </div>
  </form>
</section>
