<button ng-click="showCreatePageModal()"
  class="button button-primary pull-right"
  translate="content.admin.pages.list.createpage"></button>

<h1 translate="content.admin.pages.list.header"></h1>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th translate="content.admin.pages.list.nav_title"></th>
        <th translate="content.admin.pages.list.url"></th>
        <th translate="content.admin.pages.list.header_nav_link"></th>
        <th translate="content.admin.pages.list.footer_nav_link"></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="page in pages">
        <td>{{ page.nav_title }}</td>
        <td>{{ page.url }}</td>
        <td><span ng-if="page.header_nav_link">X</span></td>
        <td><span ng-if="page.footer_nav_link">X</span></td>
        <td>
          <a translate="form.general.edit"
            href="/administrative-dashboard/pages/{{ page.id }}"></a>
        </td>
        <td>
          <a translate="form.general.delete"
            href="#" ng-click="deletePage(page.id)"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
