<div class="row">
  <div class="md-col-12">
    <h1 translate="content.signup.header"></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form ng-submit="signup()">
      <!-- First Name -->
      <div class="form-group">
        <label for="fname" translate="form.signup.firstname"></label>
        <input type="text" name="fname" required
          ng-model="credentials.fname" class="form-control">
      </div>
      <!-- Last Name -->
      <div class="form-group">
        <label for="lname" translate="form.signup.lastname"></label>
        <input type="text" name="lname" required
          ng-model="credentials.lname" class="form-control">
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="email" translate="form.signup.email"></label>
        <input type="email" name="email" required
          ng-model="credentials.email" class="form-control">
      </div>
      <!-- Password -->
      <div class="form-group">
        <label for="password" translate="form.signup.password"></label>
        <input type="password" name="password" required
          ng-model="credentials.password" class="form-control">
      </div>
      <!-- Submit -->
      <button class="button action-button go-button"
        translate="form.signup.submit"></button>
    </form>
  </div>
</div>
