<div class="row user-info">
  <img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}"
    class="img-rounded img-responsive user-gravatar" alt="" />
  <h1 class="user-name">{{ user.fname }} {{ user.lname }}</h1>
  <span class="user-verified" ng-show="verified"
    translate="user.label.verified"></span>
  <span class="user-created-date" ng-if="user.created_at"
    translate="user.label.membersince"
    translate-values="{datetime: user.created_at}"></span>
</div>
<div class="row">
  <tabset>
    <tab heading="sponsored" ng-show="showVerified()">
      <ul class="user-sponsored-docs" ng-show="showVerified()">
        <li class="user-sponsored-doc" ng-repeat="doc in docs">
          <a href="/docs/{{ doc.slug }}">{{ doc.title }}</a>
          <div class="list-doc-info">
            <span class="doc-created-date"
              translate="document.label.created"
              translate-values="{datetime: doc.created_at}"></span>
            <span class="doc-updated-date"
              translate="document.label.updated"
              translate-values="{datetime: doc.updated_at}"></span>
          </div>
        </li>
      </ul>
    </tab>
    <tab heading="activity">
      <ul class="user-activity-items">
        <li class="user-activity-item"
          ng-repeat="activity in activities | orderBy:activityOrder:true">
          <span class="user-activity-title" translate="user.activity.message"
            translate-values="
              {label: activity.label,
              slug: activity.doc.slug,
              title:activity.doc.title}"
            translate-interpolation="messageformat"></span>
          <span class="user-activity-date" translate="document.label.date"
            translate-values="{datetime: activity.created_at }"></span>
          <blockquote>{{ activity.text }}</blockquote>
        </li>
      </ul>
    </tab>
  </tabset>
</div>
