<div class="row">
  <h1 translate="content.edituser.header"></h1>
</div>
<div class="row">
  <form ng-submit="saveUser()">
    <!-- First Name -->
    <div class="form-group">
      <label for="fname" translate="form.edituser.firstname"></label>
      <input type="text" class="form-control" name="fname" id="fname"
        ng-model="user.fname"/>
    </div>
    <!-- Last Name -->
    <div class="form-group">
      <label for="lname" translate="form.edituser.lastname"></label>
      <input type="text" class="form-control" name="lname" id="lname"
        ng-model="user.lname"/>
    </div>
    <!-- Email -->
    <div class="form-group">
      <label for="email" translate="form.edituser.email"></label>
      <input type="email" class="form-control" name="email" id="email"
        ng-model="user.email"/>
    </div>
    <!-- URL -->
    <div class="form-group">
      <label for="url" translate="form.edituser.url"></label>
      <input type="url" class="form-control" name="url" id="url"
        ng-model="user.url" placeholder="https://example.com" />
    </div>
    <!-- Phone -->
    <div class="form-group">
      <label for="phone" translate="form.edituser.phone"></label>
      <input type="tel" class="form-control" name="phone" id="phone"
        ng-model="user.phone" />
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password_1" translate="form.edituser.password"></label>
      <input type="password" class="form-control" name="password_1" id="password_1"
        ng-model="user.password" />
    </div>
    <div class="form-group">
      <label for="password_2" translate="form.edituser.password.confirm"></label>
      <input type="password" class="form-control" name="password_2" id="password_2"
        ng-model="password_confirmation" />
    </div>
    <div class="checkbox">
      <span ng-if="user.verified == 'pending'"
        translate="form.edituser.verify.pending"></span>
      <span ng-if="user.verified == 'verified'"
        translate="form.edituser.verify.verified"></span>
      <span ng-if="user.verified == 'rejected'"
        translate="form.edituser.verify.rejected"></span>
      <label ng-if="user.verified === undefined || user.verified === null">
        <input name="verify" id="verify" type="checkbox"
          ng-model="user.verify_request" />
        <span translate="form.edituser.verify.label"></span>
      </label>
    </div>
    <div class="form-group">
      <!-- Change avatar at gravatar.com -->
      <a href="https://gravatar.com" target="_blank"
        translate="form.edituser.gravatar"></a>
    </div>
    <button type="submit" class="btn btn-default" translate="form.edituser.submit"></button>
  </form>
</div>
