<div class="row">
  <div class="col-md-24">
    <h1 translate="content.verifysponsors.header"></h1>

    <form class="filter-form">
      <h4 translate="form.verify.filter"></h4>
      <fieldset class="btn-group user-status">
        <button type="button" class="btn btn-success"
          ng-class="{active: formdata.status == 'active'}"
          ng-click="formdata.status = 'active'; getRequests()"
          translate="form.verify.active"></button>
        <button type="button" class="btn btn-warning"
          ng-class="{active: formdata.status == 'pending'}"
          ng-click="formdata.status = 'pending'; getRequests()"
          translate="form.verify.pending"></button>
        <!--button type="button" class="btn btn-danger"
          ng-class="{active: formdata.status == 'denied'}"
          ng-click="formdata.status = 'denied'; getRequests()"
          translate="form.verify.denied"></button-->
      </fieldset>
    </form>

    <table class="table table-striped verify-list" ng-show="requests">
      <thead>
        <th translate="form.verify.id"></th>
        <th translate="form.verify.groupname"></th>
        <th translate="form.verify.displayname"></th>
        <th translate="form.verify.status"></th>
      </thead>
      <tbody>
        <tr ng-repeat="(id,request) in requests" id="request-{{ request.id }}">
          <td>{{ request.id }}</td>
          <td>{{ request.name }}</td>
          <td>{{ request.display_name }}</td>
          <td>
            <div class="btn-group user-status">
              <button type="button" class="btn btn-success"
                ng-class="{active: request.status == 'active'}"
                ng-click="update(request, 'active')"
                translate="form.verify.active"></button>
              <button type="button" class="btn btn-warning"
                ng-class="{active: request.status == 'pending'}"
                ng-click="update(request, 'pending')"
                translate="form.verify.pending"></button>
              <!--button type="button" class="btn btn-danger"
                ng-class="{active: request.status == 'denied'}"
                ng-click="update(request, 'denied')"
                translate="form.verify.denied"></button-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-hide="requests">
      <span ng-if="formdata.status == 'active'"
        translate="form.verify.groups.none.active"></span>
      <span ng-if="formdata.status == 'pending'"
        translate="form.verify.groups.none.pending"></span>
      <!--span ng-if="formdata.status == 'denied'"
        translate="form.verify.groups.none.denied"></span-->
    </div>
  </div>
</div>
