.login-button {
    @extend .button;
    @extend .go-button;
    @extend .action-button;
}

.login-help {
    margin:0 1rem;
}

.remember-me {
    margin-top:0;

    label {
        margin-top:0;
        padding-left:0;
    }
}
