.modal-back {
    z-index:1500;
    height: 100%;
    width: 100%;
    background-color: $modal-background;
    position: fixed;
    top: 0;
    left: 0;
}

.popup {
    background: $lighter-grey;
    padding: $side-padding;

    border: 2px solid $medium-grey;
    @include single-box-shadow( 0px, 0px, 5px, $dark-grey );

    position:fixed;
    width: 250px;
    top: 20%;
    left: 50%;
    left: calc(50% - 125px);
}

.popup-close {
    @extend .fa;
    @extend .fa-times;
    cursor:pointer;
    float: right;
}
