server {
  listen 80;

  server_name mymadison.local;
  charset utf-8;

  location / {
    root /path/to/madison/project/client/build;
    index index.html;
    try_files $uri $uri/ /index.html;
  }

  location /api/ {
    root /path/to/madison/project/server/public;
    index index.php;
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    root /path/to/madison/project/server/public;
    fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    include snippets/fastcgi-php.conf;
  }
}

server {
  listen 81;

  server_name mymadison-dev.local;
  charset utf-8;

  location / {
    root /path/to/madison/project/client/app;
    index index.html;
    try_files $uri $uri/ /index.html;
  }

  location /api/ {
    root /path/to/madison/project/server/public;
    index index.php;
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    root /path/to/madison/project/server/public;
    fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    include snippets/fastcgi-php.conf;
  }
}
