<nav class="navbar">
  <ul class="nav navbar-nav">
    <li><a href="/administrative-dashboard/docs"
        translate="menu.admin.nav.documents"></a></li>
    <li><a href="/administrative-dashboard/verify-account"
        translate="menu.admin.nav.verifyaccounts"></a></li>
    <li><a href="/administrative-dashboard/verify-group"
        translate="menu.admin.nav.verifygroups"></a></li>
    <li><a href="/administrative-dashboard/verify-independent"
        translate="menu.admin.nav.verifysponsors"></a></li>
    <li><a href="/administrative-dashboard/notification-settings"
        translate="menu.admin.nav.notifications"></a></li>
    <li><a href="/administrative-dashboard/site-settings"
        translate="menu.admin.nav.settings"></a></li>
  </ul>
</nav>
