<header class="doc-info">
  <h3 class="subheading">
    <a href="/docs/{{ doc.slug }}">{{ doc.title }}</a>
  </h3>
  <div class="doc-sponsor">
    <span ng-hide="doc.discussion_state === 'open'" data-toggle="tooltip"
      data-placement="top" class="fa-stack discussion-closed"
      title="{{ 'document.discussionstate.closed.tooltip' | translate }}">
      <i class="fa fa-comment fa-flip-horizontal fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
    <span translate="document.label.sponsoredby"></span>
    <ul>
      <li ng-repeat="sponsor in doc.sponsors">
        {{ sponsor.display_name }}
      </li>
    </ul>
  </div>
	<div class="doc-categories">
    <ul>
  	  <li class="category" ng-repeat="category in doc.categories"
        ng-click="filterByCategory(category)"
        ><span>{{ category.name }}</span>
      </li>
    </ul>
	</div>
	<div class="doc-statuses">
	  <span class="status"
      ng-repeat="status in doc.statuses">{{ status.label }}</span>
	</div>
</header>
<div class="doc-meta">
	<div class="list-doc-info">
    <div ng-hide="doc.updated_at" class="date"
      translate="document.label.created"
      translate-values="{datetime: doc.created_at}"></div>
    <div ng-show="doc.updated_at" class="date"
      translate="document.label.updated"
      translate-values="{datetime: doc.updated_at}"></div>

    <table class="stats">
      <thead>
        <tr>
          <th translate="document.label.value"></th>
          <th translate="document.label.name"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="stats-value">{{doc.comment_count}}</td>
          <td class="stats-name" translate="document.label.comments"></td>
        </tr>
        <tr>
          <td class="stats-value">{{doc.note_count}}</td>
          <td class="stats-name" translate="document.label.notes"></td>
        </tr>
        <tr>
          <td class="stats-value">{{doc.user_count}}</td>
          <td class="stats-name" translate="document.label.collaborators"></td>
        </tr>
      </tbody>
    </table>

	  <ul class="doc-dates">
	    <li class="date" ng-repeat="date in doc.dates"
        translate="document.label.namedevent"
        translate-values="{datetime: date.date, name: date.label}"></li>
	  </ul>
	</div>
  <div class="read-action">
    <a class="action-button button" role="button" href="/docs/{{ doc.slug }}"
      translate="document.interface.readdocument"></a>
  </div>
</div>
